@value primary, border1, bg1, height-header, width-header-buttons from "theme";

.sidebar{
  border-left: 1px solid border1;
  overflow: hidden;
  padding: 30px;
}
.timeline{
  border-top: 1px solid border1;
  padding: 30px 15px 10px;
}
