<div layout="column" layout-gt-sm="row" class="md-row">
    <div hide-xs hide-sm style="width: 300px;" class="md-col">
        <div class="md-whiteframe-z1">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 flex>Filter Results</h2>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <checkbox-filter filter="statusFilter" show-count="true"></checkbox-filter>
            </md-content>
        </div>
    </div>
    <div flex class="md-col">
        <div class="md-whiteframe-z1">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 flex>Recent Applications - Total: <analytics-count type="application"></analytics-count></h2>
                    <md-button aria-label="refresh" class="md-icon-button" ng-click="applicationsQuery.refresh()">
                        <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
                    </md-button>
                    <md-button aria-label="add" class="md-icon-button" display-table-column-select columns="applicationsQuery.columns">
                        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <modular-table query="applicationsQuery" select="true" scroll-load="true"></modular-table>
            </md-content>
        </div>
        <div layout="row" layout-align="center" class="md-padding" style="margin-bottom: 80px;">
            <md-button class="md-icon-button md-raised md-accent" ng-click="applicationsQuery.more()" aria-label="add more">
                <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </div>
</div>
