edit-toolbar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 64px;
	z-index: 100;
	background-color: #1A1819;
	color: white;
	>div{
		height: 100%;
	}
	.md-button{
		margin: 3px;
	}
	md-icon{
		color: white;
	}

    &.absolute{
        position: absolute;
    }
    &.absolute{
        background: transparent;
    }
    &.white{
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
        color: black;
        box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.03);
        @media (max-width: 959px) {
            box-shadow: none; // Hide boxshadow on small screens when we have sub menu
        }

        md-icon{
            color: rgba(0, 0, 0, 0.3);
        }

    }
}

.edit-active{
	.disable-when-edit{
		pointer-events: none;
		opacity: 0.03;
	}
}
