<div class="social-links rel-box">
    <edit-button ng-if="showEdit" edit-fn="editModal($event)"></edit-button>
    <div ng-hide="edit" ng-style="showEdit && {'margin-right':'35px'}">
        <md-button class="md-icon-button" ng-repeat="key in linkOrder" href="{{links[key].base}}{{data[key]}}" target="_blank" ng-show="data[key]">
            <md-tooltip md-direction="top" md-autohide="true">{{links[key].base | stripHttp }}{{data[key]}}</md-tooltip>
            <md-icon md-font-icon="{{links[key].icon}}" class="fa s32"></md-icon>
        </md-button>
    </div>
    <div class="edit" ng-show="edit">
        <div ng-repeat="key in linkOrder">
            <div class="input" layout="row">
                <p class="text-lightgrey">
                    <span ng-if=" links[key].alt">{{links[key].alt}}</span>
                    <span ng-if="!links[key].alt" class="link-base">{{links[key].base | stripHttp}}</span>
                </p>
                <p flex>
                    <input class="editable" type="text" ng-model="data[key]">
                </p>
            </div>
        </div>
    </div>
</div>
