<md-dialog>
    <md-dialog-content style="width: 500px;">
        <h1 class="md-headline" style="margin-top: 0px;">Edit Social Links</h1>
        <social-links edit="true" data="data" type="{{type}}"></social-links>
        <div layout="row" style="margin-top: 20px">
            <div flex></div>
            <div>
                <md-button class="no-margin-v" ng-click="cancel()">Cancel</md-button>
                <md-button class="md-accent md-raised no-margin-v" ng-click="confirm()">Save</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
