@value primary from "theme";

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 60px;
}

.logo {
  height: 45px;
}
.logo img {
  height: 100%;
}

.badge {
  color: white;
  background: primary;
  width: 12px;
  height: 12px;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 2px;
}
