.input {
  padding: 5px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

/*
.textarea {
  padding: 5px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  resize: none;
  min-height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
*/

.mentionsBox{
  background: white;
  width: 100%;
  margin-bottom: 10px;
  min-height: 80px;
}
.mentionsBox > div > div{
  padding: 5px;
}
.mentionsBox textarea{
  padding: 5px;
  resize: none;
/*
  display: block;
  width: 100%;
  margin-bottom: 10px;
  resize: none;
  min-height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2);
*/
}

.mentionsBox textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.mentionsBox ul{
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 2px 15px rgba(0,0,0,0.1);
}
.mentionsBox li{
  padding: 8px;
}
