@value primary, border1, bg1, height-header, width-header-buttons from "app/renderer/assets/css/themes/standard.css";

.sidebar{
  border-left: 1px solid border1;
  overflow: hidden;
  padding: 30px;
}
.timeline{
  border-top: 1px solid border1;
  padding: 30px 15px 10px;
}
.header{
  padding: 10px 15px;
  border-bottom: 1px solid border1;
  height: height-header;
  padding-right: width-header-buttons;
}
.divider{
  height: 20px;
  margin: 0 15px 0 10px;
  border-left: 1px solid border1;
}
