.blurb {
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.6em;
}

.files {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}

.tags {
  margin-right: 10px;
}
.tags > a {
  margin-bottom: 0
}

.image {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.infoBoxes {
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.infoBoxes > div {
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.infoBoxes > div svg {
  width: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}

