<div ng-show="HorizontalMenuService.enabled" class="horizontal-menu" ng-class="{'mobile':$mdMedia('sm') || $mdMedia('md'), 'landing' : LayoutOptions.header.landing}">
    <!-- MAIN MENU -->
    <div class="fixed-menu" stick-on-scroll-up>
    	<top-banner></top-banner>
		<div class="main-menu" layout="row" layout-align="start center">
            <!-- Left Section -->
            <div flex layout="row" layout-align="start center">
                <md-button analytics-track="HOME btn" class="logo" ui-sref="app.home" aria-label="Home">
					<div style="width: 50px;">
						<img src="assets/images/logo80x80.png"        alt="STEMN logo" class="img-trans" />
					</div>
				</md-button>
            </div>
            <!-- Center Section -->
            <div class="md-content-container md-no-padding" hide-sm hide-md>
                <tabs layout="row" layout-align="start center">
                    <div class="tab h-100" layout="column" ng-repeat="tab in MenuItems.main"  ng-class="{'active':$state.includes(tab.parent || tab.sref)}" hidepublic="{{tab.authenticate}}">
                        <a ui-sref="{{tab.sref}}">{{tab.label}}</a>
                        <popup ng-if="tab.sub" class="tooltip-menu" popup-side="bottom" popup-position="center" popup-padding="-1px 0 0 0" layout="column">
                            <a ng-repeat="item in tab.sub" class="md-subhead" ui-sref-active="active" ui-sref="{{item.sref}}" ng-class="{'divider':item.divider}">{{item.label}}</a>
                        </popup>
                    </div>
                    <md-button ng-show="MenuItems.more.length > 0" class="md-icon-button md-sm md-grey" aria-label="more">
					    <md-icon md-svg-icon="navigation:more_horiz"></md-icon>
                        <popup class="tooltip-menu" popup-side="bottom" popup-position="center" popup-padding="11px 0 0 0" layout="column">
                            <a ng-repeat="item in MenuItems.more" class="md-subhead" ng-class="{'divider':item.divider}" ui-sref="{{item.sref}}" ui-sref-active="active" hidepublic="{{item.authenticate}}">{{item.label}}</a>
                        </popup>
					</md-button>
                </tabs>
            </div>
            <!-- Faux Right Section -->
            <div flex></div>
            <!-- Absolute Right Section -->
            <div class="right" flex layout="row" layout-align="end center">
				<md-button analytics-track="Create btn" ng-if="user.isLoggedIn()" hide-sm authenticate class="md-accent md-raised md-flat md-cornered no-margin hide-landing md-border-green" style="min-width: 105px; height: 40px; line-height: 40px; margin-right:10px !important" click-create-project>
					New Project
				</md-button>
                <md-button analytics-track="Search btn" ui-sref="app.search.all" hide-gt-md class="md-icon-button" aria-label="search"><md-icon md-svg-icon="search"></md-icon></md-button>
				<site-search hide-sm hide-md class="hide-landing"></site-search>
				<notifications class="hide-landing" ng-if="user.isLoggedIn()"></notifications>
				<user-settings-dropdown hide-sm ng-if="user.isLoggedIn()"></user-settings-dropdown>
				<md-button analytics-track="Sign In btn" class="md-lower md-accent md-md" ng-click="openLoginModal($event)" style="margin-right: 5px" ng-if="!user.isLoggedIn()">
					Sign in
				</md-button>
                <md-button analytics-track="Menu btn" hide-gt-md class="md-icon-button" ng-click="toggleMenu()" aria-label="Menu"><md-icon md-svg-icon="menu"></md-icon></md-button>
            </div>
		</div>
    </div>
    <!-- SUB MENU -->
    <div class="sub-menu" hide-gt-md>
        <div class="text-tabs tabs-black" layout="row">
            <a class="md-subhead" ng-repeat="tab in MenuItems.main" hidepublic="{{tab.authenticate}}" ui-sref="{{tab.sref}}" ng-class="{'active':$state.includes(tab.sref)}">{{tab.label}}</a>
            <div ng-show="MenuItems.more.length > 0" class="p-r-10" layout="column" layout-align="center">
                <md-icon md-svg-icon="navigation:more_horiz"></md-icon>
                <popup class="tooltip-menu" popup-side="bottom" popup-position="center" popup-padding="11px 0 0 0" layout="column">
                    <a ng-repeat="item in MenuItems.more" class="md-subhead" ng-class="{'divider':item.divider}" ui-sref="{{item.sref}}" ui-sref-active="active" hidepublic="{{item.authenticate}}">{{item.label}}</a>
                </popup>
            </div>
        </div>
    	<div class="highlight-overlay" style="position: absolute" ng-show="LayoutOptions.overlay.highlight"></div>
    </div>
</div>
<user-settings-sidebar></user-settings-sidebar>
