.timeline{
    border-bottom: 1px solid #6d6d6d;
    position: relative;
    margin: 30px 0;

    .epoch{
        width: 10px;
        height: 10px;
        margin-top: -5px;
        position: absolute;
        border-radius: 50%;
        background: #bababa;
    }

}
