<div class="results-block card-z1 m-b-15" ng-show="results.field.length > 0">
    <a ui-sref="app.search.fields"><div class="md-subhead m-b-15">Fields <span class="pull-right text-green">More</span></div></a>
    <tags tags="results.field" type="field" size="sm"></tags>
</div>
<div class="results-block card-z1 m-b-15" ng-show="results.organisation.length > 0">
    <a ui-sref="app.search.organisations"><div class="md-subhead m-b-15">Organisations <span class="pull-right text-green">More</span></div></a>
    <row-view ng-repeat="result in results.organisation" class="anim-repeat-slide sm" data="result"></row-view>
</div>
<div class="results-block card-z1 m-b-15" ng-show="results.user.length > 0">
    <a ui-sref="app.search.users"><div class="md-subhead m-b-15">Users <span class="pull-right text-green">More</span></div></a>
    <row-view ng-repeat="result in results.user" class="anim-repeat-slide sm" data="result"></row-view>
</div>
<div class="results-block card-z1 m-b-15" ng-show="results.project.length > 0 || results.thread.length > 0">
    <a ui-sref="app.search.creations"><div class="md-subhead m-b-15">Creations <span class="pull-right text-green">More</span></div></a>
    <row-view ng-repeat="result in results.project" class="anim-repeat-slide sm" data="result"></row-view>
    <row-view ng-repeat="result in results.thread"  class="anim-repeat-slide sm" data="result"></row-view>
</div>
<div class="results-block card-z1 m-b-15" ng-show="results.job.length > 0">
    <a ui-sref="app.search.jobs"><div class="md-subhead m-b-15">Jobs <span class="pull-right text-green">More</span></div></a>
    <row-view ng-repeat="result in results.job" class="anim-repeat-slide sm" data="result"></row-view>
</div>
