<div layout="row" layout-align="center start" class="siteSearchView">
    <div layout="column" class="md-content-container m-v-30">
        <div class="md-subhead m-b-15">Search query:</div>
        <input focus-me="true" class="searchBox well capitalise" placeholder="Search {{type}}" type="search" ng-model="query.string" ng-change="searchQuery()" ng-enter="scrollOnEnter()">
        <div class="text-tabs m-t-30 m-b-30" layout="row">
            <a class="md-subhead" ng-class="{'active':$state.includes(tab.sref)}" ng-repeat="tab in tabs" ui-sref="{{tab.sref}}">{{tab.label}}</a>
        </div>
        <ui-view></ui-view>
        <h3 ng-show="noMoreResults" class="md-subhead">No More Results</h3>
        <div ng-show="!noMoreResults && query.string.length > 0 && type != 'all'" layout="row" layout-align="center center" style="margin-top:20px">
            <md-button class="md-circle md-accent md-raised md-sm" ng-click="moreResults()">
                <md-icon md-svg-icon="add"></md-icon>
                <md-tooltip md-direction="bottom" md-autohide="true">Load more</md-tooltip>
            </md-button>
        </div>
    </div>
</div>
