<form name="forms.generalForm">
    <h2 class="md-display-1">Create Project</h2>
    <div layout="column" layout-gt-md="row" class="md-row">
        <div class="md-col m-b-30" flex="100" flex-gt-md="40">
            <div class="text-subtitle-thin">Enter general display details such as project name and blurb. Remember to set a blurb if you want to open-source your project.</div>
        </div>
        <div class="md-col" flex="100" flex-gt-md="60">
            <div class="card-z1 card-padding m-b-30">
                <div class="md-subhead" flex>Project Name</div>
                <md-input-container class="md-accent">
                    <label>Name</label>
                    <input name="name" ng-model="project.name"
                    required type="text" focus-me="true">
                    <div ng-messages="forms.nameForm.name.$error" ng-if="forms.nameForm.name.$dirty">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div class="card-z1 card-padding m-b-30">
                <div class="md-subhead m-b-15" flex>Project Blurb</div>
                <div class="angular-medium-editor" medium-editor name="blurb" ng-model="project.summary" editor-type="text" style="min-height: 100px;" placeholder="What is this project investigating? Your project blurb should be simple yet specific."></div>
            </div>
            <div class="card-z1 card-padding m-b-30" ng-show="project.fields.length > 0 || project.organisations.length > 0 || project.projects.length > 0">
                <div class="md-subhead m-b-15" flex>Project Tags</div>
                <p class="body-small">This project will be linked to the following pages: (you can change this later)</p>
                <tags edit="false" size="sm" tags="project.projects" type="project"></tags>
                <tags edit="false" size="sm" tags="project.organisations" type="organisation"></tags>
                <tags edit="false" size="sm" tags="project.fields" type="field"></tags>
            </div>
        </div>
    </div>
</form>
