.content {
  padding-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
.threadsPanel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  position: relative;
}

.thread {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.thread:last-child {
  border-bottom: none;
}

.panel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.panel h3 {
  margin: 0;
  padding: 15px 15px 10px 15px;
}

.noResult {
  padding: 20px;
}

.search {
  width: 100%;
}

@media (max-width: 599px) {
  .search {
    margin-bottom: 15px;
  }
  .filterRow {
    margin-bottom: 15px;
  }
}
