@value primary, bg1 from "theme";

.button {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  margin-left: 10px;
  color: primary;
  transform: 0.3s ease all;
}
.button:hover {
  background: bg1;
}

.indicator {
  background: white;
  margin-top: 10px;
  padding: 0 10px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
  height: 30px;
  cursor: default;
}
