.container{
  margin: 30px;
  height: 600px;
  box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.23);
}
.imageSection{
  background: rgb(68, 154, 211);
  width: 600px;
  position: relative;
  z-index: 1;
}
.textSection{
  background: white;
  width: 400px;
  position: relative;
  transition: all 0.3s ease;
}
.textSectionInner{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  padding: 40px;
  transition: all 0.3s ease;
}

.container.hideForm .textSection{
  width: 0px;
}
.container.hideForm .textSectionInner{
  transform: translateX(-100%);
}

.input{
  margin-top: 5px;
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.input:focus{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.textDivider{
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center
}
.textDivider div{
  background-color: white;
  padding: 12px 10px 0;
  display: inline-block;
  font-weight: 300;
}
