.field-card {
    .content {
        padding: 15px !important;
    }
    .content .name {
        font-size: 15px !important;
        font-weight: 400 !important;
        margin-bottom: 10px !important;
    }
    .banner div {
        height: 100px !important;
    }
}
