<div ng-if="!userPermissions.isMin('admin')" class="border-box-white p-60 text-center">
    <div class="text-subtitle-thin">You must be an Admin to change team settings.</div>
</div>

<form ng-if="userPermissions.isMin('admin')" name="forms.permissionsForm" novalidate>
    <h2 class="md-display-1">Team & Collaborators</h2>
    <div layout="column" layout-gt-md="row" class="md-row">
        <div class="md-col m-b-30" flex="100" flex-gt-md="40">
            <div class="text-subtitle-thin">Invite your collaborators. If you've connected your project with Dropbox, your team members will be invited to edit.</div>
        </div>
        <div class="md-col" flex="100" flex-gt-md="60">
            <div id="team" class="card-z1 card-padding m-b-30">
                <div class="md-subhead m-b-15" flex>Add team members</div>
                <users-permissions-edit users="project.team" user-permissions="userPermissions" parent="project"></users-permissions-edit>

            </div>
        </div>
    </div>

    <md-divider class="m-v-60"></md-divider>

    <h2 class="md-display-1">Permissions</h2>
    <div layout="column" layout-gt-md="row" class="md-row">
        <div class="md-col m-b-30" flex="100" flex-gt-md="40">
            <div class="text-subtitle-thin">Select an appropriate project type and license. A public project with creative commons license is recommended.</div>
        </div>
        <div class="md-col" flex="100" flex-gt-md="60">
            <div id="projectType"  class="card-z1 card-padding m-b-30">
                <div class="md-subhead m-b-20" flex>Project Type</div>
                <project-type-radios></project-type-radios>
            </div>
            <div id="link" class="card-z1 card-padding m-b-30" ng-show="project.permissions.projectType == 'private'">
                <div class="md-subhead" flex>Private Link</div>
                <p class="body-small">Only team members and people with the private link can view. If you create a new private link, the old link will stop working.</p>
                <div class="select-on-click-box m-b-15" select-on-click>
                    {{secretUrl}}
                    <md-tooltip md-direction="bottom" md-autohide="true">Click to highlight URL</md-tooltip>
                </div>
                <div layout="row" layout-align="start center">
                    <md-button ng-click="newSecretUrl()" class="md-accent md-raised md-flat md-cornered md-md m-l-0">Create new link</md-button>
                </div>
            </div>
            <div id="license" ng-show="project.permissions.projectType == 'public'" class="card-z1 card-padding m-b-30">
                <div class="md-subhead" flex>Copyright License</div>
                <p class="body-small">Protect your work by selecting an appropriate license.</p>
                <project-licenses></project-licenses>
            </div>
            <div id="publish" class="card-z1 card-padding m-b-30" ng-show="project.permissions.projectType == 'public' && !project.published">
                <div class="md-subhead" flex>Publish Project</div>
                <p class="body-small">Your project will not be publicly available until it is published.</p>
                <md-button ng-click="publish($event)" class="md-accent md-raised md-flat md-cornered md-md m-l-0">Publish Project</md-button>
            </div>
        </div>
    </div>
</form>
