@value primary, secondary, bg1, border1 from "app/renderer/assets/css/themes/standard.css";

.timelineRow{
  border-bottom: 1px solid border1;
  cursor: default;
}
.text{
  padding-left: 10px;
}
.inner{
  padding: 8px;
}

.timelineRow.active{
  background: primary !important;
  color: white;
}
.timelineRow:hover{
  background: bg1;
}
