@value primary, border1 from "app/renderer/assets/css/themes/standard.css";

.timeline{
  padding: 60px 30px;
  background: #f8f8f8;
  color: white;
  border-bottom: 1px solid border1;
}

.line{
  display: block;
  height: 4px;
  width: 100%;
  background: rgb(153, 153, 153);
  position: relative;
}
.dot{
  border-radius: 50%;
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  margin-top: -6px;
  background: rgb(153, 153, 153);
  border: 2px solid #f8f8f8;
  transition: 0.1s ease all;
}
.dot.active{
  background: primary;
  height: 20px;
  width: 20px;
  margin-top: -8px;
  margin-left: -2px;
  z-index: 1;
}

.popup{
  padding: 8px;
}
.popupImage{
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
