@value primary, border1, timeline-main, timeline-bg from "app/renderer/assets/css/themes/standard.css";

.timeline{
  padding: 60px 30px 40px;
  background: timeline-bg;
  color: white;
  border-bottom: 1px solid border1;
}
.line{
  display: block;
  height: 2px;
  width: 100%;
  background: timeline-main;
  position: relative;
}

.dotsOverflow{
  overflow: hidden;
  width: 100%;
  height: 20px;
  transform: translateY(-50%);
  margin-top: -1px;
  padding: 0px 20px;
}
.dotsPosContainer{
  position: relative;
  width: 100%;
  height: 100%;
}
