.landingRecruitingView{
    .stat-section{
        text-align: center;
        .title{
            font-size: 15px;
            font-weight: 600;
        }
        .stat{
            width: 160px;
            line-height: 160px;
            background: white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin: 15px auto;
            font-size: 35px;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 300;
        }
        .description{
            line-height: 1.6em;
            color: rgba(0, 0, 0, 0.5);
            width: 160px;
            margin: auto;
        }
    }

    .faq-section{
        p{
            font-size: 13px;
            line-height: 1.8em;
        }
    }
}
