<div layout="row" layout-align="center">
    <div class="md-content-container m-b-30">
        <h1 class="md-display-1">Things {{user.profile.firstname}} follows</h1>
        <following-detailed class="block m-b-60" user-id="{{user._id}}" show-divider="true" size="3" type="field" ></following-detailed>
        <following-detailed class="block m-b-60" user-id="{{user._id}}" show-divider="true" size="3" type="organisation"></following-detailed>
        <following-detailed class="block m-b-60" user-id="{{user._id}}" show-divider="true" size="3" type="project"></following-detailed>
        <following-detailed class="block m-b-60" user-id="{{user._id}}" show-divider="true" size="3" type="thread"></following-detailed>
        <following-detailed class="block m-b0"   user-id="{{user._id}}" show-divider="true" size="3" type="user"></following-detailed>
    </div>
</div>
