<div class="filter-bar">
    <div class="filter-left">
        <button ui-sref="{projectview:'block'}" type="button" class="btn btn-white" style="width: 38px;" ng-class="{'active' : view=='block'}" ng-click="view='block'"
           tooltip="Block view" tooltip-placement="bottom">
            <icon class="fa-square-o"></icon>
        </button>
        <button ui-sref="{projectview : 'map'}" class="btn btn-white hidden-xs" style="width: 38px;" ng-class="{'active' : view=='map'}" ng-click="view='map'"
           tooltip="Map view" tooltip-placement="bottom">
            <icon class="fa-map-marker"></icon>
        </button>
    </div>
    <div class="filter-right">
        <div class="inline" style="width: 200px; padding-left: 10px;">
            <ui-select ng-model="active.filter" on-select="updateFilter()">
                <ui-select-match placeholder="Filter threads by:">{{$select.selected.text}}</ui-select-match>
                <ui-select-choices repeat="item in filters | filter: $select.search">
                    <div ng-bind-html="item.text | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <button style="width: 38px; margin-left: 10px;" type="button" class="btn btn-white" ng-click="active.filter.reverse=!active.filter.reverse; updateFilter()">
            <icon class="fa-chevron-up" ng-show="active.filter.reverse"></icon>
            <icon class="fa-chevron-down" ng-hide="active.filter.reverse"></icon>
        </button>
    </div>
</div>
