@value primary-bg, primary-bg-hover, primary, border1, secondary from "theme";

.button{
  display: block;
  width: 100%;
  background: none;
  outline: none;
  position: relative;
  padding: 12px;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease all;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid border1;
}
.button:last-child{
  border-bottom: none;
}
.button:hover{
  background: rgba(0, 0, 0, 0.05);
}
.button:global(.active):after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  bottom: 0;
  top: 0;
  width: 2px;
  background: primary-bg;
}
.button:global(.active) {
  color: primary;
}

.button:global(.primary){
  background: primary-bg;
  color: white;
}
.button:global(.primary):hover{
  background: primary-bg-hover;
}
