.content {
  margin-bottom: 60px;
}

.subHeader {
}

.innerContent {
  padding-top: 30px;
  position: relative;
}

.commitPanel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  background: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.emptyPanel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 30px;
}

.commit {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.summary {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}
.meta {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.meta a{
  color: rgba(0, 0, 0, 0.8);
}

.avatar {
  margin-right: 10px;
}

.search {
  width: 100%;
}

@media (max-width: 599px) {
  .search {
    margin-bottom: 15px;
  }
}

.graphPanel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  margin-bottom: 30px;
  padding: 15px;
}
