<div class="rel-box" style="min-height: 200px;" infinite-scroll="query.more()" infinite-scroll-distance="1" infinite-scroll-container="'.main-content-container'" infinite-scroll-disabled="!scrollLoad || query.loading || query.noMoreResults">
    <table class="md-table">
        <thead>
            <tr>
                <th ng-repeat="column in (columns || query.columns) | filter:{status:true}" ng-class="column.class"
                filter-column-order filter-object="query.filters.columnOrder" filter-model="{{column.model}}" filter-reverse="true" filter-query="query" filter-enabled="{{column.sort}}"
                compile="column.headerTemplate"
                style="width: {{column.width}}">{{column.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in query.results">
                <td ng-repeat="column in (columns || query.columns) | filter:{status:true}" compile="column.template" class="{{column.class}}">
                    {{item[column.model]}}
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="query.noMoreResults" class="text-lightgrey text-center" style="padding: 30px 15px;">
        No More Results
    </div>
    <loading-overlay ng-if="query.loading" ng-class="{'translucent' : query.results.length > 0}"></loading-overlay>
    <selected-rows-overlay selected-rows-object="_selectedRows" selected-rows-array="selectedRows"></selected-rows-overlay>
</div>
