<h2 class="md-display-1">Application Status</h2>
<div layout="column" layout-gt-md="row" class="md-row" infinite-scroll="query.more()" infinite-scroll-distance="1" infinite-scroll-disabled="query.loading || query.noMoreResults">
    <div class="md-col m-b-30" flex="100" flex-gt-md="40">
        <div class="text-subtitle-thin">When your job application changes status you will be notified here.</div>
    </div>
    <div class="md-col" flex="100" flex-gt-md="60">
        <notification-cards query="query" type="['own-application-pendingReview', 'own-application-underReview', 'own-application-awaitingUpdate', 'own-application-submitted', 'own-application-rejected', 'own-application-processLater']"></notification-cards>
        <div ng-show="query.results.length == 0" class="card-z1 text-no-results text-center">You have no application notifications yet.<br>These will only show if you have submitted a job application</div>
    </div>
</div>
