@value primary, border1, bg1, height-header, width-header-buttons from "theme";

.sidebar{
  border-left: 1px solid border1;
  overflow: hidden;
  padding: 30px;
}
.timeline{
  border-top: 1px solid border1;
}

.divider{
  height: 20px;
  margin: 0 15px 0 10px;
  border-left: 1px solid border1;
}
