<h2 class="md-display-1">About you</h2>
<div layout="column" layout-gt-md="row" class="md-row">
    <div class="md-col m-b-30" flex="100" flex-gt-md="40">
        <div class="text-subtitle-thin">Add some basic account info. You'll be able to add more details later.</div>
    </div>
    <div class="md-col" flex="100" flex-gt-md="60">

       <form name="forms.overview">

            <div class="card-z1 card-padding m-b-30 rel-box">
                <div class="md-subhead">Want to get a head start?</div>
                <p>Import your profile from Linkedin. This will automatically fill out your profile picture, education and experience.</p>
                <md-button class="md-social md-linkedin md-md m-l-0 md-cornered" ng-click="linkedinImport()">Import from Linkedin</md-button>
                <loading-overlay ng-if="linkedinLoading"></loading-overlay>
            </div>

            <div class="card-z1 card-padding m-b-30">
                <div class="md-subhead">Profile Photo</div>
                <div layout="column" layout-gt-sm="row" layout-align="start center" class="m-t-30">
                    <upload-image icon="true" image="user.profile.picture" ng-model="user.profile.picture" circle="true" name="ProfileImage">
                        <img class="avatar-circle avatar-xl" ng-src="{{user.profile.picture || '/assets/images/default/user-1.png' }}?size=user&crop=true">
                    </upload-image>
                    <div flex class="text-center">
                        <div ng-show="user.profile.picture">
                           <p ng-show="linkedinImported">Your LinkedIn photo is low resolution. Consider uploading another now.</p>
                           <p ng-hide="linkedinImported">Looking good!</p>
                        </div>
                        <div ng-hide="user.profile.picture">
                            <p>Profiles with a photo get 78% more views</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-z1 card-padding m-b-30">
                <div layout="row">
                    <div class="md-subhead" flex>Mini Resume</div>
                    <div class="notes">Required</div>
                </div>
                <p>Introduce yourself in 100 characters</p>
                <md-input-container class="md-accent">
                    <label>e.g. MIT AeroAstro, Materials and Structures specialist; worked at SpaceX</label>
                    <textarea required ng-model="user.blurb" md-maxlength="100"
                    name="Blurb"></textarea>
                    <div ng-messages="forms.overview.Blurb.$error" ng-if="forms.overview.Blurb.$dirty">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">Your blurb has to be less than 100 characters long.</div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </div>
</div>

