@value primary, border1, bg1 from "app/renderer/assets/css/themes/standard.css";

.taskListItem{
  height: 45px;
  line-height: 45px;
  background: none;
  transition: 0.2s ease background;
  padding-left: 10px;
  position: relative;
}
.taskListItem:hover{
  background: bg1;
}
.taskListItem > div{
  padding: 0px 10px;
}

.user{
  color: rgba(0, 0, 0, 0.6);
  width: 140px;
}


.taskListItem:hover .date{
  opacity: 0;
}
.date{
  opacity: 1;
  width: 100px;
}

.taskListItem:hover .actions{
  opacity: 1;
}
.actions{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.isDragging{
  opacity: 0.5;
}

/* Animations */
.enter, .appear{
  transition: height 300ms ease;
  height: 0px;
  overflow: hidden;
}
.enterActive, .appearActive{
  height: 45px;
  overflow: hidden;
}
.leave{
  overflow: hidden;
  height: 45px;
  transition: height 300ms ease;
}
.leaveActive{
  overflow: hidden;
  height: 0px;
}
