@value primary, border1, bg1 from "app/renderer/assets/css/themes/standard.css";

.isDragging{
  opacity: 0.5;
}

.listItem{
  height: 45px;
  background: none;
  transition: 0.2s ease background;
  padding-left: 10px;
  position: relative;
}
.listItem:hover{
  background: bg1;
}
.listItem > div{
  padding: 0px 10px;
}
.listUser{
  color: rgba(0, 0, 0, 0.6);
  width: 140px;
}
.listItem:hover .listDate{
  opacity: 0;
}
.listDate{
  opacity: 1;
  width: 100px;
}
.listItem:hover .listActions{
  opacity: 1;
}
.listActions{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}


/* Card */
.card{
  border: 1px solid border1;
  margin-bottom: 15px;
  background: white;
  transition: 0.15s;
  cursor: pointer;
}
.cardBody{
  padding: 15px;
}
.cardFooter{
  padding: 10px 15px;
  border-top: 1px dashed border1;
}
.cardText{
  margin-left: 4px;
  padding: 0px 10px;
  line-height: 1.4em;
  margin-top: -4px;
}
