dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 50%;
    background-color: #E5E5E5;
    &.dot-lg{
        width: 12px;
        height: 12px;
    }
    &.green{
        background-color: #8BC34A;
    }
    &.red{
        background-color: #F44336;
    }
}
