
.background-gradient-1 {
    background: linear-gradient(90deg, #5e8add 10%, #97f7b1 90%);
}
.background-gradient-2 {
    background: linear-gradient(90deg, #87EADF 10%, #c9ed77 90%);
}
.background-gradient-3 {
    background: linear-gradient(90deg, #EE3271 10%, #C9F38C 90%);
}
.background-gradient-4 {
    background: linear-gradient(90deg, #ffc785 10%, #d04d8e 90%);
}
.background-gradient-5 {
    background: linear-gradient(90deg, #8250af 10%, #88D6B4 90%);
}
.background-gradient-6 {
    background: linear-gradient(90deg, #89B3FB 10%, #bb70e3 90%);
}

/* Other 3rd Part Modules */
/* Sticky */
[sticky]{
    z-index:1;
}
