.m-0{
    margin: 0px !important;
}
.m-10{
    margin: 10px;
}
.p-0{
    padding: 0px !important;
}
.m-t-0{
    margin-top: 0px !important;
}
.m-l-0{
    margin-left: 0px !important;
}
.m-r-0{
    margin-right: 0px !important;
}
.m-a{
    margin: auto;
}
.p-2{
    padding: 2px;
}
.p-5{
    padding: 5px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-b-0{
    padding-bottom: 0;
}
.p-60{
    padding: 60px;
}
.p-l-15{
    padding-left: 15px;
}
.p-r-15{
    padding-right: 15px;
}
.p-h-10{
    padding-left: 10px;
    padding-right: 10px;
}
.p-h-15{
    padding-left: 15px;
    padding-right: 15px;
}
.p-v-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.p-v-10{
    padding: 10px 0;
}
.p-v-15{
    padding: 15px 0;
}
.p-v-30{
    padding: 30px 0;
}
.p-v-40{
    padding: 40px 0;
}
.p-v-60{
    padding: 60px 0;
}
.p-b-20{
    padding-bottom: 20px;
}
.p-b-30{
    padding-bottom: 30px;
}
.p-b-60{
    padding-bottom: 60px;
}
.m-h-15{
    margin-left: 15px;
    margin-right: 15px;
}
.m-v-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.m-v-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.m-v-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-v-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-v-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-v-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-v-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.m-v-60{
    margin-top: 60px;
    margin-bottom: 60px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-15{
    margin-top: 15px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-60{
    margin-top: 60px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-b-60{
    margin-bottom: 60px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-30{
    margin-right: 30px;
}
.m-l-10{
    margin-left: 10px;
}
.m-l-15{
    margin-left: 15px;
}

.p-l-0{
    padding-left: 0px;
}
.p-r-30{
    padding-right: 30px;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.w-100x{
    width: 100px;
}
.h-50{
    height: 50%;
}
.h-100{
    height: 100%;
}
.r-180{
    transform: rotate(180deg)
}
.o-0{
    opacity: 0;
}
