.tables {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.currencyInfo {
  margin-top: 10px;
  text-align: right;
}

.changePlan {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 60px;

  h3 {
    margin: 15px 0;
  }
  h4 {
    margin-bottom: 30px;
  }
}
