stemn-frontend-admin/node_modules/*

stemn-frontend-website/.happypack/*
stemn-frontend-website/dist/*
stemn-frontend-website/reports/*
stemn-frontend-website/node_modules/*

stemn-frontend-desktop/.happypack/*
stemn-frontend-desktop/dist/*
stemn-frontend-desktop/release/*
stemn-frontend-desktop/reports/*
stemn-frontend-desktop/node_modules/*

node_modules