<bannerheader colour="['#7332cb', '#00ff80']">
    <h1>Join our mission.</h1>
</bannerheader>

<fat-tabs>
    <a flex ui-sref-active="active" ui-sref="{tab : 'leader'}">STEMN Leaders</a>
    <a flex ui-sref-active="active" ui-sref="{tab : 'devs'}">Developers</a>
</fat-tabs>

<md-container class="static-page">
    <div ng-if="tab=='leader'">
        <div class="section-title">
            <h3>"The sky calls to us. If we do not destroy ourselves, we will one day venture to the stars." -Carl Sagan</h3>
        </div>
        <p>Our plan is simple: take our species multi-planetary. It's a tall order for sure, but we're not ones to shy away from a challenge. </p><br>

        <p>We believe it starts with the community. The keys to success of any mission are the people behind it. Scientists, Engineers, and makers around the world are all doing their bit to advance our understanding of the universe. But most are isolated within the sandbox of their immediate community; shielded from the knowledge and opportunities of those beyond.</p><br>

        <p>At STEMN, we're looking for leaders. Leaders who dare question authority, who dare challenge tradition, who dare step outside the box. STEMN Leaders may not have experience, but they also don't have excuses. </p><br>

        <p>STEMN Leaders inspire their communities and measure themselves by the number of minds they inspire and connect. STEMN Leaders bridge the gap between the industry leaders and the budding enthusiasts. STEMN Leaders are ambassadors to their community, and they take full responsibility for devising and executing a winning plan.</p><br>

        <p>If you believe in our vision, and are up to the challenge (it will be a challenge), send your <strong>winning plan</strong> and a <strong>link to your STEMN profile</strong> to <strong><span style="color: #8DC63F" >mars@stemn.com</span></strong>.</p>
        <md-button ng-disabled="loading" class="md-raised md-accent no-margin" ng-click="authenticate('linkedin');">Apply with Linkedin</md-button>
    </div>

    <div ng-if="tab!='leader'">
        <div class="section-title">
            <h3>We are looking for devs and interns</h3>
        </div>
        <h3><strong>JavaScript Web Developer</strong></h3>
        <p>Welcome to STEMN. We’re building an Open Science ecosystem that is home to all STEM projects. We are a small team of gutsy&nbsp;engineers with a people-centric ethos. At STEMN, you’ll get the opportunity to turn your ideas into reality. Be a part of our fast-paced growing tech company that is accelerating scientific knowledge.</p>
        <p>We’re looking for skilled software engineers who can not only handle the full MEAN stack, but also care about efficiency and maintainable software. We strive to create a fast and&nbsp;reliable application to continuously ship updates. You should be experienced with web development and Javascript.</p>
        <h3>The Must Haves:</h3>
        <ul>
            <li>Expert knowledge of Javascript</li>
            <li>Stellar software engineering principles in architecture and implementation</li>
            <li>Comfortable taking the lead on projects and working without lots of oversight</li>
        </ul>
        <h3>The Nice to Haves:</h3>
        <ul>
            <li>Experience with Node.JS and&nbsp;AngularJS</li>
            <li>Knowledge of storage systems such as MongoDB</li>
            <li>History of full life cycle management of software projects, from inception to roll out</li>
        </ul>
        <p>Our development cycle is extremely fast; if you think you have what it takes, email your Github profile or previous project experience and resume to <strong>careers@stemn.com</strong>.</p>
        <md-button ng-disabled="loading" class="md-raised md-accent no-margin" ng-click="authenticate('linkedin');">Apply with Linkedin</md-button>
    </div>
</md-container>
