<div>

	<form name="TestForm">
		<md-container>
			<md-button ng-click="edit.enabled = !edit.enabled">Toggle Edit - Status {{edit.enabled}}</md-button>
			<realtime-editor-save-status></realtime-editor-save-status>
		</md-container>
<!--		<modular-editor editor-sections="sectionData" editor-options="editorOptions" edit="edit.enabled"></modular-editor>-->
		<modular-editor editor-sections="project.sectionData" editor-options="editorOptions" edit="edit.enabled" realtime-editor entity-id="547db55af7f342380174e212" entity-type="project"></modular-editor>
	</form>
</div>



<!--
<md-container>
	<div ng-repeat="post in posts">
		{{post._id}}
		<post data="post" parent="parent"></post>
	</div>
</md-container>
-->

