@value primary-bg, border1, primaryLight1, primaryLight2, border1, bg1 from "theme";

.button {
  border: none;
  outline: none;
  min-width: 60px;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background: bg1;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid border1;
  min-height: 33px;
}

.button:global(.primary) {
  background: primary-bg;
  color: white;
}

.button:global(.lg) .main {
  padding: 12px 15px;
  font-size: 14px;
}

.button > div {
  transition: 0.3s ease all;
}
.button > div:hover {
  background: rgba(0, 0, 0, 0.03);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.main svg {
  margin-right: 5px;
}

.count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  min-width: 30px;
  padding: 0 3px;
  border-left: 1px solid border1;
}
