.jobView{
    .sidebar{
        width: 350px;
        @media (max-width: 599px) {
            margin-top: 20px;
            width: 100%;
        }
    }

//    .map{
//        display: block;
//        width: 100%;
//        height: 200px;
//        .leaflet-compact-attribution{
//            display: none !important;
//        }
//    }
}
