<div layout="row" layout-align="center" class="p-b-30 userOnboarding" layout-offset-horizontal-menu-force>

    <edit-toolbar class="white p-h-15">
        <div flex></div>
        <div class="md-content-container md-no-padding" hide-sm hide-md>
            <div class="onboarding-steps" layout="row" layout-align="start center">
                <div ng-repeat="tab in tabs" ng-hide="tab.hideCondition();" layout="row" layout-align="start center">
                    <a class="md-subhead" ng-class="{'active':$state.includes(tab.sref)}" ng-click="tab.click()">{{tab.label}}</a>
                    <md-icon md-svg-icon="chevron-right" ng-hide="$last"></md-icon>
                </div>
            </div>
        </div>
        <div flex></div>
    </edit-toolbar>
    <div class="main-horizontal-sub-menu" hide-gt-md>
        <div class="text-tabs" layout="row">
            <a class="md-subhead" ng-repeat="tab in tabs" ui-sref="{{tab.sref}}" ng-class="{'active':$state.includes(tab.sref)}">{{tab.label}}</a>
        </div>
    </div>

    <div class="md-content-container overflow-x-box">
<!--
        <div class="text-tabs text-tabs-top m-t-40 m-b-60" layout="row">
            <a class="md-subhead" ng-class="{'active':$state.includes(tab.sref)}" ng-repeat="tab in tabs" ng-click="tab.click()">{{tab.label}}</a>
        </div>
-->
        <ui-view></ui-view>
    </div>
</div>
