<md-dialog aria-label="dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Compose Email</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" aria-label="Close dialog" style="fill: white"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="width:900px; max-height:810px; padding: 20px;">

            <div layout="row">
                <md-input-container flex class="md-block">
                    <label>Message Type</label>
                    <md-select ng-model="messageType.model" ng-change="messageType.onChange()" placeholder="Select message type">
                        <md-option ng-repeat="item in templates" value="{{item.name}}">{{item.name}}</md-option>
                    </md-select>

                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>Message Subject</label>
                    <input required name="title" ng-model="email.message.subject">
                </md-input-container>
            </div>
            <md-input-container flex class="md-block md-input-has-value">
                <label>Message Content</label>
                <medium-editor ng-model="email.message.html"></medium-editor>
            </md-input-container>

<!--
            <div layout="row">
                <md-input-container flex class="md-block">
                    <label>From Name</label>
                    <input required name="fromName" ng-model="email.sender.name">
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>From Email</label>
                    <input required name="fromEmail" ng-model="email.sender.email">
                </md-input-container>
            </div>
-->
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" ng-click="save()">
                Send
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
