<md-dialog aria-label="Select File">
    <div class="md-modal-header text-subtitle-thin" layout="row" layout-align="start center">
        <span class="text-black">Select file</span>
    </div>

    <md-dialog-content class="overflow-x-box rel-box p-0">
        <div class="md-content-container content-sm" style="padding: 0;">
            <sync-file-select path="path" project="project" provider="provider" selected="selected"></sync-file-select>
        </div>
    </md-dialog-content>

    <div class="md-modal-footer" style="border: none;" layout="row" layout-align="start center" flex-order="2">
        <div flex></div>
        <md-button class="m-0" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-accent md-raised" style="margin: 0 0 0 10px;" ng-click="save()" ng-disabled="!selected.name">Select File</md-button>
    </div>
</md-dialog>
