.editor pre{
  font-family: Open Sans
}

.mention {
  visibility: hidden;
}
.mention:after {
  content: 'Some content goes here';
  display: inline-block;
  visibility: visible;
}

.mention:global(.cm-url) {
  display: none;
}
