<md-dialog>
    <form unsaved-warning-form novalidate name="NewOrganisationForm">
        <md-dialog-content>
            <div class="md-content-container content-xs">
                <h1 class="md-headline" style="margin-top: 0px;">Add a new organisation</h1>
                <br>
                <br>
                <md-input-container class="md-accent">
                    <label>Organisation Name</label>
                    <input name="name" ng-model="data.name"
                    required ng-pattern="/[a-zA-Z0-9 !#.,'\-\(\)]*/" ng-keyup="checkOrganisationExists(data.name)" focus-me="true">
                    <div ng-messages="NewOrganisationForm.name.$error" ng-if="NewOrganisationForm.name.$dirty">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="pattern">Sorry, that organisation name is invalid. You can't use the characters: / \ [ ]</div>
                        <div ng-message="exists">A organisation with that name already exists. Try another.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-accent">
                    <label>Description</label>
                    <textarea name="blurb" ng-model="data.blurb" columns="1"></textarea>
                </md-input-container>
                <div class="md-dialog-footer" layout="row">
                    <div flex></div>
                    <div>
                        <md-button ng-click="cancel()">Cancel</md-button>
                        <md-button style="margin-right: 0px;" class="md-accent md-raised" ng-disabled="NewOrganisationForm.$invalid" ng-click="save()">Save</md-button>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
