.banner {
  background-image: linear-gradient(to bottom right,#7753eb,#449ad3);
  background-color: rgba(0, 0, 0, 0.03);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.banner h1 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 0px;
  @media (max-width: 599px) {
    font-size: 30px;
  }
}
.banner h3 {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 15px;
}

.banner p {
  line-height: 1.8em;
  font-size: 18px;
  font-weight: 300;
  @media (max-width: 599px) {
    font-size: 16px;
  }
}
