.row{
  padding: 5px 0;
}
.colorSelect{
  width: 145px;
  margin-right: 10px;
  position: relative;
}
.colorSelectInput{
  padding-left: 38px;
}
.name{
  margin-right: 5px;
}
.swatch{
  position: absolute;
  left: 10px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);

  height: 20px;
  width: 20px;
  border-radius: 3px;
}
