@value primary, primary-2 from "theme";

.item {
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.5);
}
.item a {
  color: primary;
  margin: 0 4px;
}
.item a:hover {
  color: primary-2;
}
.avatar {
  margin-right: 10px;
  display: inline-block
}
