.fileChangeRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
}
.checkbox {
  padding: 8px;
}
.text {
  padding: 8px;
}
.fileChangeRow:hover {
  background: rgba(0, 0, 0, 0.03);
}
.active {
  background: rgba(0, 0, 0, 0.7) !important;
  color: white;
}
