
<autodesk-element ng-if="initialiseAutodesk" token="{{token}}" urn64="{{urn64}}" previewer="previewer"></autodesk-element>


<loading-overlay class="light-grey" ng-if="status == 'pending' || status == 'inprogress'">
    <div class="m-t-15">
        <div ng-show="status == 'pending'">Pending Conversion</div>
        <div ng-show="status == 'inprogress'">Rendering Model</div>
    </div>
</loading-overlay>
<div flex layout="column" layout-align="center center" class="text-lightgrey text-center" ng-if="status == 'failed' || status == 'disabled'">
    <div>
        <md-icon class="s60 m-b-15" md-svg-icon="error"></md-icon>
        <div ng-if="status == 'disabled'">WebGl is disabled or not supported by your browser.<br>Visit <a href="http://get.webgl.org/" target="_blank" class="text-green">webgl.org</a> for more.</div>
        <div ng-if="status == 'failed'">Something went wrong.<br>Model could not be displayed.</div>
    </div>
</div>
