.angular-medium-editor{
	$bottom-margin: 35px;
	$bottom-margin-sm: 20px;
    $font-size: 16px;
    $font-size-sm: 15px;

	font-family: "PT Serif",Georgia,serif;
	font-size: $font-size;
	line-height: 1.6em;
	color: #4c4c4c;
    word-wrap: break-word;

	@media (max-width: 600px) {
        font-size: $font-size-sm;
    }

	> :first-child{
		margin-top: 0px;
	}
	> :last-child{
		margin-bottom: 0px;
	}

	h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p {
		margin: 0;
		padding: 0;
	}
	h1, h2, h3, h4{
		font-family: "Open Sans";
		line-height: 1.6em;
	}
	pre{
		font-family: Menlo,Monaco,"Courier New",Courier,monospace;
		font-size: 16px;
		background: rgba(0,0,0,0.05);
		margin-bottom: 20px;
		padding: 20px;
		white-space: pre-wrap;
	}
	blockquote {
		display: block;
		padding-left: 15px;
		border-left: 5px solid #E2E2E2;
		margin-bottom: $bottom-margin;
		color: #4c4c4c;
	}
	a{
		color: #8BC34A;
		text-decoration: underline;
	}

	ul, ol{
	    margin-bottom: $bottom-margin;
		@media (max-width: 600px) {
      		margin-bottom: $bottom-margin-sm;
		}
	}
	li{
		margin-left: 30px;
		margin-bottom: 12px;
	}
	p{
		margin-bottom: $bottom-margin;
		font-size: $font-size;
		line-height: 1.6em;
		@media (max-width: 600px) {
			margin-bottom: $bottom-margin-sm;
			font-size: 16px;
		}
        &:last-child{
            margin-bottom: 0px;
        }
//		&[class]{
//			margin-bottom: 0px;
//		}
	}

    hr{
        border: none;
        border-top: 1px solid rgba(0,0,0,0.20)
    }

	h1{
		font-size: 26px;
		font-weight: 700;
		color: rgba(0, 0, 0, 0.8);
		margin-top: 40px;
		margin-bottom: 4px;
		@media (max-width: 600px) {
			margin-top: 20px;
		}
        &:first-child{
            margin-top: 0;
        }
	}
    h2{
		font-size: 22px;
		font-weight: 700;
		color: rgba(0, 0, 0, 0.8);
		margin-top: 40px;
		margin-bottom: 4px;
		@media (max-width: 600px) {
			margin-top: 20px;
		}
        &:first-child{
            margin-top: 0;
        }
	}
	h3{
		font-size: 18px;
		font-weight: 700;
		color: rgba(0, 0, 0, 0.8);
		margin-top: 40px;
    	margin-bottom: 4px;
		@media (max-width: 600px) {
			margin-top: 20px;
		}
        &:first-child{
            margin-top: 0;
        }
	}
    h1 + h2{
		margin-top: 0px;
	}
    h1 + h3{
		margin-top: 0px;
	}
    h2 + h3{
		margin-top: 0px;
	}
	h3 + h2{
		margin-top: 0px;
	}

	.editor-compact &{
		font-size: 17px;
		p{
			font-size: 17px;
		}
	}
}

// Toolbar Styles
.medium-editor-toolbar li button {
    background-color: #242424;
    background: linear-gradient(to bottom, #3E3E3E, rgba(21, 21, 21, 0.89));
    min-width: 40px;
    &:hover{
        color: #91d83f;
    }
}
.medium-editor-toolbar li .medium-editor-button-active {
    background-color: #000;
    background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 1));
    color: #91d83f;
}
.medium-editor-toolbar-save, .medium-editor-toolbar-close{
	vertical-align: middle;
}
.medium-editor-anchor-preview .medium-editor-anchor-preview {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

// Fixes
.medium-editor-dragover{ // The background colour should not change when sortable is dragged over a paragraph
	background: transparent !important;
}
.medium-editor-placeholder:after{ // This allows the placeholder to with with text-aligned parent
	left: 0px;
	right: 0px;
	white-space: inherit;
}
.medium-editor-anchor-preview{
	font-family: inherit; // Inherit fonts, dont set to helvetica
	font-size: 14px;
	a{
		margin: 7px; // fixed margins to be equal above and below
	}
}
.medium-editor-toolbar-form input, .medium-editor-toolbar-form a{
	font-family: inherit; // Inherit fonts, dont set to helvetica
}
// Directive

[medium-editor]{
	display: block;
	outline: 3px solid rgba(0, 0, 0, 0);
}


// Tables
.medium-editor-table{

    td{
        border: 1px solid #ededed;
        padding: 5px;
    }
    p{
        margin-bottom: 0px;
    }
    ul, ol{
        margin-bottom: 0px;
    }
    li{
        margin-left: 25px;
        margin-bottom: 5px;
    }

    // table within table - no outer border
    .medium-editor-table{
        border: 1px solid transparent;
    }
}
