[char-count]{
    position: relative;
    .char-count{
        font-size: 10px;
        color: #b1b1b1;
        position: absolute;
        bottom: 5px;
        right: 5px;
        line-height: 1em;
    }
    textarea+.char-count{
        bottom: 15px;
    }
}
