<md-dialog aria-label="Select File">
    <div class="md-modal-header text-subtitle-thin" layout="row" layout-align="start center">
        <span class="text-black">Embed File Preview</span>
    </div>

    <md-dialog-content class="overflow-x-box rel-box p-0">
        <div class="md-content-container content-sm bg-lightgrey" style="padding: 30px;">
            <div class="card-z1 p-30">
                <div class="md-subhead m-b-15">Embed Settings</div>
                <p class="body-small">What version of this file do you want to embed?</p>
                <md-radio-group ng-model="version" ng-change="change(version)">
                    <md-radio-button value="latest" class="md-accent m-l-0">
                        Latest Version
                    </md-radio-button>
                    <md-radio-button value="specific" class="md-accent m-l-0">
                        This version (Version {{fileMeta.revDecimal}})
                    </md-radio-button>
                </md-radio-group>
                <div class="md-subhead m-b-15 m-t-30">Iframe Embed Code</div>
                <div class="text-lightgrey code-red p-15" select-on-click>
                    {{code}}
                </div>
            </div>
        </div>
    </md-dialog-content>

    <div class="md-modal-footer" layout="row" layout-align="start center" flex-order="2">
        <div flex></div>
        <md-button class="m-0" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-accent md-raised" style="margin: 0 0 0 10px;" ng-click="save()">Finish</md-button>
    </div>
</md-dialog>
