@value primary from "theme";

.slider{
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -5px;
  width: 10px;
  z-index: 5;
  cursor: move;

  opacity: 0;
  transition: opacity 0.2s ease;
  background: primary;
}
.slider:hover{
  opacity: 0.3;
}
.active{
  opacity: 0.3;
}
