.carousel{
    .slide{
        transition: opacity 1.5s ease;
        z-index: 1;
        &.ng-hide{
            opacity: 0;
        }
        // Fade In
        &.ng-hide-remove-active{
            z-index: 1;
            opacity: 1;
        }
        // Fade Out
        &.ng-hide-add-active{
            z-index: 0;
            opacity: 1;
        }
    }
    .text-overlay{
        z-index: 2;
        padding: 15px;
    }


    .darked{
        background: rgba(0, 0, 0, 0.55);
    }

}

