@value primary, primary-bg, bg1, border1, success, grey-2, warn from "theme";

.fileChangeRow {
  border-bottom: 1px solid border1;
  cursor: default;
}
.checkbox {
  color: primary;
  padding-right: 3px;
  padding-left: 6px;
}
.text {
  padding: 8px;
}
.fileChangeRow:hover {
  background: bg1;
}
.active {
  background: primary-bg !important;
  color: white;
}
.active .checkbox{
  color: white;
}

.active .icon{
  color: white !important;
}
.icon{
  margin-right: 6px;
  border: 1px solid !important;
  border-color: inherit;
  width: 16px;
  height: 16px;
}
.icon svg{
  color: inherit;
}
.icon.created{
  color: success;
}
.icon.deleted{
  color: warn;
}
.icon.modified{
  color: grey-2;
}
