<md-dialog class="apply-for-job-modal" aria-label="Job application">

    <div class="md-modal-header" layout="row" layout-align="start center">
        <div class="onboarding-steps" layout="row" layout-align="start center">
            <div ng-repeat="tab in tabs" layout="row" layout-align="start center">
                <a class="md-subhead" ng-click="tab.click()" ng-class="{'active' : activeTab == tab.label, 'disabled' : $index != 0 && isFailedRequirements()}">{{tab.label}}</a>
                <md-icon md-svg-icon="chevron-right" ng-hide="$last"></md-icon>
            </div>
        </div>
    </div>

    <md-dialog-content class="bg-lightgrey overflow-x-box p-0">
        <loading-overlay ng-if="projectsQuery.loading"></loading-overlay>
        <div ng-if="isFailedRequirements()">
            <div class="missing-fields">
                <div style="padding: 0 30px;">You cannot apply for this job yet as you do not meet the requirements. See below.</div>
            </div>
        </div>
        <div class="md-content-container content-md" style="padding: 30px;">

            <div ng-if="activeTab == 'Requirements'" ng-include="'app/modules/jobs/tpls/job-application-modal.requirements.html'"></div>
            <div ng-if="activeTab == 'Cover Letter'" ng-include="'app/modules/jobs/tpls/job-application-modal.coverletter.html'"></div>
            <div ng-if="activeTab == 'Other Info'"   ng-include="'app/modules/jobs/tpls/job-application-modal.other.html'"></div>

            <div layout="row" class="m-t-30">
                <div flex></div>
                <md-button class="m-0" ng-click="cancel()">Cancel</md-button>
                <md-button class="md-accent md-raised" style="margin: 0 0 0 10px;" ng-disabled="steps[activeTab].isDisabled()" ng-click="steps[activeTab].nextFn()">
                    {{steps[activeTab].nextText}}
                </md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
