<div class="jobView">
    <missing-fields ng-hide="!publishAttempted || forms.JobForm.$completed || !forms.JobForm.$visible" entity="entity" required-fields="requiredFields" form="forms.JobForm"></missing-fields>

    <form unsaved-warning-form novalidate name="forms.JobForm" edit-toolbar data="entity"
        save-fn="save()" edit-fn="editFn()" end-edit-fn="endEditFn()">
        <div ng-if="!forms.JobForm.$visible">
            <tip-banner class="m-b-15 text-center" local="true" tip-hide="entity.published">
                This job has not been published yet. It will not be visible to others until it has been published. <a ng-click="forms.JobForm.$edit()">Click here</a> to edit and publish this job listing.
            </tip-banner>
        </div>

        <edit-toolbar ng-if="forms.JobForm.$visible">
            <div>
                <b>Editing: </b>
                <span>{{entity.name}}</span>
            </div>
            <div flex></div>
            <md-button ng-click="forms.JobForm.$cancel()" class="md-dark-grey md-cornered">Cancel</md-button>
            <md-button ng-hide="entity.published" ng-click="forms.JobForm.$save()" class="md-cornered md-dark-grey">Save Draft</md-button>
            <md-button ng-show="entity.published" ng-click="forms.JobForm.$save()" class="md-cornered md-raised md-accent md-flat">Save</md-button>
            <md-button ng-show="!entity.published" ng-click="publish($event)" class="md-raised md-accent md-flat md-cornered">Publish</md-button>
        </edit-toolbar>


        <div layout="row" layout-align="center">
            <div class="md-content-container" layout="column">
                <div class="rel-box" layout="column">

                    <settings-button ng-if="showEdit" ng-hide="forms.JobForm.$visible">
                        <md-menu-item>
                            <md-button ng-click="forms.JobForm.$edit()">Edit</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="deleteJob()">Delete Job</md-button>
                        </md-menu-item>
                        <md-menu-item show-if-admin>
                            <md-button click-unpublish entity="entity" save-fn="forms.JobForm.$save()">Unpublish</md-button>
                        </md-menu-item>
                    </settings-button>

                    <!-- If Editing -->
                    <div ng-if="forms.JobForm.$visible">
                        <h1 id="nameEdit" class="md-display-1 text-center m-t-15">
                           <input name="name" ng-model="entity.name" class="editable text-center" placeholder="Job title"
                        type="text" required>
                        </h1>
                        <div class="md-title text-grey light-font text-center">{{entity.organisations[0].name}}</div>
                    </div>

                    <!-- If NOT Editing -->
                    <div ng-if="!forms.JobForm.$visible">
                        <div class="md-subhead m-b-20">
                            <a ui-sref="app.browse.jobs" class="text-green">Jobs</a> / <a ui-sref="app.organisation.jobs({'stub': entity.organisations[0].stub})" class="text-green">{{entity.organisations[0].name}}</a> / {{entity.name}}
                        </div>
                        <div layout="row" layout-align="center">
                            <a ng-if="entity.organisations[0].picture" ui-sref="app.organisation.jobs({'stub': entity.organisations[0].stub})" class="avatar avatar-square-contain avatar-lg" style="background-image:url({{entity.organisations[0].picture}}?size=logo-md)"></a>
                        </div>
                        <h1 class="md-display-1 text-center m-t-15">{{entity.name}}</h1>
                        <div class="text-center">
                            <a ui-sref="app.organisation.jobs({'stub': entity.organisations[0].stub})" class="md-title text-grey light-font">{{entity.organisations[0].name}}</a>
                        </div>
                        <div layout="row" layout-align="center">
                            <apply-button class="md-md md-raised md-flat md-cornered m-t-30 m-b-30" job="entity" job-id="{{entity._id}}" job-stub="{{entity.stub}}" text-apply="Apply for position" button-status="applicationStatus"></apply-button>
                        </div>

                        <!-- If current user has applied -->
                        <div ng-if="applicationStatus.status">
                            <div class="line-divider-bottom m-t-60 m-b-30" layout="row">
                                <div class="md-subhead" flex>Your application</div>
                            </div>
                            <user-row-detailed class="m-b-15" user-id="{{user._id}}" show-edit="true" button-text="See full application" button-href="applications/{{applicationStatus.status}}" job="entity"></user-row-detailed>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center" class="m-b-60">
            <div class="md-content-container md-no-padding" layout="column">
                <div layout="column" layout-gt-sm="row" class="md-row">
                    <div class="md-col" flex>

                        <!-- If Editing -->
                        <div id="descriptionEdit" ng-if="forms.JobForm.$visible" class="m-b-30">
                            <div class="line-divider-bottom m-b-40" style="margin-top: 14px;">
                                <div class="md-subhead">Job Description</div>
                            </div>
                            <div medium-editor name="description" ng-model="entity.description" editor-type="text-rich" style="min-height: 100px;" placeholder="Describe the position."></div>
                            <popup class="tooltip-popup" popup-side="right" popup-position="start" popup-padding="0 0 0 8px">
                                <p>Describe the job position here. As a guide, we recommend the following headings</p>
                                <ul>
                                    <li>Overview</li>
                                    <li>Responsibilities</li>
                                    <li>Basic Qualifications</li>
                                    <li>Preferred Skills and Experience</li>
                                </ul>
                                <p>Consider adding some generic info about the position, including:</p>
                                <ul>
                                    <li>Perks</li>
                                    <li>Downsides</li>
                                    <li>How to apply</li>
                                </ul>
                            </popup>
                        </div>
                        <!-- If NOT Editing -->
                        <div ng-if="!forms.JobForm.$visible">
                           <div class="line-divider-bottom m-b-40">
                                <div class="md-subhead">Job Description</div>
                            </div>
                            <div class="angular-medium-editor" ng-bind-html="entity.description" render-mentions></div>
                        </div>

                    </div>
                    <div class="md-col sidebar">
                        <!-- If Editing -->
                        <div ng-if="forms.JobForm.$visible">
                            <div class="well m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Job Details</div>
                                </div>
                                <show-if-admin>
                                    <organisation-search data="entity.organisations" single="true" placeholder="Organisation"></organisation-search>
                                </show-if-admin>
                                <location-search id="locationEdit" data="entity.location" single="true" placeholder="Location"></location-search>
                                <div id="salaryEdit" layout="row">
                                    <md-input-container flex="33">
                                        <label>Currency</label>
                                        <md-select required ng-model="entity.pay.currency">
                                            <md-option ng-repeat="type in currency" value="{{type.code}}">
                                                {{type.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                     <md-input-container flex="33">
                                        <label>Min Wage</label>
                                        <input required type="number" name="minPay" ng-model="entity.pay.from"/>
                                    </md-input-container>
                                    <md-input-container flex="33">
                                        <label>Max Wage</label>
                                        <input required type="number" name="maxPay" ng-model="entity.pay.to"/>
                                    </md-input-container>
                                </div>

                                <md-input-container id="positingEdit">
                                    <label>Position Type</label>
                                    <md-select ng-model="entity.jobType">
                                        <md-option ng-repeat="type in jobTypes" value="{{type}}">
                                            {{type}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container id="visaEdit">
                                    <label>Visa Sponsorship</label>
                                    <md-select ng-model="entity.visa.sponsorship">
                                        <md-option ng-repeat="type in visas" value="{{type}}">
                                            {{type}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container id="deadlineEdit">
                                    <label>Submission Deadline</label>
                                    <input ng-model="entity.deadline" type="date" name="deadline" ng-change="formatDate(entity.deadline)">
                                </md-input-container>
                            </div>
                            <div class="well m-b-30">
                               <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Qualifications and skills</div>
                                </div>
                                <field-search id="requiredFieldsEdit" data="entity.requiredFields" placeholder="Required Skills"></field-search>
                                <tags edit="true" size="xs" tags="entity.requiredFields" type="field"></tags>
                                 <field-search id="fieldsEdit" data="entity.fields" placeholder="Recommended Skills"></field-search>
                                <tags edit="true" size="xs" tags="entity.fields" type="field"></tags>
                            </div>
                            <!-- If Edit we add Source Url -->
                            <show-if-admin>
                                <div class="well m-b-30">
                                   <div class="line-divider-bottom m-b-15">
                                        <div class="md-subhead">Admin Advanced Edit</div>
                                    </div>
                                    <md-input-container>
                                        <label>Source Url</label>
                                        <input type="text" name="sourceUrl" ng-model="entity.sourceUrl"/>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Source String</label>
                                        <input type="text" name="sourceKnownString" ng-model="entity.sourceKnownString"/>
                                    </md-input-container>
                                    <md-button ng-click="checkSourceValid()" class="md-raised md-flat md-accent md-cornered m-0">Check</md-button>
                                </div>
                            </show-if-admin>
                        </div>
                        <!-- If NOT Editing -->
                        <div ng-if="!forms.JobForm.$visible">
                            <div ng-if="entity.pay.from && entity.pay.to" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Compensation</div>
                                </div>
                                <div>{{entity.pay.from | money : entity.pay.currency}} to {{entity.pay.to | money : entity.pay.currency}} Salary</div>
                            </div>
                            <div ng-if="entity.location[0].name" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Location</div>
                                </div>
<!--                                <mapbox class="map" callback="mapCallback"></mapbox>-->
                                <div>{{entity.location[0].name}}</div>
                            </div>
                            <div ng-if="entity.jobType" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Job Type</div>
                                </div>
                                <div>{{entity.jobType}}</div>
                            </div>
                            <div ng-if="entity.level" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Important Qualifications</div>
                                </div>
                                <div>{{entity.level}}</div>
                            </div>
                            <div ng-if="entity.requiredFields.length>0" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Required Skills</div>
                                </div>
                                <tags edit="false" size="xs" tags="entity.requiredFields" type="field" status="true"></tags>
                            </div>
                            <div ng-if="entity.fields.length>0" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Related Fields</div>
                                </div>
                                <tags edit="false" size="xs" tags="entity.fields" type="field" status="true"></tags>
                            </div>
                            <div ng-if="entity.visa.sponsorship" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Visa Sponsorship</div>
                                </div>
                                <div class="capitalise">{{entity.visa.sponsorship}}</div>
                            </div>
                            <div ng-if="entity.deadline" class="m-b-30">
                                <div class="line-divider-bottom m-b-15">
                                    <div class="md-subhead">Application Deadline</div>
                                </div>
                                <div class="capitalise">{{entity.deadline | date : short}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!forms.JobForm.$visible && showEdit">
                    <div class="line-divider-bottom m-t-60 m-b-30" layout="row">
                        <div class="md-subhead" flex>Recent Applicants</div>
                    </div>
                    <application-rows parent-type="job" parent-id="{{entity._id}}" job="entity"></application-rows>
                </div>
                <div ng-if="!forms.JobForm.$visible" ng-show="JobQuery.results.length > 1"> <!-- Hide if equals 1 (API will return this job only) -->
                    <div class="line-divider-bottom m-t-60 m-b-40">
                        <div class="md-subhead">More Jobs at {{entity.organisations[0].name}}</div>
                    </div>
                    <job-rows ng-show="entity.organisations[0]._id" parent-type="organisation" parent-id="{{entity.organisations[0]._id}}" current-job-id="{{entity._id}}" query="JobQuery"></job-rows>
                </div>

            </div>
        </div>
    </form>

    <div ng-if="!forms.JobForm.$visible && !showEdit" layout="row" layout-align="center" style="background: rgb(248, 248, 248);" >
        <div layout="row" layout-align="center center" class="md-content-container m-v-30">
            <md-button style="min-width: 140px;" class="md-cornered md-md md-accent md-raised md-flat" ui-sref="app.browse.jobs">Browse all Jobs</md-button>
            <span class="m-h-15 text-lightgrey">or</span>
            <md-button style="min-width: 140px;" class="md-cornered md-md md-accent md-raised md-flat" ng-click="createJob($event)" authenticate>Post a job</md-button>
        </div>
    </div>
</div>
