<div class="border-box-white p-30 text-center" layout="row" layout-align="center">
    <div class="md-content-container content-sm">
        <img src="/assets/images/explanation-modals/moon-landing.svg" alt="" style="width: 200px;">
        <div class="md-title m-v-15">This will be coming very soon.</div>
        <div class="text-subtitle-thin m-t-30">We are finalising the project change log now. This feature should be complete in the next week - July 2016. Contact the stemn beta team if you have any questions <a href="mailto:beta@stemn.com" class="text-green">beta@stemn.com</a></div>
    </div>
</div>
