@value primary, border1, bg1 from "app/renderer/assets/css/themes/standard.css";

.sidebar{
  border-left: 1px solid border1;
  overflow: hidden;
  padding: 15px;
}
.timeline{
  border-top: 1px solid border1;
  padding: 30px 15px 10px;
}
.header{
  padding: 15px;
  border-bottom: 1px solid border1;
}
