<div layout="row" layout-align="center" class="m-b-30">
    <div class="md-content-container" layout="column">
        <div class="md-subhead m-b-20">
            <a ui-sref="app.browse.jobs" class="text-green">Jobs</a> / <a ui-sref="app.jobsQuery({'field':field.stub})" class="text-green">{{field.name}}</a> / {{location.components[0].short_name}}
        </div>
        <h1 class="md-display-1 text-center m-t-50">{{field.name}} jobs near {{location.components[0].long_name}}</h1>
        <div class="md-title text-grey light-font text-center">Apply to hundreds of jobs with one profile · 100% free</div>
    </div>
</div>

<div layout="row" layout-align="center" class="m-b-30">
    <div class="md-content-container" layout="column">
        <div class="md-subhead m-b-10">Available Positions</div>
        <job-rows parent-type="field" query="jobQueryField" parent-id="{{field._id}}" size="10" near="[location.geo.lng, location.geo.lat]"></job-rows>
        <div ng-if="jobQueryField.results.length && jobQueryField.results.length <= 3">
            <div class="md-subhead m-b-10 m-t-30">Other Jobs near {{location.components[0].long_name}}</div>
            <job-rows query="jobQuery" size="10" near="[location.geo.lng, location.geo.lat]"></job-rows>
        </div>
    </div>
</div>
