<form name="forms.generalForm" novalidate>
    <h2 class="md-display-1">General Details</h2>
    <div layout="column" layout-gt-md="row" class="md-row">
        <div class="md-col m-b-30" flex="100" flex-gt-md="40">
            <div class="text-subtitle-thin">Basic display details such as project name and blurb. Remember to set a blurb if you want to open-source your project.</div>
        </div>
        <div class="md-col" flex="100" flex-gt-md="60">
            <div id="name" class="card-z1 card-padding m-b-30">
                <div class="md-subhead" flex>Project Name</div>
                <md-input-container class="md-accent">
                    <label>Name</label>
                    <input name="name" ng-model="project.name"
                    required type="text">
                    <div ng-messages="forms.generalForm.name.$error" ng-if="forms.generalForm.name.$dirty">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>

            <div id="banner" class="card-z1 card-padding m-b-30">
                <div class="md-subhead" flex>Banner Image</div>
                <p class="body-small">The banner image will be featured on the main page of your project.</p>
                <div ng-show="project.banner" layout="row">
                    <upload-image flex class="block" name="FeaturedImage" image="project.banner" ng-model="project.banner" direct="true" icon="project.banner">
                        <img ng-src="{{project.banner || ''}}?size=featured-md&crop=true">
                    </upload-image>
                    <div flex></div>
                </div>
                <div ng-hide="project.banner">
                    <md-button class="md-raised md-flat md-accent md-cornered md-md m-0" click-upload-image image="project.banner" ng-model="project.banner" name="FeaturedImage">Select Image</md-button>
                </div>
            </div>

            <div id="summary" class="card-z1 card-padding m-b-30">
                <div class="md-subhead m-b-15" flex>Project Summary</div>
                <div class="angular-medium-editor" medium-editor name="blurb" ng-model="project.summary" editor-type="text" style="min-height: 100px;" placeholder="What is this project investigating? Your project summary should be simple yet specific."></div>
            </div>
        </div>
    </div>

    <div ng-if="userPermissions.isMin('admin')">
        <md-divider class="m-v-60"></md-divider>
        <h2 class="md-display-1">Danger Zone</h2>
        <div layout="column" layout-gt-md="row" class="md-row">
            <div class="md-col m-b-30" flex="100" flex-gt-md="40">
                <div class="text-subtitle-thin">Tread carefully. It's a jungle out there.</div>
            </div>
            <div class="md-col" flex="100" flex-gt-md="60">
                <div id="delete" class="card-z1 card-padding m-b-30">
                    <div class="md-subhead" flex>Delete Project</div>
                    <p class="body-small m-b-15">Once you delete a project, there is no going back. Please be certain..</p>
                    <md-button class="md-warn md-raised md-cornered m-0 md-flat md-md" confirm ng-click="deleteProject()">Delete Project</md-button>
                </div>
            </div>
        </div>
    </div>
</form>
