.compareView{
    .overlay-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        border-right: 1px dotted #00bb00;;
        /* Force Hardware Acceleration in WebKit */
        transform: translateZ(0);
        backface-visibility: hidden;
        z-index: 10;
        &.onion{
            width: 100%;
            border-right: none;
        }
        preview-files{
            width: 100vw;
        }
        md-content{
            overflow-x: hidden;
        }
    }

    .handle{
        $width: 16px;
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        width: $width;
        cursor: move;
        margin-left: - $width / 2;
        transition: background 0.3s ease;
        &:hover, &.active{
            background: rgba(0, 187, 0, 0.1);
        }
    }
}
