.marketingView {
	.scroller {
		padding: 0;
		white-space: pre-line;
		height: 800px;
		overflow-y: hidden;
		position: relative;
	}
	.profilePic {
		border-radius: 50%;
		border: 1px solid #ddd;
		width: 48px;
		margin: -10px 16px;
		display: block;
	}
	.picCell {
		width: 30px;
	}
	.colwidthtest {
		width: 50%;
	}
	.campaignTable {
		width: 50%;
	}
}
