<div layout="row" class="text-white" style="font-size: 15px;">
    <a class="p-15 hover-fade bg-red" flex layout="row" layout-align="start center">
        <md-icon class="md-icon-white" md-svg-icon="chevron-left"></md-icon>
        <div class="p-h-15" flex>Move to Archived</div>
    </a>
    <a class="p-15 hover-fade bg-green text-right" flex layout="row" layout-align="end center">
        <div flex></div>
        <div class="p-h-15" >Move to Hired</div>
        <md-icon class="md-icon-white" md-svg-icon="chevron-right"></md-icon>
    </a>
</div>
