<md-dialog class="md-full-screen loginRegisterModal">
    <md-toolbar style="background: transparent;">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel($event)">
                <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form unsaved-warning-form novalidate name="LoginForm">
        <md-dialog-content>
            <div layout="column" layout-align="center center" style="min-height: 80vh;">
				<div class="dialog-container" layout="column" layout-align="start center">
					<h1 class="md-display-1">{{data.title || 'STEMN beta'}}</h1>
					<h4 class="text-lightgrey" ng-bind-html="data.subtitle || 'Sign in or create an account.'"></h4>
                    <div layout="column">
                        <md-button hide-sm class="md-social md-linkedin" ng-click="authenticate('linkedin');" layout="row" layout-align="start center">
                            <md-icon md-font-icon="fa-linkedin"></md-icon>
                            <span flex>Continue with Linkedin</span>
                        </md-button>
                        <md-button class="md-social md-facebook" ng-click="authenticate('facebook');" layout="row" layout-align="start center">
                            <md-icon md-font-icon="fa-facebook"></md-icon>
                            <span flex>Continue with Facebook</span>
                        </md-button>
                        <md-button class="md-social md-email" ng-click="openRegister($event)" layout="row" layout-align="start center">
                            <md-icon md-font-icon="fa-envelope"></md-icon>
                            <span flex>Sign up with email</span>
                        </md-button>
                    </div>
					<div class="text-lightgrey m-v-15">or</div>
					<a ng-click="openLoginLocal($event)" class="text-green">
						Log in with email
					</a>
				</div>
				<div class="info-container">
					<p class="text-lightgrey">We'll never post to your LinkedIn or Facebook without your permission.</p>
					<p class="text-lightgrey">Creating your account means you are agreeing to our <a class="underlined" href="/terms">Terms of Service</a>. If you do not agree, you cannot use STEMN.</p>
				</div>
            </div>
        </md-dialog-content>
        <loading-overlay ng-if="loading"></loading-overlay>
    </form>
</md-dialog>
