<div class="homeView">
	<div layout="row" layout-margin>
		<div flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>New Signups</h2>
				</div>
			</md-toolbar>
			<div class="md-padding md-whiteframe-z1">
				<table>
					<tr display-users-modal="keyMetrics.signups1D">
						<td class="md-body-2">Last 24 hours</td>
						<td class="md-body-1">{{keyMetrics.signups1D.length}}</td>
					</tr>
					<tr display-users-modal="keyMetrics.signups1W">
						<td class="md-body-2">Last 7 days</td>
						<td class="md-body-1">{{keyMetrics.signups1W.length}}</td>
					</tr>
					<tr display-users-modal="keyMetrics.signups2W">
						<td class="md-body-2">2 weeks ago</td>
						<td class="md-body-1">{{keyMetrics.signups2W.length}}</td>
					</tr>
					<tr display-users-modal="keyMetrics.signups3W">
						<td class="md-body-2">3 weeks ago</td>
						<td class="md-body-1">{{keyMetrics.signups3W.length}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 flex>Active Users</h2>
					<md-button aria-label="refresh" class="md-icon-button" ng-click="getKeyMetrics()">
						<ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<div class="md-padding md-whiteframe-z1">
				<table>
					<tr display-users-modal="keyMetrics.activeUsers1D">
						<td class="md-body-2">Last 24 hours</td>
						<td class="md-body-1">{{keyMetrics.activeUsers1D.length}}</td>
					</tr>
					<tr display-users-modal="keyMetrics.activeUsers1W">
						<td class="md-body-2">Last 7 days</td>
						<td class="md-body-1">{{keyMetrics.activeUsers1W.length}}</td>
					</tr>
					<tr display-users-modal="keyMetrics.activeUsers2W">
						<td class="md-body-2">2 weeks ago</td>
						<td class="md-body-1">{{keyMetrics.activeUsers2W.length}}</td>
					</tr>
					<tr display-users-modal="keyMetrics.activeUsers3W">
						<td class="md-body-2">3 weeks ago</td>
						<td class="md-body-1">{{keyMetrics.activeUsers3W.length}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div layout="row" layout-margin>
		<div flex class="md-whiteframe-z1">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 flex>STEMN Time Machine</h2>
					<md-button ng-click="changeTimeCoarsness(times.hour)" class="md-icon-button">Hour</md-button>
					<md-button ng-click="changeTimeCoarsness(times.day)" class="md-icon-button">Day</md-button>
					<md-button ng-click="changeTimeCoarsness(times.week)" class="md-icon-button">Week</md-button>
					<md-button aria-label="refresh" class="md-icon-button" ng-click="getLogData()">
						<ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content class="md-whiteframe-z1" style="overflow-x: hidden;">
			     <d3-multi-line-chart data="multiSeriesData"
			     	time-range-fn="timeRangeChange"
			     	legend-select-fn="legendSelectChange">
			     </d3-multi-line-chart>
			</md-content>
		</div>
	</div>

	<div layout="row" layout-margin>
		<div flex class="md-whiteframe-z1">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Visitor Actions</h2>
				</div>
			</md-toolbar>
			<md-content style="max-height:500px;">
				<div ng-repeat="(key,eventGroup) in timeRangeData" ng-show="eventGroup.length>0">
					<md-subheader class="md-primary md-no-sticky">{{key}}</md-subheader>
					<div ng-repeat="event in eventGroup">
						<user-row entity-id="{{event.requestUser}}" text="{{event.date | amTimeAgo}}">
							<core-entity-row entity-id="{{event.parentId || event.entityId}}" entity-type="{{event.parentType || event.entityType}}"></core-entity-row>
						</user-row>
					</div>
				</div>
			</md-content>
		</div>

		<div flex class="md-whiteframe-z1">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Funnel</h2>
					<span flex></span>
				</div>
			</md-toolbar>
			<md-content>
                <d3-bars data="barData" on-click="showDetail(item)"></d3-bars>
			</md-content>
		</div>
	</div>



<!--
	<div layout="row" layout-margin>
		<div flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>How long do people stay on?</h2>
					<span flex></span>
				</div>
			</md-toolbar>
			<div class="md-padding key-stat md-whiteframe-z1">
				12 mins

			</div>
		</div>
		<div flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>How often do people come back?</h2>
					<span flex></span>
				</div>
			</md-toolbar>
			<div class="md-padding key-stat md-whiteframe-z1">
				7
			</div>
		</div>
		<div flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>% Active Users?</h2>
					<span flex></span>
				</div>
			</md-toolbar>
			<div class="md-padding key-stat md-whiteframe-z1">
				124
			</div>
		</div>
		<div flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Week on Week Growth?</h2>
					<span flex></span>
				</div>
			</md-toolbar>
			<div class="md-padding key-stat md-whiteframe-z1">
				4
			</div>
		</div>
	</div>
-->


</div>
