.walkthrough{
  max-width: 250px;
  font-size: 12px;
  color: #373a3c;
  padding: 15px;
  line-height: 1.4em;
}
.walkthrough p{
  margin-top: 0px;
}
.walkthrough p:last-child{
  margin-bottom: 0px;
}
