<div layout="row" layout-align="center">
    <div class="md-content-container md-no-padding m-b-60 rel-box" infinite-scroll="query.more()" infinite-scroll-distance="2" infinite-scroll-disabled="query.loading || query.notEnoughResults || query.noMoreResults">
        <!-- Items -->
        <div ng-repeat="item in query.results" class="card-z1 rel-box m-b-15">
<!--            <a ng-href="{{item.data.href}}" class="avatar-square-cover avatar-lg" ng-style="::item.data.picture && {'background-image': 'url('+item.data.picture+'?size=avatar-lg&crop=true)'}"></a>-->
            <a class="md-title p-r-30 inline" ng-href="{{item.href}}"><b class="capitalise">{{item.typeText}}</b>/{{item.name}}</a>
            <div class="m-t-10" layout="row" layout-align="start center">
                <a class="text-lightgrey m-r-10" ng-href="{{item.href}}">
                    Last edited <span am-time-ago="item.updated"></span>
                </a>
                <md-button class="md-circle md-xs md-grey pin-top-right" style="margin: 15px 10px;" aria-label="Settings">
                    <md-icon md-svg-src="more-h"></md-icon>
                    <popup class="tooltip-menu" popup-side="right" popup-position="center" popup-padding="0 0 0 8px" layout="column">
                        <a class="md-subhead" ng-click="edit(item)">Edit</a>
                        <a class="md-subhead" confirm ng-click="deleteCreation(item._id, item.entityType)">Delete</a>
                    </popup>
                </md-button>

                <div flex></div>
                <!-- If creation is a project || thread -->
                <div ng-if="item.entityType == 'project' || item.entityType == 'thread'" class="text-lightgrey" layout="row" layout-align="start center">
                    <stat-button type="like" parent-type="{{item.entityType}}" parent-id="{{item._id}}" count="item.likes" display-style="circle" class="green" style="margin-right: -3px;"></stat-button>
                    <a class="count" stat-display-modal parent-id="{{item._id}}" parent-type="{{item.entityType}}" type="like">
                        {{item.likes || 0}}
                    </a>
                    <md-button class="md-icon-button md-sm md-grey" aria-label="comments" style="margin-right: -3px;" ng-href="{{item.href}}?reply=true#reply">
                        <md-icon md-svg-icon="response"></md-icon>
                        <md-tooltip md-direction="top" md-autohide="true">Replies</md-tooltip>
                    </md-button>
                    <a class="count" ng-href="{{item.href}}#responses">{{item.numPosts || item.numComments || 0}}</a>
                </div>

            </div>
        </div>

        <!-- Messsage -->
        <div layout="row" layout-align="center">
            <div class="md-content-container content-sm text-center light-font">
                <div ng-hide="query.results.length>0" ng-bind-html="message"></div>
            </div>
        </div>

        <!-- Loading -->
        <loading-overlay class="light-grey" ng-if="query.loading && query.params.page==1"></loading-overlay>

    </div>
</div>
