@value primary, border1, timeline-main, timeline-bg from "app/renderer/assets/css/themes/standard.css";

.dots.small .dot{
  height: 13px;
  width: 13px;
}
.dots.small .dot.active{
  height: 16px;
  width: 16px;
  margin-left: 0;
}

.dots{
  transition: 0.6s cubic-bezier(0.69, 0.01, 0.17, 0.99) transform;
  height: 100%;
  width: 100%;
}

.dot{
  border-radius: 50%;
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  background: timeline-main;
  border: 2px solid timeline-bg;
  transition: 0.1s ease all;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dot.active{
  background: primary;
  height: 20px;
  width: 20px;
  margin-left: -2px;
  z-index: 1;
}

.popup{
  padding: 8px;
}
.popup b{
  display: inline-block;
  margin-bottom: 5px;
}
.popupImage{
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
