<h2 class="md-display-1">Connect Sync</h2>
<div layout="column" layout-gt-md="row" class="md-row">
    <div class="md-col m-b-30" flex="100" flex-gt-md="40">
        <div class="text-subtitle-thin">Connect your Dropbox or Google Drive. This allows your STEMN projects to Sync directly to your computer. </div>
    </div>
    <div class="md-col" flex="100" flex-gt-md="60">
       <form name="forms.sync">
            <div class="card-z1 card-padding m-b-30">
                <div class="md-subhead">Sync Accounts</div>
                <p>Connect your dropbox or drive account to take advantage of STEMN Sync. This will automatically sync your project files to STEMN.</p>
                <br>
                <div layout="column" layout-gt-sm="row">
                    <md-button class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : currentUser.accounts.dropbox.id }" layout="row" layout-align="start center" ng-click="syncAuthorize('dropbox')">
                        <md-icon md-svg-icon="dropbox"></md-icon>
                        {{currentUser.accounts.dropbox.id ? 'Connected to Dropbox' : 'Connect to Dropbox'}}
                    </md-button>
                    <md-button class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : currentUser.accounts.google.refreshToken }" layout="row" layout-align="start center" ng-click="syncAuthorize('google')">
                        <md-icon md-svg-icon="drive"></md-icon>
                        {{currentUser.accounts.google.refreshToken ? 'Connected to Drive' : 'Connect to Drive'}}
                    </md-button>
                </div>
                <loading-overlay ng-if="syncAuthLoading"></loading-overlay>
            </div>
        </form>
    </div>
</div>

