.header {
  background: white;
}

.headerInner {
  min-height: 60px;
}

.title {
  margin: 0;
  padding: 15px 0;
  min-height: 60px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.4em;
}
