<h2 class="md-display-1">Site Notifications</h2>
<div layout="column" layout-gt-md="row" class="md-row">
    <div class="md-col m-b-30" flex="100" flex-gt-md="40">
        <div class="text-subtitle-thin">You can adjust what events send site notifications here. This will change in-site notifications only. Go to the 'Emails' sections to change email notifications.</div>
    </div>
    <div class="md-col" flex="100" flex-gt-md="60">
        <div class="card-z1 card-padding m-b-30" ng-repeat="section in notificationToggles">
            <div layout="column" layout-gt-sm="row" layout-align="start center" class="toggle-group" id="{{section.name}}">
                <div flex>
                    <div class="md-subhead">{{section.title}}</div>
                    <p>{{section.description}}</p>
                </div>
                <div layout="row" layout-align="start center">
                    <md-button ng-show="section.toggles.length > 1" class="md-icon-button" ng-click="showPanel = !showPanel" aria-label="More Settings" ng-disabled="notificationGroupStates[section.name] == undefined">
                        <md-icon md-svg-icon="navigation:more_horiz" class="collapse-panel-toggle" ng-class="{'open' : showPanel || notificationGroupStates[section.name] == undefined}"></md-icon>
                        <md-tooltip md-direction="top" md-autohide="true">Advanced Toggles</md-tooltip>
                    </md-button>
                    <div>
                        <md-switch class="md-lg" ng-change="toggleGroup(settings.notifications, section.toggles, notificationGroupStates[section.name])" ng-model="notificationGroupStates[section.name]" ng-disabled="notificationGroupStates[section.name] == undefined" aria-label="Toggle All"></md-switch>
                    </div>
                </div>
            </div>
            <collapse-panel show-panel="showPanel || notificationGroupStates[section.name] == undefined">
                <md-divider class="m-v-15"></md-divider>
                <div layout="row" layout-align="start center" class="toggle" ng-repeat="toggle in section.toggles" id="{{toggle}}">
                    <div flex>
                        <div class="md-subhead">{{toggleData[toggle].name}}</div>
                        <p>{{toggleData[toggle].description}}</p>
                    </div>
                    <md-switch ng-change="toggleNotification()" ng-model="settings.notifications[toggle]" aria-label="{{toggleData[toggle].name}}"></md-switch>
                </div>
            </collapse-panel>
        </div>
    </div>
</div>
