<h2 class="md-display-1">Login Details</h2>
<div layout="column" layout-gt-md="row" class="md-row">
    <div class="md-col m-b-30" flex="100" flex-gt-md="40">
        <div class="text-subtitle-thin">Manage basic account information – your email, password and social accounts. You can link your STEMN account with Facebook and Linkedin. This will import your information and make it easier to log in.</div>
    </div>
    <div class="md-col" flex="100" flex-gt-md="60">

        <div class="card-z1 card-padding m-b-30" id="updateusername">
            <div class="md-subhead">Username</div>
            <user-subdomain-input display-type="form" username="user.stub"></user-subdomain-input>
        </div>

       <div class="card-z1 card-padding m-b-30">
            <form unsaved-warning-form novalidate name="UpdateEmailForm">
                <div class="md-subhead">Change Email</div>
                <md-input-container class="md-accent">
                    <label>Email</label>
                    <input name="email" ng-model="user.email"
                    required type="email">
                    <div ng-messages="UpdateEmailForm.email.$error" ng-if="UpdateEmailForm.email.$dirty">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">That is not a valid email.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <div flex></div>
                    <md-button type="submit" class="md-raised md-accent md-cornered m-0 md-flat md-md" ng-disabled="UpdateEmailForm.$invalid" ng-click="updateEmail()">Update email</md-button>
                </div>
            </form>
        </div>


        <div class="card-z1 card-padding m-b-30" ng-if="user.accounts.local.email">
            <form unsaved-warning-form novalidate name="UpdatePasswordForm">
                <div class="md-subhead">Change Password</div>
                <md-input-container class="md-accent">
                    <label>Old Password</label>
                    <input name="oldpassword" ng-model="password.oldPassword" required type="password">
                    <div ng-messages="UpdatePasswordForm.oldpassword.$error" ng-if="UpdatePasswordForm.oldpassword.$dirty">
                        <div ng-message="required">If only the world was that simple... You'll need the password :)</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex="50" class="md-accent">
                        <label>New Password</label>
                        <input name="newpassword" ng-model="password.newPassword" required type="password">
                        <div ng-messages="UpdatePasswordForm.newpassword.$error" ng-if="UpdatePasswordForm.newpassword.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" class="md-accent">
                        <label>Confirm new Password</label>
                        <input name="confirmPassword" ng-model="password.confirmPassword" required type="password">
                        <div ng-messages="UpdatePasswordForm.confirmPassword.$error" ng-if="UpdatePasswordForm.confirmPassword.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <div flex></div>
                    <md-button type="submit" class="md-raised md-accent md-cornered m-0 md-flat md-md" ng-disabled="UpdatePasswordForm.$invalid" ng-click="updatePassword()">Update password</md-button>
                </div>
            </form>
        </div>


       <div class="card-z1 card-padding m-b-30">
            <form id="linkaccount" novalidate name="LinkAccountsForm">
                <div class="md-subhead">Link Accounts</div>
                <p>By linking accounts you'll be able to login to STEMN using either Facebook and/or LinkedIn. LinkedIn login won't work on your mobile phone but Facebook works a treat.</p>
                <br>
                <div layout="column" layout-gt-sm="row">
                    <md-button class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : user.accounts.linkedin}" ng-click="linkedinImport($event)" layout="row" layout-align="start center">
                        <md-icon md-svg-icon="linkedin" style="margin-bottom: 3px;"></md-icon>
                        {{user.accounts.linkedin ? 'Connected with Linkedin' : 'Connect with Facebook'}}
                    </md-button>
                    <md-button class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : user.accounts.facebook}" ng-click="authenticate('facebook')" layout="row" layout-align="start center">
                        <md-icon md-svg-icon="facebook" style="margin-bottom: 3px;"></md-icon>
                        {{user.accounts.facebook ? 'Connected with Facebook' : 'Connect with Facebook'}}
                    </md-button>
                </div>
            </form>
        </div>

        <div class="card-z1 card-padding m-b-30">
            <form id="syncAccount" novalidate name="SyncAccountForm">
                <div class="md-subhead">Sync Accounts</div>
                <p>Connect your dropbox account to take advantage of STEMN Sync. This will automatically sync your project files to STEMN.</p>
                <br>
                <div layout="column" layout-gt-sm="row">
                    <md-button class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : user.accounts.dropbox.id }" layout="row" layout-align="start center" ng-click="syncAuthorize('dropbox')">
                        <md-icon md-svg-icon="dropbox"></md-icon>
                        {{user.accounts.dropbox.id ? 'Connected to Dropbox' : 'Connect to Dropbox'}}
                    </md-button>
                    <md-button class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : user.accounts.google.refreshToken }" layout="row" layout-align="start center" ng-click="syncAuthorize('google')">
                        <md-icon md-svg-icon="drive"></md-icon>
                        {{user.accounts.google.refreshToken ? 'Connected to Drive' : 'Connect to Drive'}}
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</div>

<md-divider class="m-v-60"></md-divider>

<h2 class="md-display-1">Profile Details</h2>
<div layout="column" layout-gt-md="row" class="md-row">
    <div class="md-col m-b-30" flex="100" flex-gt-md="40">
        <div class="text-subtitle-thin">Edit your name, profile picture, blurb and more. You can edit all your profile details on your user profile page.</div>
    </div>
    <div class="md-col" flex="100" flex-gt-md="60">
       <div class="card-z1 card-padding m-b-30">
            <div class="md-subhead">Edit Profile</div>
            <p>Edit your profile details on your profile page.</p>
            <br>
            <md-button class="md-accent md-raised md-cornered m-0 md-flat md-md" ui-sref="app.user.profile({stub:user.stub})">Edit profile</md-button>
        </div>
        <div class="card-z1 card-padding m-b-30">
            <div class="md-subhead">Delete your account</div>
            <p>Want to permanently delete your STEMN account? Email us at <a class="text-green" href="goodbye@stemn.com">goodbye@stemn.com</a></p>
        </div>
    </div>
</div>
