@value primary-bg, primary, border1, bg1 from "theme";

.row{
  border-bottom: 1px solid border1;
  padding: 7px 15px;
  padding-right: 8px;
  line-height: 1.4em;
}

.button{
  border: 1px solid #eaeaea;
  margin-left: -1px;
  color: #8d8d8d;
}
.button:hover{
  background: bg1;
}
.active{
  background: primary-bg !important;
  color: white;
  border: 1px solid primary;
  z-index: 1;
}
