@value primary-bg, border1 from "theme";

.toolbar {
  border-bottom: 1px solid border1;
  font-size: 12px;
  background: primary-bg;
  color: white;
  height: 40px;
}

.toolbar button {
  height: 40px;
  width: 40px;
  transition: 0.3s ease all;
}
.toolbar button:hover {
  background: rgba(0, 0, 0, 0.1);
}