.text-title-1{
  font-size: 40px;
  font-weight: 300;
}
.text-title-2{
  font-size: 30px;
  font-weight: 300;
}
.text-title-3{
  font-size: 24px;
  font-weight: 300;
}
.text-title-4{
  font-size: 18px;
  font-weight: 300;
}
.text-subtitle-1{
  line-height: 1.6em;
  font-size: 15px;
  font-weight: 300;
}
.text-bold{
  font-weight: bold;
}
.text-description-1{
  color: rgba(0,0,0,0.4);
}
.text-center{
  text-align: center;
}

.link-primary{
  color: rgb(68, 154, 211);
}
.link-primary:hover{
  color: rgb(64, 129, 173)
}

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
