@value border1, bg1 from "app/renderer/assets/css/themes/standard.css";

.container{
  padding: 20px;
  background: rgba(0, 0, 0, 0.01);
}
.files{
  border: 1px solid border1;
}
.readme{
  border: 1px solid border1;
  padding: 15px 20px;
  margin-top: 30px;
  min-height: 200px;
}
