@value primary, border1, bg1 from "app/renderer/assets/css/themes/standard.css";

.mention{
  color: primary;
}
.display{
  line-height: 1.4em;
}
.display p:first-child{
  margin-top: 0px;
}
.display p:last-child{
  margin-bottom: 0px;
}
.display ul {
  padding-left: 15px;
}
.display a {
  color: primary;
}
