.search {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  height: 35px;
  margin-left: 10px;
  border-radius: 2px;
}

.search input{
  padding: 5px 7px;
  font-size: 12px;
  height: 100%;
  border: none;
  outline: none;
}

.icon {
  color: rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}
