@value border1, primary-bg from "theme";

.body{
  width: 250px
}
.body :global(.header){
  background: primary-bg;
  color: white;
  padding: 12px 15px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.body :global(.body){
  padding: 15px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.6);
}
.body :global(p){
  margin: 0 0 5px;
}.body :global(p:last-child){
  margin: 0;
}
.body :global(.footer){
  border-top: 1px solid border1;
  padding: 12px 15px;
}
