
.preview-squares{
    > a {
        width: 50px;
        height: 50px;
        border: 1px solid rgba(0,0,0,0.08);
        img{
            height: 100%;
        }
        margin-right: 8px;

    }
    .more{
        opacity: 0.5;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0,0,0,0.08);
        transition: all 0.1s ease;
        md-icon{
            width: 49px;
            height: 50px;
            color: rgba(0, 0, 0, 0.12);
        }
        &:hover{
            opacity: 1;
        }
        margin-right: 0px !important;
    }
}
