@value primary-bg, primary-bg-hover, primary, primary-2, warn, warn-2 from "theme";

.progressButton {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 120px;
}

.progressButton:global(.warn) button{
  background: warn;
  border: 1px solid warn;
  color: white;
}
.progressButton:global(.warn) button:hover{
  background: warn-2;
}

.progressButton button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 40px;
  border: 1px solid primary;
/*  background: primary;*/
  background: primary-bg;
/*  color: primary;*/
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: border-radius 0.3s, background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: border-radius 0.3s, background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progressButton button:hover {
  background-color: primary-bg-hover;
/*  background-color: primary-2;*/
}

.progressButton button:focus {
  outline: none;
}

.progressButton button[disabled] {
  opacity: 0.4;
  background-color: primary !important;
  cursor: not-allowed;
  pointer-events: none;
}

.progressButton button span {
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
}

.progressButton svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.progressButton svg.progressCircle {
  transform: translateX(-50%) rotate(90deg);
}

.progressButton svg path {
  opacity: 0;
  fill: none;
}


.progressButton svg.progressCircle path {
  stroke: primary;
  stroke-width: 3;
}

.progressButton svg.checkmark path,
.progressButton svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 3;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.loading.progressButton button {
  width: 40px;
  border-radius: 50%;
  border-width: 3px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}

.loading.progressButton span {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.loading.progressButton span,
.success.progressButton span,
.error.progressButton span {
  opacity: 0; /* keep it hidden in all states */
}

.success.progressButton button,
.error.progressButton button {
  -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}

.success.progressButton button {
  border-color: primary;
  background-color: primary;
}

.error.progressButton button {
  border-color: warn;
  background-color: warn;
}

.loading.progressButton svg.progressCircle path{
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.6s;
  transition: stroke-dashoffset 0.6s;
}

.success.progressButton svg.checkmark path,
.error.progressButton svg.cross path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
