.editor-section-buttons{
	position: absolute;
	top: 0px;
	right: -20px;
	opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 2;

    .button{
        $size: 20px;
        margin: 0px;
        padding: 0px;
        width: $size;
        height: $size;
        line-height: $size - 5px;
        border: 1px solid transparent;
        border-radius: 0px;
        display: block;
        background: white;
        text-align: center;
        md-icon{
            $icon-size: 20px;
            width: $icon-size;
            height: $icon-size;
            color: rgba(0, 0, 0, 0.3);
            transform: rotate(90deg);
        }
    }

	.editor-section:hover &{
		opacity: 1;
	}
	.editor-image & {
		top: 0px;
	}
	.editor-section-full-width &{
		right: 10px;
		top: 10px;
	}
//	&.minimal{
//		opacity: 0 !important;
//        transition: opacity 0.3s ease;
//		right: 0px;
//		&:hover{
//			opacity: 1 !important;
//		}
//	}
}
