.CodeMirror{
    height: inherit;
    border-radius: 3px;
    background: rgba(0,0,0,.05);
    font-size: 14px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.5);
}

.CodeMirrorNumbered{
    .CodeMirror{
        background-color: transparent;
    }
    .CodeMirror-gutters{
        background-color: white;
        border-right: 1px solid #CCC;
        &::after{
            content: '';
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 22px;
        }
    }
}

.CodeMirrorPadded{
    .CodeMirror{
        background-color: rgba(0, 0, 0, 0.03);
        border: 1px solid #EEEEEE;
    }
    .CodeMirror-lines{
        padding: 15px;
    }
}
