<div flex class="canvas-parent" layout="column" layout-align="center center"></div>
<loading-overlay ng-if="loading" class="light-grey"></loading-overlay>
<div class="pin-top-right">
    <div class="text-right" style="margin-top: 5px; margin-right: 10px;">
        <a class="st-icon-button" ng-click="flip()">
            <i class="material-icons">swap_horiz</i>
        </a>
        <a class="st-icon-button" ng-click="center()">
            <i class="material-icons">center_focus_strong</i>
        </a>
<!--
        <a class="st-icon-button">
            <i class="material-icons">more_horiz</i>
        </a>
-->
    </div>
</div>
