.iconButton {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 1px solid black;
  background: transparent;
  transition: all 0.2s ease;
}
.iconButton:focus {
  outline: none;
}
.buttonWrapper:hover .iconButton {
  background: black;
  color: white;
}

.label {
  padding-left: 15px;
  font-size: 15px;
}
