.title {
  margin: 0 0 10px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;

  > div:first-child {
    margin-right: 10px;
  }
}

.number {
  color: rgba(0, 0, 0, 0.3);
}

.code {
  display: block;
}