.fileChangeTitleRow{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 8px;
  height: 42px;
  position: relative;
  cursor: default;
}
.text{
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  z-index: -1;
}
