@value primary, border1, grey-3 from "app/renderer/assets/css/themes/standard.css";

.tabs {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    min-height: 37px;
}
.tabs:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid border1;
}
.inner{
    overflow: auto;
    position: relative;
}
.inner > a {
    min-height: 37px;
    color: grey-3;
    position: relative;
    padding: 10px 0;
    margin-right: 25px;
    transition: color 0.2s ease;
}
.inner > a:global(.active), .inner > a:hover {
    color: primary;
}
.inner > a:global(.active):after{
    opacity: 1;
}
/*
.inner > a.active:after, .inner > a:hover:after {
    opacity: 1;
}
*/
.inner > a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-bottom: 1px solid primary;
    opacity: 0;
    transition: 0.2s opacity ease;
    z-index: 1;
}

.tabsLg{
  padding-left: 15px;
}
.tabsLg .inner > a{
  font-size: 14px;
  padding: 15px 15px;
}

/*
    // Black Bg Tabs
    &.tabs-black{
        .md-subhead {
            color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            margin-right: 0px;
            &.active, &:hover{
                color: rgb(255, 255, 255);
            }
            &:after{
                border-bottom: 2px solid #ffffff;
            }
        }
        .overflow-arrow-left{
            background: linear-gradient(to right, #1A1819, rgba(248, 247, 238, 0)) !important;
        }
        .overflow-arrow-right{
            background: linear-gradient(to left, #1A1819, rgba(248, 247, 238, 0)) !important;
        }
    }
    &.tabs-light-grey{
        .overflow-arrow-left{
            background: linear-gradient(to right, #f8f8f8, rgba(248, 247, 238, 0)) !important;
        }
        .overflow-arrow-right{
            background: linear-gradient(to left, #f8f8f8, rgba(248, 247, 238, 0)) !important;
        }
    }

    // Overflow marker
    .overflow-arrow{
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        transition: transform 0.3s ease;
        z-index: 1;
        padding: 0px 5px;
        &.overflow-arrow-left{
            left: 0;
            background: linear-gradient(to right, #fff, rgba(248, 247, 238, 0));
            padding-right: 20px;
            transform: translateX(-60px);
        }
        &.overflow-arrow-right{
            right: 0;
            background: linear-gradient(to left, #fff, rgba(248, 247, 238, 0));
            padding-left: 20px;
            transform: translateX(60px);
        }
    }

    &.isNotStart{
        .overflow-arrow-left{
            transform: translateX(0px);
        }

    }
    &.isNotEnded{
        .overflow-arrow-right{
            transform: translateX(0px);
        }

    }

    .md-subhead {
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        padding: 10px 0;
        margin-right: 25px;
        transition: color 0.2s ease;
        &.active, &:hover{
            color: rgba(0, 0, 0, 0.8);
            &:after{
                opacity: 1;
            }
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            border-bottom: 1px solid black;
            opacity: 0;
            transition: 0.2s opacity ease;
        }
        &:last-child{
            margin-right: 0px;
        }
    }

    &.text-tabs-top{
        &:after{
            top: 0;
            bottom: auto;
        }
        .md-subhead {
            &:after{
                top: 0px;
                bottom: auto;
            }
        }
    }
*/
