#intercom-container {
    .intercom-launcher{
        transition: 0.3s ease all;
        .hide-chat & {
            transform: translateY(100px) !important;
        }
        .dynamic-footer-open & {
            transform: translateY(-50px) !important;
        }
    }
    .intercom-launcher-hovercard-close{
        top: 5px !important;
        right: 5px !important;

    }
    .intercom-launcher-hovercard{
        .hide-chat & {
            display: none !important;
        }
    }
    .intercom-launcher-button{
        box-shadow: none !important;
        border: none !important;
    }

    .intercom-powered-by{
        a{
            display: none !important;
        }
    }

}

