@value primary, border1, bg1 from "theme";

.close{
  padding: 10px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999999;
  font-size: 16px;
}
.close:hover{
  color: black;
}

.fixedOption{
  padding: 10px 15px;
  transition: 0.2s ease;
}
.fixedOption:hover{
  background: bg1;
}
.fixedOptionTime{
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
.divider{
  border-top: 1px solid border1;
}
