mapbox{
    .marker{
        border-radius: 50%;
        border: 2px solid white;
        background: white;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
        -webkit-animation: fadeIn 0.3s linear;
        animation: fadeIn 0.3s linear;
    }
}

// Leaflet Styles
.leaflet-container a {
    color: #8DC63F;
}
.leaflet-popup-content{
    padding: 10px 15px;
}
