.button{
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 50%;
  transition: 0.3s ease all;
}
.button:focus {
  outline: none;
}
.button:hover {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.03);
}
