.text-title-1{
  font-size: 40px;
  font-weight: 300;
}
.text-title-2{
  font-size: 30px;
  font-weight: 300;
}
.text-title-3{
  font-size: 24px;
  font-weight: 300;
}
.text-title-4{
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
}
.text-title-5{
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 300;
}
.text-primary{
  color: #4484d3;
}
.text-subtitle-1{
  line-height: 1.6em;
  font-size: 15px;
  font-weight: 300;
}
.text-bold{
  font-weight: bold;
}
.text-description-1{
  color: rgba(0,0,0,0.4);
}
.text-grey-1{
  color: rgba(0,0,0,0.1);
}
.text-grey-2{
  color: rgba(0,0,0,0.3);
}
.text-grey-3{
  color: rgba(0,0,0,0.5);
}
.text-center{
  text-align: center;
}
.link-primary{
  color: #4484d3;
}
.link-primary:hover{
  color: #3777c6;
}
.link-grey{
  color: rgba(0, 0, 0, 0.3);
}
.link-grey:hover{
  color: rgba(0, 0, 0, 0.5);
}
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.text-mini-caps{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.8;
}
.text-blokk{
  font-family: blokk;
}
.text-interpunct::before{
    content: '\00B7';
    padding: 0 3px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(150, 150, 150);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(150, 150, 150);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(150, 150, 150);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(150, 150, 150);
}
