<div class="rel-box" id="{{id}}" style="min-height: 130px;">
    <loading-feed ng-if="loading"></loading-feed>
    <div ng-if="!loading" layout="column">
        <!-- HEADER BLOCK  -->
        <div class="header-block" hide-sm>
            <span class="capitalise">{{::altType}}</span>
            <span ng-show="::fields.length>0">&nbsp;tagged in:</span>
            <item-fields fields="::fields" limit="3"></item-fields>
        </div>
        <!-- CONTENT BLOCK  -->
        <div layout="row" layout-sm="column" >
            <div flex flex-order-sm="2">
                <!-- TITLE BLOCK -->
                <h2 class="item-title">
                    <a ui-sref="{{::sref}}">{{::title}}</a>
                </h2>
                <!-- DESCRIPTION BLOCK -->
                <div class="item-description">
                    <a ui-sref="{{::sref}}" ng-bind-html="blurb"></a>
                </div>
            </div>
            <div flex-order-sm="1">
                <!-- IMAGE BLOCK -->
                <item-image ng-if="::image">
                    <a ui-sref="{{::sref}}"><div ng-style="::image && {'background-image': 'url('+image+'?size=feed-sm&crop=true)'}"></div></a>
                </item-image>
            </div>
        </div>
        <!-- OWNER AND TIME BLOCK -->
        <div layout="row" layout-align="space-between center">
            <item-owner class="ellipsis-container" flex avatar="{{avatar}}" type="{{ownerType}}" owner-stub="{{ownerStub}}" owner-id="{{ownerId}}">
                <h3><a ui-sref="{{::ownerSref}}" class="text-green ellipsis inline">{{owner}}</a></h3>
                <div class="sub ellipsis">
                    <a ng-if="subOwnerSref && subOwner" ui-sref="{{::subOwnerSref}}">{{::subOwner}}</a>
                    <span ng-if="::subOwner" class="interpunct"></span>
                    <a ui-sref="{{::sref}}">{{::timeDesc}} <span am-time-ago="::time"></span></a>
                </div>
            </item-owner>

            <div class="stats" layout="row" layout-align="start center">
                <stat-button type="like" parent-type="{{type}}" parent-id="{{id}}" count="likes.num" display-style="circle" class="green" style="margin-right: -3px;"></stat-button>
                <a class="count" stat-display-modal parent-id="{{::id}}" parent-type="{{::type}}" type="like">
                    {{likes.num || 0}}
                </a>
                <md-button class="md-icon-button md-sm" aria-label="comments" ui-sref="{{::srefComments}}" style="margin-right: -3px;">
                    <md-icon md-svg-icon="response"></md-icon>
                </md-button>
                <a class="count" ui-sref="{{::srefComments}}">{{::numPosts || 0}}</a>
            </div>
        </div>
    </div>
</div>
