<!-- NOT CONTAINED -->
<div ng-if="!editorOptions.contained">
	<div layout="row" layout-align="center" ng-show="editorSections[editorOrder[editorSectionIndex]].type == 'text' && editorSections[editorOrder[editorSectionIndex+1]].type == 'text'">
		<div class="md-content-container " layout="row" layout-align="center">
			<md-divider style="width:200px; margin: 15px 0;"></md-divider>
		</div>
	</div>
</div>

<!-- CONTAINED -->
<div ng-if="editorOptions.contained">
	<div layout="row" layout-align="center" ng-show="editorSections[editorOrder[editorSectionIndex]].type == 'text' && editorSections[editorOrder[editorSectionIndex+1]].type == 'text'">
		<md-divider style="width:200px; margin: 15px 0;"></md-divider>
	</div>
</div>
