@value primary, border1 from "theme";

.fileChangeTitleRow{
  border-bottom: 1px solid;
  padding: 10px 6px;
  height: 36px;
  min-height: 36px;
  position: relative;
  cursor: default;
  color: border1;
}
.text{
  color: primary;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  z-index: -1;
}
