<div class="onboardingSelectView">
   <edit-toolbar class="white"></edit-toolbar>

    <div class="md-content-container overflow-x-box">
        <h1 class="md-display-1 text-center m-t-30">How do you want to use STEMN?</h1>
        <div class="md-title text-grey light-font text-center">Select from the options below to get set up</div>
        <md-divider class="m-v-60"></md-divider>
<!--
        <div class="m-v-30">
            <a ng-repeat="item in options" class="picture-list-large hover-parent" layout="row" layout-align="start center" ng-click="item.clickFn($event)">
                <div class="avatar-circle avatar-md" ng-style="::item.picture && {'background-image': 'url('+item.picture+')'}"></div>
                <div flex>
                    <h4 class="bold">{{::item.title}}</h4>
                    <p class="no-margin">{{::item.description}}</p>
                </div>
                <md-icon class="hover-show" md-svg-icon="chevron-right"></md-icon>
            </a>
        </div>
-->

        <div layout="column" layout-gt-sm="row" class="md-row-lg">
            <div flex class="md-col-lg">
                <a class="st-fancy-select-button text-center m-b-30" style="min-height: 400px;" layout="column" layout-align="center center" ui-sref="app.onboarding.sync.intro">
                    <img class="w-50" src="/assets/images/explanation-modals/droid.svg" alt="">
                    <div class="md-title m-b-15">Sync a project</div>
                    <div class="text-subtitle-thin">Access revision history, online previews and team collaboration tools.</div>
                </a>
            </div>
            <div flex class="md-col-lg">
                <a class="st-fancy-select-button text-center m-b-30" style="min-height: 400px;" layout="column" layout-align="center center" ui-sref="app.user-onboarding.intro">
                    <img class="w-50" src="/assets/images/explanation-modals/deal.svg" alt="">
                    <div class="md-title m-b-15">Find job matches</div>
                    <div class="text-subtitle-thin">Create a project porfolio. Apply for jobs directly with your STEMN profile.</div>
                </a>
            </div>
        </div>
    </div>
</div>
