<div class="applicationView" layout="row" layout-align="center">
    <div class="md-content-container">

<!--
        <div ng-if="isAdmin" >
            <div class="md-subhead m-b-10">Application Details</div>
            <form name="ApplicationAdminEdit" class="m-b-30" style="background: rgba(0, 0, 0, 0.03); padding: 30px;">
                <div class="md-row" layout="row">
                    <div flex="50" class="md-col">
                        <md-input-container class="md-accent">
                            <label>Notes</label>
                            <textarea ng-model="entity.notes" rows="6"></textarea>
                        </md-input-container>
                    </div>
                    <div flex="50" class="md-col">
                        <md-input-container>
                            <label>Application Status</label>
                            <md-select class="md-accent" ng-model="entity.status.state">
                                <md-option ng-repeat="item in applicationStatuses" value="{{item.model}}">
                                    {{item.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-accent md-raised" ng-click="saveApplication()">
                            Save
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
-->

        <div class="md-subhead m-b-20" ng-show="showEdit">
            <a ui-sref="app.applications" class="text-green">My Applications</a> / {{entity.parent.name}}
        </div>
        <div class="md-subhead m-b-20" ng-show="isAdmin">
            <a ui-sref="app.organisation.overview({'stub': entity.organisations[0].stub})" class="text-green">{{entity.organisations[0].name}}</a> / <a ui-sref="app.organisation.jobs({'stub': entity.organisations[0].stub})" class="text-green">Jobs</a> / <a ui-sref="app.job({'stub': entity.parent.stub})" class="text-green">{{entity.parent.name}}</a> / {{entity.child.name}}
        </div>

        <tip-banner class="m-b-15" local="true" tip-hide="!showEdit || entity.resubmitted">
            <div layout="row" layout-align="start center">
                <div flex ng-bind-html="statusMessage"></div>
                <div ng-show="entity.status.state == 'awaitingUpdate'"><div resubmit-application-button application="entity" resubmitted="entity.resubmitted"></div></div>
            </div>
        </tip-banner>

        <div layout="row" layout-align="center">
            <a ng-if="entity.organisations[0].picture" ui-sref="app.organisation.jobs({'stub': entity.organisations[0].stub})" class="avatar avatar-square-contain avatar-lg" style="background-image:url({{entity.organisations[0].picture}}?size=logo-md)"></a>
        </div>
        <h1 class="md-display-1 text-center m-t-15">{{entity.parent.name}}</h1>
        <div class="text-center">
            <a ui-sref="app.organisation.jobs({'stub': entity.organisations[0].stub})" class="md-title text-grey light-font">{{entity.organisations[0].name}}</a>
        </div>

        <div class="line-divider-bottom m-b-20 m-t-40" layout="row">
            <div class="md-subhead" flex>Applicant Profile</div>
        </div>
        <user-row-detailed user-id="{{entity.child._id}}" show-edit="showEdit" button-text="{{showEdit ? 'Edit Profile' : 'See Profile'}}"></user-row-detailed>

        <form name="CoverLetterEdit" class="edit-box">
            <edit-button ng-show="showEdit || isAdmin" form="CoverLetterEdit" inline="true" save-fn="saveApplication()"></edit-button>
            <div class="line-divider-bottom m-b-20 m-t-40" layout="row">
                <div class="md-subhead" flex>Application Cover Letter</div>
            </div>
            <div class="cover-letter">
                <div class="angular-medium-editor" ng-hide="CoverLetterEdit.$visible || entity.coverLetter.length<1" ng-bind-html="entity.coverLetter"></div>
                <div ng-if="CoverLetterEdit.$visible">
                    <div required class="angular-medium-editor" medium-editor name="blurb" ng-model="entity.coverLetter" editor-type="text" style="min-height: 300px;"
                    placeholder="Why is this the perfect job for you?"></div>
                </div>
            </div>
        </form>
        <div ng-hide="entity.coverLetter.length>0" class="text-lightgrey">
            No cover letter included
        </div>
        <div class="line-divider-bottom m-b-40 m-t-40" layout="row">
            <div class="md-subhead" flex>Applicant's Project Portfolio</div>
            <a class="text-green" ng-show="showEdit" click-create-project>Add another project</a>
        </div>
        <card-feed parent-id="{{entity.child._id}}" parent-type="user" type="projects" items="projectItems" size="12"></card-feed>
    </div>
</div>
