<div layout="column" layout-gt-sm="row" class="md-row">
<!--
    <div hide-xs hide-sm style="width: 250px;" class="md-col">
        <div class="md-whiteframe-z1">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 flex>Filter Results</h2>
                </div>
            </md-toolbar>
            <md-content class="md-whiteframe-z1 md-padding">
                <checkbox-filter filter="ownerFilter"></checkbox-filter>
            </md-content>
        </div>
    </div>
-->

    <div flex class="md-col">
        <div flex class="md-whiteframe-z1">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 flex>Referrals</h2>
                    <md-button aria-label="refresh" class="md-icon-button" ng-click="query.refresh()">
                        <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <modular-table query="query" scroll-load="true"></modular-table>
            </md-content>
        </div>
    </div>
</div>
