<md-dialog aria-label="dialog">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 flex>Details</h2>
				<md-button class="md-icon-button" ng-click="query.rfresh()">
					<ng-md-icon icon="refresh" aria-label="Refresh" style="fill: white"></ng-md-icon>
				</md-button>
				<md-button class="md-icon-button" ng-click="cancel()">
					<ng-md-icon icon="close" aria-label="Close dialog" style="fill: white"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:800px; max-height:810px; padding: 0px;">
<!--
            <div ng-repeat="item in enitities" layout="row" class="md-padding">
                <div class="avatar-circle" style="margin-right: 15px; background-image: url('https://stemn.com{{item.parent.picture || '/assets/images/default/org.png'}}?size=thumb&crop=true')"></div>
                <div layout="column">
                    <a target="_blank" ng-href="https://stemn.com/applications/{{item._id}}">{{item.parent.name}}</a>
                    <a ui-sref="app.users.user.info({stub: item.child.stub})" class="text-lightgrey">{{item.child.name}}</a>
                </div>
            </div>
-->



        <modular-table query="query" select="true"></modular-table>

		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button class="md-accent" ng-click="query.more()" ng-hide="query.noMoreResults">
			    Load more
            </md-button>
			<md-button ng-click="cancel()">
				Close
			</md-button>
		</div>
	</form>
</md-dialog>
