<md-dialog aria-label="dialog">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 flex>Details</h2>
				<md-button class="md-icon-button" ng-click="cancel()">
					<ng-md-icon icon="close" aria-label="Close dialog" style="fill: white"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:600px; max-height:810px; padding: 0px;">
			<div ng-repeat="entity in enitities" layout="row" layout-align="start center" class="user-row">
                <core-entity-picture entity-id="{{entity.id}}" entity-type="{{entity.type}}"
                ng-if="entity.type != 'state'" style="margin-right: 15px;"></core-entity-picture>
                <div flex layout="column">
                    <core-entity-row entity="entity" entity-id="{{entity.id}}" entity-type="{{entity.type}}"></core-entity-row>
                    <!-- Owner Block -->
                    <a class="text-lightgrey" ng-if="entity.owner" core-entity-admin-href entity="entity.owner">
                        {{entity.owner.name}}
                    </a>
                </div>
                <div class="text-lightgrey">{{entity.value || entity.deviceId}}</div>
			</div>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Close
			</md-button>
		</div>
	</form>
</md-dialog>
