.anim-fade {
    opacity:1;
    transition:all linear 0.4s;
    &.ng-hide {
        opacity:0;
    }
}

.anim-zoom{
    transform: scale(1);
    &.ng-hide{
        transform: scale(0);
        transition: 0.3s ease scale;
    }
}
.anim-fade-quick {
    opacity:1;
    transition:all linear 0.1s;
    &.ng-hide {
        opacity:0;
    }
}
.anim-slide-generic{
    transition: all 0.6s linear;
    max-height: 100vh;
    overflow: hidden;
    &.ng-hide{
        max-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        transition: all 0.6s cubic-bezier(0, 1.05, 0, 1);
    }
}
.anim-slide-md{
    transition: all 0.3s linear;
    max-height: 100vh;
    overflow: hidden;
    &.ng-hide{
        max-height: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        transition: all 0.3s cubic-bezier(0, 1.05, 0, 1);
    }
}

.anim-slide-alert {
    transition: all ease-in-out 0.1s;
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        max-height: 0px;
        opacity:0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        max-height: 18px;
        opacity:1;
    }
}

.anim-repeat-fade{
    opacity: 1;
    &.ng-enter {
        transition: 0.5s opacity ease;
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
}

.anim-repeat-stagger-fade {
    transition: opacity 0.3s ease;
    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
        opacity:0;
    }
    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        opacity:1;
    }
    &.ng-leave-stagger, &.ng-enter-stagger {
        transition-delay: 0.1s;
        transition-duration: 0s;
    }
}
.anim-repeat-slide {
    transition: all 0.3s ease;
    overflow: hidden;
    display: block;
    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
        padding: 0px;
        opacity:0;
        max-height: 0px;
        &.sm{
            max-height: 0px;
        }
        &.md{
            max-height: 0px;
        }
        &.lg{
            max-height: 0px;
        }
    }
    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        opacity:1;
        max-height: 50px;
        &.sm{
            max-height: 80px;
        }
        &.md{
            max-height: 100px;
        }
        &.lg{
            max-height: 300px;
        }
    }
//    &.ng-leave-stagger, &.ng-enter-stagger {
//        transition-delay: 0.01s;
//        transition-duration: 0s;
//    }
}

.anim-pulse{
    -webkit-animation: pulse 1s linear;
    animation: pulse 1s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		opacity: 0.5
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0.5
	}
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0.5
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0.5
	}
}
