.missing-fields{
    background: rgb(229,57,53);
    color: white;
    line-height: 1.5em;
    font-size: 14px;
    padding: 25px 0;
    a{
        text-decoration: underline;
    }

    transition: max-height 0.3s ease, padding 0.3s ease;
    max-height: 200px;
    overflow: hidden;


    &.ng-hide{
        max-height: 0px;
        padding: 0px;
    }
}
