.table tr{
  vertical-align: top;
}
.table td{
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 0px;
}
.table td:first-child{
  color: rgba(0, 0, 0, 0.4);
  padding-right: 10px;
}
.table a {
  text-decoration: underline;
}
.table a:hover{
  opacity: 0.8;
}
