<md-container ng-if="!contained">
    <md-divider ng-if="!typeInfo.inputPlaceholder || parentType == 'user'"></md-divider>
    <user-input ng-if=" typeInfo.inputPlaceholder && parentType != 'user' && ! hideInput"
    placeholder="{{typeInfo.inputPlaceholder}}" section-data="sectionData" save-fn="newEntitySubmit()" save-text="Save Draft" radio-details="radioDetails"></user-input>
</md-container>

<div ng-if="!contained" class="feed" infinite-scroll="query.more()" infinite-scroll-distance="1" infinite-scroll-disabled="query.loading || query.noMoreResults">
    <div ng-repeat="item in query.results">
        <div layout="row" layout-align="center">
            <div class="md-content-container md-no-padding">
                <feed-item data="item" size="{{size}}"></feed-item>
            </div>
        </div>
    </div>

    <div ng-if="query.loading && !query.noMoreResults" layout="row" layout-align="center">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-container ng-show="querynoMoreResults">
        <div class="text-no-results">
            <span ng-show="query.results.length > 0">{{typeInfo.noMoreMulti}}</span>
            <span ng-hide="query.results.length > 0">{{typeInfo.noMoreSingular}}</span>
            <span ng-show="showEdit" class="text-green">
				<a class="underlined" ng-click="typeInfo.inputFn($event, inputFnData)">
					Create One
				</a>
            </span>
        </div>
    </md-container>
</div>

<div ng-if="contained" class="feed" infinite-scroll="query.more()" infinite-scroll-distance="1" infinite-scroll-disabled="query.loading || query.noMoreResults">
<!--
    <user-input ng-if=" typeInfo.inputPlaceholder && parentType != 'user' && ! hideInput" class="m-b-15"
    placeholder="{{typeInfo.inputPlaceholder}}" section-data="sectionData" save-fn="newEntitySubmit()" save-text="Save Draft" radio-details="radioDetails"></user-input>
-->

    <div ng-repeat="item in query.results">
        <feed-item  data="item" size="{{size}}"></feed-item>
        <call-to-action ng-if="($index+1) % 10 == 0 && parentType != 'user'"></call-to-action>
    </div>

    <div ng-if="query.loading && !query.noMoreResults" layout="row" layout-align="center">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-show="query.noMoreResults">
        <div class="text-no-results">
            <span ng-show="query.results.length > 0">{{typeInfo.noMoreMulti}}</span>
            <span ng-hide="query.results.length > 0">{{typeInfo.noMoreSingular}}</span>
        </div>
    </div>
</div>

