<div class="rel-box" ng-repeat="model in ngModel track by $index">
    <md-select placeholder="{{placeholder || 'Select Country'}}" ng-model="ngModel[$index]" class="md-accent">
        <md-option value="{{location.name}}" ng-repeat="location in locations">{{location.name}}</md-option>
    </md-select>
    <div class="md-select-buttons">
        <md-button class="md-icon-button" ng-click="remove($index)" ng-if="$index > 0">
            <md-icon class="r-45" md-svg-icon="add"></md-icon>
            <md-tooltip md-autohide="true">Delete</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="addAnother()" ng-if="$index == 0">
            <md-icon md-svg-icon="add"></md-icon>
            <md-tooltip md-autohide="true">Add another</md-tooltip>
        </md-button>
    </div>
</div>
