@value timeline-bg from "theme";

.moreDots{
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 20px;
  box-shadow: inset 39px 0px 20px -30px timeline-bg;
}
.right{
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

/*
.moreDots div{
  margin-left: 2px;
  width: 1px;
  background: timeline-bg;
  height: 4px;
  display: inline-block;
}
.moreDots div + div{
  margin-left: 3px;
  width: 1px;
}
.moreDots div + div + div{
  margin-left: 5px;
  width: 1px;
}
*/
