bannerheader{
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.banner-header {
    height: 400px;
    margin-bottom: 0px;
    padding: 0px 20px;
    box-shadow: inset 0px -3px 10px -5px rgba(0, 0, 0, 0.07);
    transition: height 0.2s linear;
}
.banner-header.ng-hide {
    height: 0px;
}
.banner-header-sample {
    height: 80px;
    margin-bottom: 20px;
}
.banner-header-auto {
    padding: 80px 20px;
    height: auto;
}
.banner-header-responsive{
    height: 30vh;
}
.banner-header h1{
    font-size: 60px;
    font-weight: 300;
/*    padding: 0px 40px;*/
    margin-top: 0px;
}
.banner-header h2{
    margin-top: 0px;
    line-height: 1.5em;
    border-bottom: none;
}
.banner-header h3{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
/*    padding: 0px 40px;*/
}
/* Organisation Banner Header */
.banner-header .box-dark{
    background: rgba(0, 0, 0, 0.49);
    padding: 30px;
}
.banner-header .box-dark p{
    margin-bottom: 50px;
}
.banner-header .box-light{
    background: rgb(255, 255, 255);
    padding: 30px;
}
.banner-header .box-light .vert-50{
    height: 50%;
}
.banner-header .box-light .stats{
    margin-bottom: 10px;
}
.banner-header .box-light .stats div{
    display: inline-block;
    padding: 10px;
}
.banner-header .box-light .stats h3{
    margin-top: 0px;
    font-size: 22px;
    font-weight: 400;
}
.banner-header .equal-col{
    height: 300px;
}

/* Responsive Fonts */
@media screen and (max-width: 992px){
    .banner-header h1{
        font-size: 40px;
    }
    .banner-header h2{
        font-size: 26px;
    }
    .banner-header h3{
        font-size: 18px;
    }
    .section-title h3{
        font-size: 22px;
    }
    .banner-header-auto{
        padding: 40px 20px;
    }
}
@media screen and (max-width: 768px){
    .banner-header h1{
        font-size: 30px;
    }
    .banner-header h2{
        font-size: 20px;
    }
    .banner-header h3{
        font-size: 15px;
    }
    .section-title h3{
        font-size: 18px;
    }
    .banner-header-auto{
        padding: 20px 20px;
    }
    .banner-header .equal-col{
        height: auto;
    }
}
/* Large Banner Header */
.banner-header-lg{
    height: 550px;
}
.banner-header-full{
    height: 100vh;
    margin-top: -55px;
}
.banner-header-sm{
    height: 260px;
}

/* Page layout and margin */
.margin-btm-md{
    margin-bottom: 60px;
}
.margin-top-md{
    margin-top: 60px;
}
.margin-btm-lg{
    margin-bottom: 100px;
}
.padding-vert-md{
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-vert-sm{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Expand Toggle */
.expand-toggle{
    background: white;
    width: 100%;
    height: 10px;
    top: 0px;
    transition: height 0.2s linear;
    cursor: pointer;
}
.expand-toggle.ng-hide{
    height: 0px;
}
.expand-toggle:hover{
    box-shadow: inset 0px 3px 4px -1px rgba(0, 0, 0, 0.07);
}
