mention-search{
    display: block;
    width: 180px;
    background: white;
    a{
        padding: 7px;
        &:hover{
            background: rgba(0, 0, 0, 0.05);
        }
        &.list-nav-active{
            background: rgba(0, 0, 0, 0.05);
        }
    }
    .avatar-circle{
        margin-right: 10px;
    }
}

.angular-medium-editor{
    .mention-at{
        color: #8DC63F;
    }
}

//.medium-mention-preview{
//    min-width: 150px;
//}
