/*@value primary: rgb(68, 154, 211);*/
/*@value primary-2: rgb(64, 129, 173);*/
@value primary: #4484d3;
@value primary-2: #3777c6;

/*@value primary-bg: linear-gradient(to bottom right, #447bd3, #449ad3);*/
/*@value primary-bg-hover: linear-gradient(to bottom right, #3d71c3, #3e86b5);*/
@value primary-bg: #4484d3;
@value primary-bg-hover: #3777c6;

@value secondary: rgba(0, 0, 0, 0.7);
@value secondary-2: rgba(0, 0, 0, 0.8);

@value warn: rgb(244,67,54);
@value warn-2: rgb(219, 59, 47);

@value success: rgb(86, 198, 86);

@value timeline-main: rgb(188, 188, 188);
@value timeline-bg: rgb(248, 248, 248);

@value sidebar-bg: rgb(28, 30, 34);
@value sidebar-text-1: rgb(255, 255, 255);
@value sidebar-text-2: rgba(255, 255, 255, 0.8);
@value sidebar-footer: rgb(20, 22, 25);
@value sidebar-search-border: rgba(255, 255, 255, 0.2);
@value sidebar-search-bg: rgba(255, 255, 255, 0.1);
@value sidebar-search-text: rgba(255, 255, 255, 0.8);

@value border1: rgba(0, 0, 0, 0.1);
@value border2: rgba(0, 0, 0, 0.3);
@value bg1: rgba(0, 0, 0, 0.03);

@value grey-1: rgba(0, 0, 0, 0.1);
@value grey-2: rgba(0, 0, 0, 0.3);
@value grey-3: rgba(0, 0, 0, 0.5);

@value placholder: rgba(0, 0, 0, 0.5);

@value height-header: 50px;
@value width-header-buttons: 100px;

@value linkedin: rgb(24, 132, 188);
@value linkedin-dark: rgb(22, 111, 157);
@value facebook: rgb(59, 89, 152);
@value facebook-dark: rgb(45, 69, 121);
