<md-dialog aria-label="Select File">
    <div class="md-modal-header text-subtitle-thin" layout="row" layout-align="start center">
        <span class="text-black">Select project location</span>
    </div>

    <md-dialog-content class="bg-lightgrey overflow-x-box rel-box p-0">
        <div class="md-content-container content-sm" style="padding: 30px;">

            <div class="card-z1 p-30 m-b-30">
                <div class="md-subhead m-b-15">File location</div>
                <p class="body-small">Is this a new project or an existing project?</p>
                <md-radio-group ng-model="folder.type">
                    <md-radio-button value="new" class="md-accent m-l-0">
                        <div layout="row">
                            <md-icon class="m-r-10 s30" md-svg-icon="create_new_folder" style="color: #f5dbab;"></md-icon>
                            <div>
                                <div class="text-subtitle-thin text-black">New Project</div>
                                <div class="text-lightgrey">If this is a new project, a new project folder will be created.</div>
                            </div>
                        </div>
                    </md-radio-button>
                    <md-radio-button value="existing" class="md-accent m-l-0">
                        <div layout="row">
                            <md-icon class="m-r-10 s30" md-svg-icon="folder" style="color: #bbe8bb"></md-icon>
                            <div>
                                <div class="text-subtitle-thin text-black">Existing Project</div>
                                <div class="text-lightgrey">If this is an existing project, navigate to its location to connect it.</div>
                            </div>
                        </div>
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div ng-if="folder.type == 'new'" class="card-z1 p-30">
                <div class="md-subhead m-b-15">Folder Path</div>
                <p class="body-small">A new project will be created in the folder:</p>
                <p class="capitalise text-lightgrey">{{provider}}/STEMN/{{projectName}}</p>
            </div>

            <div ng-if="folder.type == 'existing'" class="card-z1 p-30">
                <div class="md-subhead m-b-15">Select folder path</div>
                <p class="body-small">If your project is already in your {{provider}}; select it. This folder will be linked to your STEMN project.</p>
                <div class="rel-box" style="min-height: 100px;">
                    <sync-folder-select item="item" open="true" selected="selected" loading="loading" provider="{{provider}}"></sync-folder-select>
                    <loading-overlay ng-if="loading.status" class="translucent"></loading-overlay>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <div class="md-modal-footer" layout="row" layout-align="start center" flex-order="2">
        <div flex></div>
        <md-button class="m-0" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-accent md-raised" style="margin: 0 0 0 10px;" ng-click="save()" ng-disabled="folder.type == 'existing' && !selected.id">{{folder.type == 'new' ? 'Create Folder' : 'Use Folder'}}</md-button>
    </div>
</md-dialog>
