<div class="sync-folder-select">
    <div layout="row" layout-align="start center" ng-hide="open" class="md-subhead display-row" ng-class="{'selected': item.path == selected.path}" style="padding-left: {{item.level * 28}}px;">
        <a ng-click="toggle(item.path)">
            <md-icon class="m-r-10" md-svg-icon="expand-more" ng-class="{'r-180' : item.showChildren, 'o-0' : item.children.length == 0}"></md-icon>
        </a>
        <a ng-click="select(item)" flex>{{item.name || 'root'}}</a>
    </div>
<!--    <div ng-show="item.path == selected.path">Projectname</div>-->
    <div ng-show="item.showChildren">
        <div ng-repeat="child in item.children">
            <sync-folder-select item="child" selected="selected" loading="loading" provider="{{provider}}"></sync-folder-select>
        </div>
    </div>
</div>
