$gray-lighter: rgba(0,0,0,0.3);
.feed {

}

/* Feed Wdiget Directive */
feed-widget{
    display: block;
    .heading{
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    .feed-widget-item{
        display: block;
        padding: 10px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        font-size: 14px;
        &:hover{
            background: rgba(0, 0, 0, 0.03);
        }
        &:last-child{
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        }
        .meta{
            font-size: 12px;
            padding-top: 2px;
        }
        md-icon{
            color: rgba(0, 0, 0, 0.2);
            width: 16px;
            height: 16px;
            margin-left: 4px;
            margin-top: 1px;
        }
    }
}

// FeedItem Directive
feed-item{
    display: block;
    background: white;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
//    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    padding: 20px;

    .item-title{
        font-size: 21px;
        font-weight: 700;
        line-height: 1.3em;
        margin: 0 0 7px;
    }
    .item-description{
        overflow: hidden;
        font-family: "PT Serif",Georgia,serif;
        color: #6F6F6F;
        font-size: 17px;
        line-height: 1.6em;
        margin-bottom: 10px;
    }
	.stats{
        color: $gray-lighter;
        .count{
            padding: 5px 2px 5px 0;
        }
        md-icon{
            color: #D9D9D9;
        }
	}

    .header-block{
        margin-bottom: 10px;
        font-size: 13px;
        color: rgba(0,0,0,0.4);
    }
}

/* ItemOwner Directive */
.item-owner {
    .image {
        margin-right: 15px;
    }
    h3 {
        margin: 0px;
        padding: 0 0 5px;
        font-size: 14px;
    }
    .sub {
        font-size: 12px;
        color: $gray-lighter;
        a {
            &:hover {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

/* ItemImage Directive */
.item-image{
    div{
        margin-left: 20px;
        height: 110px;
        width: 110px;
        background-size: cover;
        background-position: center;
		border: 1px solid rgb(238, 238, 238);
        @media (max-width: 599px){
            margin: 0px 0 10px;
            height: 150px;
            width: 100%;
        }
    }
}

/* FilterBar */
filter-bar{
    display: table;
    width: 100%;
    margin-bottom: 20px;
    filter{
        display: table-row;
        h4{
            display: table-cell;
            margin: 0px;
            width: 60px;
            padding-right: 10px;
        }
        div{
            display: table-cell;
        }
    }
}
