.toc-nav{
    $height: 30px;
    $highlight-color: rgb(139,195,74);
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px; // This is the width of the hover trigger
    @media (max-width: 1100px){ // These are required because firefox's flexbox sucks
        display: none !important;
    }
    &:hover{
        .markers{
            transform: translateX(-30px);
        }
        .content{
            transform: translateX(0);
            opacity: 1;
        }

    }
    .markers{
        position: absolute;
        top: 0;
        transition: all 0.5s ease;
        opacity: 1;
        transform: translateX(0);
    }

    .marker{
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        height: $height;
        transition: all 0.3s ease;
        &.active{
            border-bottom-color: $highlight-color;
        }
        &.H1{
            width: 24px;
        }
        &.H2{
            width: 16px;
        }
        &.H3{
            width: 12px;
        }

    }
    .content{
        padding-top: 10px;
        width: 200px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.90);
        font-size: 12px;

        transition: all 0.5s ease;
        opacity: 0;
        transform: translateX(-150px);
        padding-left: 10px;
    }
    .section{
        height: $height;
        color: rgba(0, 0, 0, 0.5);
        transition: color 0.5s ease;
        &:hover{
            color: $highlight-color;
        }
        &.active{
            color: $highlight-color;
        }
        &.H1{
            margin-left: 0;
            font-weight: 700;
        }
        &.H2{
            margin-left: 0;
        }
        &.H3{
            margin-left: 10px;
        }
    }
}
