<md-dialog>
    <md-dialog-content layout="row" layout-align="center center">
        <div style="width: 500px;">
            <h1 class="md-headline" style="margin-top: 0px;">{{ data.confirmTitle || 'Are you sure?'}}</h1>
            <p ng-bind-html="data.confirmBody || 'There will be no turning back.'"></p>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <div flex></div>
        <div>
            <md-button ng-click="cancel()">{{data.confirmNo || 'No'}}</md-button>
            <md-button class="md-accent md-raised" ng-click="confirm()">{{data.confirmYes || 'Yes'}}</md-button>
        </div>
    </div>
</md-dialog>
