<div hidepublic class="edit-buttons">
    <div class="edit">
        <div ng-hide="form.$visible || hideEdit">
            <md-button ng-click="edit()" class="md-circle md-sm" aria-label="edit">
                <md-icon md-svg-src="edit"></md-icon>
                <md-tooltip>
                    Edit
                </md-tooltip>
            </md-button>
        </div>
        <div ng-show="form.$visible">
            <md-button ng-click="cancel()" class="md-circle md-sm" aria-label="close">
                <md-icon md-svg-src="close"></md-icon>
                <md-tooltip>
                    Close
                </md-tooltip>
            </md-button>
        </div>
    </div>
</div>
