<md-button class="md-circle user-image md-sm" ng-if="imageId"
   ui-sref="app.user.profile({'stub': imageStub})"
   popup popup-content="<personcard id='{{imageId}}' size='sm'></personcard>" popup-fixed-bottom="popupFixedBottom"
   aria-label="User"
   style="background-image: url('{{src || '/assets/images/default/user-1.png'}}?size=thumb&crop=true')">
</md-button>

<md-button class="md-circle user-image md-sm no-pointer" ng-if="!imageId"
   aria-label="User"
   style="background-image: url('{{src || '/assets/images/default/user-1.png'}}?size=thumb&crop=true')">
</md-button>
