.avatar-circle{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #EEEEEE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &.no-border{
        border-color: transparent;
    }
}
.avatar-square-contain{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #EEEEEE;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar-contain{
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar-square-cover{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #EEEEEE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar-sm{
    width: 30px;
    height: 30px;
}
.avatar-md{
    width: 80px;
    height: 80px;
}
.avatar-lg{
    width: 100px;
    height: 100px;
}
.avatar-100{
    width: inherit;
    height: inherit;
}
