// Page Layout
body{
    >[ui-view]{
        height: 100%;
    }
}

body,html{
    overflow: hidden;
}

a, .a{
    cursor: pointer;
	color: inherit;
    text-decoration: inherit;
}

.bold{
	font-weight: 600;
}

.extra-bold {
    font-weight: 700;
}

.italic{
	font-style: italic;
}
.underlined{
	text-decoration: underline;
}
.text-lightgrey{
    color: rgba(0, 0, 0, 0.40);
}


.ellipsis-container{ // Required around ellipsis on the flex row in firefox
    overflow: hidden
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}


// Margin and Paddings
.m-0{
    margin: 0px !important;
}

.m-b-5{
    margin-bottom: 5px;
}

.m-b-15{
    margin-bottom: 15px;
}
.m-t-15{
    margin-top: 15px;
}
.m-h-15{
    margin-left: 15px;
    margin-right: 15px;
}
.m-v-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.p-t-0{
    padding-top: 0px;
}

//md-input-container label:not(.md-container-ignore) {
//    bottom: 20px;
//}
