.editor-buttons{
	opacity: 1;
	transition: all 0.2s ease;
	&.ng-hide{
		opacity: 0 !important;
	}
	.md-icon-button{
		min-height: 0px;
		width: 36px;
		height: 36px;
		line-height: 30px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		background-color: rgba(255, 255, 255, 1);
		&:hover{
			background-color: rgba(255, 255, 255, 1) !important;
		}
		md-icon{
			width: 20px;
			height: 20px;
		}
	}
}

modular-editor{
	display: block;
	.md-content-container{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

    // Modifiers
    &.minimal{
//        [editor-section-element]{
//            &:after{
//                display: none;
//            }
//        }
        editor-append-buttons{
            display: none;
        }
    }
}

$section-row-padding: 40px;
.editor-section-row{
    margin-bottom: $section-row-padding;
    position: relative;
    &[draggable=true]{ // sortable styles
        background: #efefef;
        opacity: 0.5;
    }
}
.editor-compact{
    margin-top: 10px;
}
.editor-compact .editor-section-row{
    margin-bottom: 10px;
}
.editor-section-row.text+.editor-section-row.text{
    padding-top: $section-row-padding;
    &::before{
        $width: 80px;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -$width/2;
        width: $width;
        height: 1px;
        background: rgba(0, 0, 0, 0.07);
    }
}
