.readme {
  margin-top: 30px;
  min-height: 100px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.editButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
