.person-card .banner{
    height: 140px;
    overflow: hidden;
}
.person-card.card-sm .banner{
    height: 100px;
}
.person-card .picture{
    width: 100px;
    height: 100px;
    margin-top: -50px;
    z-index: 20;
    border: 2px solid #fff;
    background-size: cover;
    display: inline-block;
}
.person-card.card-sm .picture{
    width: 80px;
    height: 80px;
    margin-top: -40px;
}

/* UsersGroup Directive */
users-groups{
    .user-sort.empty{
        border: 1px dashed rgba(0, 0, 0, 0.06);
        padding: 15px;
        padding-right: 0px;
    }
    .invite-button{
        position: absolute;
        right: 3px;
        margin: 0px;
        top: 12px;
        z-index: 1;
    }
}

/* UserIcon Directive */
user-icon{
	>div{
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 50%;
//		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.user-row-detailed{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 30px;
    min-height: 180px;
    .item{
        padding: 5px 0;
    }
    .item-col{
        padding-right: 10px;
    }
}
