.post {
//    margin-bottom: 15px;
    .owner {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #8dc63f;
        display: inline-block;
        margin: 0px 5px;
    }
    .main {

    }
    .hover-show {
        opacity: 0;
        transition: opacity 0.4s linear;
    }
    &:hover .hover-show {
        opacity: 1;
    }
}
