@value primary, border1, bg1 from "theme";

.item{
  border-left: 1px solid border1;
  padding: 15px 0;
}
.marker{
  width: 12px;
  min-width: 12px;
  height: 12px;
  border: 1px solid border1;
  border-radius: 50%;
  margin-left: -6px;
  margin-right: 13px;
  background: white;
}
