.avatar{
  margin-right: 10px;
}

.label{
  margin: 0 3px;
  display: inline-block;
  padding: 6px;
  font-size: 80%;
  line-height: 1;
  color: white;
  background: rgb(68, 154, 211);
  border-radius: 3px;
  text-transform: capitalize;
}
