<galaxy></galaxy>
<div layout="column" layout-align="center center" style="height: 100%; z-index: 1;">
	<a authentication-login class="md-button login-button md-raised md-primary" layout="column" layout-align="center center"
		aria-label="login"
		style="background: rgba(0, 0, 0, 0); display: flex;">
        FACEBOOK
    </a>
    <a authentication-local class="md-button login-button md-raised md-primary" layout="column" layout-align="center center"
		aria-label="login"
		style="background: rgba(0, 0, 0, 0); display: flex;">
        LOCAL
    </a>
</div>
