@value primary, secondary, border1 from "theme";

.radio{
  padding: 5px 0;
}
.radio input {
  display: none;
}
.radio input + span {
  background-color: #fefefe;
  border: 1px solid;
  border-color: border1;
  border-radius: 50%;
  margin-right: 7px;
  width: 22px;
  height: 22px;
}
.checked + span {
  color: primary;
  border-color: primary !important;
}
.checked + span:after {
  background: primary;
  border-radius: 50%;
  content: " ";
  height: 10px;
  width: 10px;
}
.radio label:hover input + span {
  border-color: primary;
}

/*http://codepen.io/ed1nh0/pen/GLxmz?editors=1100*/
