@value primary from "theme";

.toolbar {
  background: white;
  position: absolute;
  top: 1px;
  right: 1px;
  margin-top: 10px;
  margin-right: 10px;
}
.button {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: primary;
}

.button svg {
  width: 17px;
  height: 17px;
}
