@value primary from "theme";

.toolbar {
  background: white;
  position: absolute;
  top: 1px;
  right: 1px;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1;
}

.toolbar svg {
  width: 18px;
  height: 18px;
}
