@value primary, primary-2, border1 from "theme";

.file{
  padding: 8px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s ease all;
  line-height: 1.4em;
}
.file:hover{
  color: rgba(0, 0, 0, 1);
}
.active{
  color: primary;
}
.active:hover{
  color: primary-2;
}
.popup{
  position: relative;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 200px;
  min-height: 50px;
}
.divider{
  border-bottom: 1px solid border1;
}
