<div class="map-display" layout="row">
    <ui-gmap-google-map flex="100" center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-markers models="points" coords="'self'" icon="'icon'" click="onClick" type="'spider'" label-class="'label'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
    <div class="map-tools">
       <md-button class="md-icon-button" ng-click="getLocation()">
            <md-icon md-font-icon="fa-map-marker" class="fa s32"></md-icon>
       </md-button>
<!--
       <md-button class="md-icon-button" ng-click="nextStyle()">
            <md-icon md-font-icon="fa-paint-brush" class="fa s32"></md-icon>
       </md-button>
-->
       <md-button class="md-icon-button" ng-click="getLink()">
            <md-icon md-font-icon="fa-link" class="fa s32"></md-icon>
       </md-button>
    </div>
</div>
