.sidebarWidget {
  width: 65px;
  margin-bottom: 15px;
  text-align: center;
}

.icon {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  cursor: move;
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
  transition: 0.3s ease all;

  &:hover {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  svg {
    width: 30px;
    height: 30px;
  }
}