.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: 60px;
  min-height: 60px;
  padding: 0 15px;
}

.timeline {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.03);
}

.sidebar {
  background: white;
  overflow-y: auto;
  width: 450px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;



  @media (max-width: 800px) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 9px 14px 1px rgba(0, 0, 0, 0.1);
    border-left: none;
    transition: 0.6s ease all;
    transform: translateX(105%);
    width: 400px;
    z-index: 10;
    &.isOpen {
      transform: translateX(0%);
    }
  }
  @media (max-width: 599px) {
    width: 100vw;
  }
}

.sidebarButton {
  display: none;
  @media (max-width: 800px) {
    display: inline-block;
  }
}

.preview {
  background: white;
}

.sidebarTitle {
  margin-top: 30px;
  margin-bottom: 15px;
}
.sidebarTitle:first-child {
  margin-top: 0;
}
