<md-dialog class="md-full-screen" aria-label="Image Lightbox">
    <md-toolbar style="background: white;">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-align="center center" class="carousel-modal">
        <div class="controls" ng-show="lightboxImages.length > 1" layout="row">
            <div flex ng-click="prev()" layout="row" layout-align="start center">
                <md-button class="md-icon-button"><md-icon md-svg-icon="chevron-left"></md-icon></md-button>
            </div>
            <div flex ng-click="next()" layout="row" layout-align="end center">
                <md-button class="md-icon-button"><md-icon md-svg-icon="chevron-right"></md-icon></md-button>
            </div>
        </div>
        <div>
            <loading-overlay ng-if="loading"></loading-overlay>
            <img ng-src="{{currentImage.image.url}}" image-on-load="loading = false">
        </div>
        <div ng-show="currentImage.caption" style="max-width: 800px; margin-top:20px;" class="angular-medium-editor text-center" ng-bind-html="currentImage.caption"></div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-icon-button" target="_self" ng-href="{{currentImage.image.url}}" download>
            <md-tooltip md-direction="top" md-autohide="true">Download Image</md-tooltip>
            <md-icon md-svg-icon="file:file_download" aria-label="Download Image"></md-icon>
        </md-button>
        <md-button class="md-icon-button" target="_self" ng-href="{{currentImage.image.url}}">
            <md-tooltip md-direction="top" md-autohide="true">Link Image</md-tooltip>
            <md-icon md-svg-icon="link" aria-label="Link Image"></md-icon>
        </md-button>
        <div flex class="text-right">
            <span ng-if="lightboxImages.length>1" class="text-lightgrey">{{current+1}} / {{lightboxImages.length}}</span>
        </div>
    </div>
</md-dialog>
