.sidebar{
  width: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease all;
  background: rgba(0, 0, 0, 0.03);
}
.sidebar.open{
  width: 300px;
}

.sidebarToolbar{
  margin-top: 31px;
  height: 52px;
  padding: 10px;
}


.sidebarButton{
  display: block;
  width: 100%;
  background: none;
  outline: none;

  padding: 15px 20px;
  font-size: 12px;

}
.sidebarButton:hover{
  background: rgba(0, 0, 0, 0.05);
}
.sidebarButton.active{
  background: black;
}
.sidebarButton .text{
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.sidebarSearch{
  position: relative;
  margin: 0 20px 10px;
}
.sidebarSearch input{
  padding: 10px;
}
.sidebarSearchIcon{
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}
