@value primary, secondary from "app/renderer/assets/css/themes/standard.css";

.sidebar{
  width: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease all;
  background: rgba(0, 0, 0, 0.03);
}
.sidebar.open{
  width: 300px;
}


.sidebarToolbar{
/*  margin-top: 31px;*/
  height: 55px;
  padding: 10px 20px;
}

.sidebarButton{
  display: block;
  width: 100%;
  background: none;
  outline: none;

  padding: 15px 20px;
  font-size: 12px;

}
.sidebarButton:hover{
  background: rgba(0, 0, 0, 0.05);
}
.sidebarButton.active{
  background: rgba(0, 0, 0, 0.05);
  position: relative;
}
.sidebarButton.active:after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  bottom: 0;
  top: 0;
  width: 4px;
  background: primary;
}
.sidebarButton .text{
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebarSearch{
  position: relative;
  margin: 0 20px 10px;
}
.sidebarSearch input{
  padding: 15px;
}
.sidebarSearchIcon{
  position: absolute;
  right: 8px;
  top: 12px;
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}
