.sidebar {
  margin-bottom: 15px;
}

@media (max-width: 599px) {
  .sidebar {
    display: none;
  }
}

.showSidebar {
  display: block;
}

.avatar {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
}

.userPanel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  text-align: center;
  padding: 30px 20px;
  background: white;
}

.userPanel hr {
  border-color: rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

.iconInfo {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.iconInfo svg {
  margin-right: 10px;
}

.name {
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
}

.blurb {
  margin: 0;
  margin: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  line-height: 1.6em;
}
