.sidebar {
  width: 300px;
}

.avatar {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.userPanel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  text-align: center;
  padding: 15px;
  background: white;
}

.name {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.blurb {
  margin: 0;
  margin: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  line-height: 1.6em;
}

.panel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding: 30px;
  height: 300px;
  margin-bottom: 15px;
}