.editor-help-footer{
	$height: 300px;
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
	height: 300px;
	background: #F8F8F8;
	border: 1px solid #EEEEEE;
	overflow: hidden;
	.close{
		position: absolute;
		top: -5px;
		right: -10px;
		md-icon{
			color: rgba(0, 0, 0, 0.2);
		}
	}
	.md-headline{
		margin-bottom: 20px;
	}

	transition: all 0.4s ease;
	&.ng-enter, &.ng-leave.ng-leave-active {
		transform: translateY($height);
	}

	&.ng-leave, &.ng-enter.ng-enter-active {
		transform: translateY(0px);
	}
}
