@import "~mrblenny-storm-react-diagrams/src/sass/main.scss";


.srd-node--selected > div {
  border-color: #4484d3 !important;
}

.srd-default-link--path-selected {
  stroke: #4484d3 !important;
}

.srd-default-link--point-selected {
  fill: #4484d3;
  stroke-dasharray: 4,4;
}

.srd-port:hover, .srd-port.selected {
  background: #4484d3;
}

.srd-default-link path {
  stroke: #4484d3;
  stroke-linecap: square;
}