@import "~mrblenny-storm-react-diagrams/src/sass/main.scss";


.srd-node--selected > div {
  border-color: green !important;
}

.srd-default-link--path-selected {
  stroke: green !important;
}

.srd-default-link--point-selected {
  fill: green;
  stroke-dasharray: 4,4;
}

.srd-port:hover, .srd-port.selected {
  background: green;
}

.srd-default-link path {
  stroke: green;
  stroke-linecap: square;
}