.partnerRow{
	margin-bottom: 50px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	img{
		width: 100px;
		padding-right: 15px;
	}
	p{
		margin-top: 0px;
	}
	md-icon{
		color: rgb(0, 0, 0);
	}
}
