.userView {
    $picture-diameter: 150px;

    &.profileTab{
        .user-banner-top{
            height: 400px;
            @media (max-width: 959px) {
                height: 300px;
            }
            @media (max-width: 599px) {
                height: 200px;
            }
        }
    }

    .headerTitle{
        padding: 0px !important;
        >div{
            opacity: 1;
            transition: opacity 0.3s ease;
            &.ng-hide{
                opacity: 0;
            }


            // Temp fix to make follow button easier to see
            .stat-button.rect.inactive .md-button, .stat-button.rect.active .md-button.hover {
                background: rgba(255, 255, 255, 1) !important;
            }
            .stat-button.rect.active .md-button, .stat-button.rect.inactive .md-button.hover {
                background: rgba(221, 236, 203, 1) !important;
            }

        }
    }

    .user-picture-area {
        margin-top: -$picture-diameter/2;
        .picture {
            width: $picture-diameter;
            height: $picture-diameter;
            border-radius: 50%;
            border: 4px solid white;
            background: white;
            position: relative;
            transition: all 0.4s ease;
            &:hover{
                box-shadow: 0 3px 5px -1px rgba(0,0,0,.14),0 6px 10px 0 rgba(0,0,0,.098),0 1px 18px 0 rgba(0,0,0,.084);
            }
        }
    }
    .user-banner-top{
        height: 200px;
        transition: height 0.3s ease;
    }
    .user-info-area {
        >h1 {
          font-weight: 600;
            color: rgba(0,0,0,0.8);
        }
        >h3 {
            font-size: 16px;
            line-height: 1.4em;
            color: rgba(0, 0, 0, 0.7);
            margin-top: 15px;
            padding-top: 0px;
        }
        .user-stats {
            padding-bottom: 30px;
            padding-top: 30px;
            .md-button {
                margin: 0px;
                padding: 5px 15px 2px;
                line-height: normal;
                width: 105px;
                display: inline-block;
                border-left: 1px solid;
                border-color: rgba(0, 0,0, 0.1);
                &:first-child {
                    border-color: transparent;
                }
                small {
                    letter-spacing: 1px;
                    font-size: 10px;
                    color: rgba(0, 0, 0, 0.7);
                }
                h3 {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }

    // Bio Page
    .profile-item{
        md-divider{
            margin: 40px 0;
        }
        .inter{
            padding: 0px 3px;
        }
        > div:first-child{
            padding-right: 70px;
        }
        > div:nth-child(2){
            @media (min-width: 600px) {
                border-left: 1px solid rgb(230, 230, 230);
                margin: -15px 0 -15px -35px;
                padding: 15px 0  15px  35px;
                &::before{
                    margin-left: -47px;
                    content: url('data:image/svg+xml; utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><title>Layer 1</title><ellipse stroke-opacity="0.2" ry="10" rx="10" id="svg_1" cy="12" cx="12" stroke-width="1" stroke="#000000" fill="#ffffff"/></g></svg>');
                    position: absolute;
                }
            }
        }
        > div{
            @media (max-width: 599px) {
                padding: 0px !important;
                margin: 0px !important;
            }
        }
        .bullet-button{
            position: absolute;
            margin-left: -57px;
            margin-top: -10px;
        }
    }
	.projects-section{
		$card-margin: 10px;
		background: rgba(0, 0, 0, 0.03);
		padding-top: 20px;
		padding-bottom: 30px;
		overflow: hidden;
		.title-block{
			padding-bottom: 30px;
		}
		.creation-card{
			margin: $card-margin;
		}
		.more-projects{
			background: white;
//			position: absolute;
			margin: $card-margin;
            border: 1px solid rgba(0, 0, 0, 0.1);
			md-icon{
				width: 50px;
				height: 50px;
				color: rgba(0, 0, 0, 0.15);
			}
			&:hover{
				md-icon{
					color: rgba(0, 0, 0, 0.25);
				}
			}
		}
		.add-projects{
			width: 260px;
			background: white;
			margin: $card-margin;
            border: 1px solid rgba(0, 0, 0, 0.1);
			.picture{
				height: 180px;
				background: rgba(0, 0, 0, 0.1);
				md-icon{
					width: 50px;
					height: 50px;
					color: rgba(0, 0, 0, 0.15);
				}
			}
		}
	}

    .divider-bar{
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            position: relative;
            padding: 100px 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
        md-icon{
          color: white !important;
        }
        .stat-number{
            font-weight: 600;
            letter-spacing: 4px;
            font-size: 48px;
        }
    }
    .social-links .edit{
        padding: 15px;
        background: rgba(0, 0, 0, 0.40);
        p{
            color: white;
        }
        .text-lightgrey{
            color: rgba(255, 255, 255, 0.6);
        }
    }

	feed>div:first-child{
		display: none;
	}
}
/* dateRange Directive*/
.date-range{
    padding-top: 3px;
    padding-bottom: 33px;
    width: 100%;
    text-align: right;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);
}
