.previewView{
    .toolbar{
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        height: 64px;
    }
    .toolbar-sm{
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        height: 35px;
    }
    .sidebar{
        width: 400px;
        border-left: 1px solid rgba(0, 0, 0, 0.20);
    }
    .footer-toolbar{
        border-top: 1px solid rgba(0, 0, 0, 0.20);
        height: 40px;
        white-space: nowrap;
    }

    .file-icon{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .revision-dots{
        .revision-dot{
            $size: 8px;
            display: inline-block;
            white-space: nowrap;
            width: $size;
            height: $size;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            margin: 2px;
            &:hover, &.active{
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }
}
