@value primary, border1 from "app/renderer/assets/css/themes/standard.css";

.toolbar{
/*  min-height: 36px;*/
  padding: 3px 5px;
  border-bottom: 1px solid border1;
/*  background: primary;*/
/*  color: white;*/
  font-size: 14px;
}
