@value secondary, border1, bg1 from "theme";

.section{
  border-bottom: 1px solid border1
}
.text{
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid secondary;
  margin-bottom: -1px;

  letter-spacing: 0.05em;
  color: secondary;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4em;
  text-transform: uppercase;
}
