@value border1 from "theme";

.commitInfo{
  padding: 10px 20px;
  border-bottom: 1px solid border1;
}

.description{
  margin-bottom: 15px;
}

.title {
  font-size: 20px;
  margin: 10px 0 10px;
}

.links a {
  margin-left: 15px;
}
