<bannerheader colour="['#3C3CCD', '#E03370']">
    <h1>Frequently Asked Questions</h1>
</bannerheader>


<md-container class="">
    <h3 class="md-headline">What does STEMN stand for? How do I say it?</h3>
    <p>STEMN stands for <b>S</b>cience <b>T</b>echnology <b>E</b>ngineering <b>M</b>athmatics <b>N</b>etwork. The <b>MN</b> at the end is pronounced in the same was as 'CONDE<b>MN</b>'</p>

    <h3 class="md-headline">What is STEMN? Where am I?</h3>
    <p>Welcome to STEMN. Make yourself at home.
        <br>
        <br>STEMN connects the international space community through projects. It’s a place for space-loving scientists, engineers and explorers to geek out about the latest out-of-this-world research. Literally.
    </p>

    <h3 class="md-headline">What are projects?</h3>
    <p>Each project page is like a Wikipedia article. It can be as long or short as you like. But enough to give the community a good idea of your skill set and what you are working on.
        <br>
        <br>Still stuck? Check out the <a class="text-green" href="/browse/projects">recent projects</a> for some inspiration.
    </p>

    <h3 class="md-headline">What kind of projects can I post on STEMN?</h3>
    <p>Space is multidisciplinary, and it brings all the sciences together. So while the focus is on space projects, we welcome all projects in the STEM fields. Your STEMN profile is your own gallery, your platform, your voice.<a authenticate class="text-green" ng-click="newSomething()"> Tell us your story.</a>
    </p>

    <h3 class="md-headline">What about ITAR?</h3>
    <p>While the STEMN community is built around knowledge sharing, there are legal issues to be aware of. As a rule of thumb, only post information that you have permission to share. Your project page can include as much or as little detail as you like.
    </p>

    <h3 class="md-headline">Wow! This is much prettier / useful than LinkedIn!</h3>
    <p>No one likes to use LinkedIn. We use it because we have to. Put a link of your STEMN page on your LinkedIn. Share your STEMN page with employers, and stand out from that dusty pile of CVs.
    </p>

    <h3 class="md-headline">Where are the easter eggs!?</h3>
    <p>Well if we straight up told you, it wouldn’t really be an easter egg, would it? (At this stage, you can be pretty sure they are all bugs. If you find one, <a class="text-green" ui-sref="app.field.threads({'stub':'stemn-bugs'})">let us know</a>!)
    </p>

    <h3 class="md-headline">I love STEMN. Are you on Facebook or Twitter?</h3>
    <p>We sure are. Like us <a class="text-green" href="http://www.facebook.com/stem.network" target="_blank">here</a> and follow us <a class="text-green" href="https://twitter.com/stem_network" target="_blank">here</a>.
    </p>

    <h3 class="md-headline">How can I reach you?</h3>
    <p>Feel free to reach us by email at founders@stemn.com or hit us up <a class="text-green" href="/contact">here</a>.
    </p>

    <h3 class="md-headline">Where can I find your Privacy Policy and Terms of Service?</h3>
    <p>For your reading pleasure, review our <a class="text-green" href="/privacy">Privacy Policy</a> and <a class="text-green" href="/terms">Terms of Service</a>.
    </p>

    <h3 class="md-headline">Who’s behind STEMN?</h3>
    <p>We’re flattered you asked. :) Learn more about us <a class="text-green" href="/projects/stemn">here</a>.
    </p>
</md-container>
