 <!-- FIELDS -->
<div class="line-divider-bottom m-b-15" layout="row">
    <div class="md-subhead" flex>Related Fields</div>
</div>
<related class="m-b-60" parent-type="field" parent-id="{{field._id}}" type="field"></related>
<div ng-hide="projectQuery.results.length==0">
    <!-- PROJECTS -->
    <div class="line-divider-bottom m-b-40" layout="row">
        <div class="md-subhead" flex>Newest Projects</div>
        <a class="text-green" ui-sref="app.field.projects">See more projects</a>
    </div>
    <card-feed parent-id="{{field._id}}" parent-type="{{field.type}}" type="projects" query="projectQuery"></card-feed>
</div>
<!-- QUESTIONS -->
 <div ng-hide="discussionQuery.results.length==0">
   <div class="line-divider-bottom m-b-40" layout="row">
        <div class="md-subhead" flex>Newest Questions and Discussions</div>
        <a class="text-green" ui-sref="app.field.threads">See more</a>
    </div>
    <forum size="4" parent-id="{{field._id}}" parent-type="{{field.type}}" type="discussions" query="discussionQuery"></forum>
<!--    <card-feed parent-id="{{field._id}}" parent-type="{{field.type}}" type="discussions" items="discussiontItems"></card-feed>-->
</div>

<!-- JOBS -->
<div ng-hide="jobQuery.results.length==0">
    <div class="line-divider-bottom m-b-40" layout="row">
        <div class="md-subhead" flex>Related Jobs</div>
        <a class="text-green" ui-sref="app.field.jobs">See more jobs</a>
    </div>
    <job-rows size="4" parent-type="field" parent-id="{{field._id}}" class="m-b-60" query="jobQuery"></job-rows>
</div>

<!-- UPDATES -->
<div ng-hide="updatesQuery.results.length==0">
    <div class="line-divider-bottom m-b-40" layout="row">
        <div class="md-subhead" flex>Newest Updates</div>
        <a class="text-green" ui-sref="app.field.blogs">See more updates</a>
    </div>
    <card-feed parent-id="{{field._id}}" parent-type="{{field.type}}" type="blogs" query="updatesQuery"></card-feed>
</div>

<!-- ORGANISATIONS -->
<div ng-hide="organisationItems.length==0">
    <div class="line-divider-bottom m-b-40" layout="row">
        <div class="md-subhead" flex>Related Organisations</div>
        <a class="text-green" ui-sref="app.field.organisations">See more organisations</a>
    </div>
    <organisation-cards size="4" field="{{field._id}}" class="m-b-60" items="organisationItems"></organisation-cards>
</div>
