medium-editor{
    border-bottom: 1px solid rgba(0,0,0,0.12);
    display: block;
    padding-bottom: 5px;
    a{
        text-decoration: underline;
        color: #000052;
    }
}
:focus {
    outline: none;
}
