.loading-overlay{

    &.translucent{
        background-color: rgba(255, 255, 255, 0.5);
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;

    transition: opacity 0.2s ease;
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave{
        opacity: 1;
    }
}
