.egg{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0d2141;
    background-image: url(/assets/images/eggs/nyan.gif);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    .close-btn{
        position: absolute;
        top: 6px;
        right: 0;
        md-icon{
            color: white;
        }
    }
    .message{
        position: absolute;
        left: 15px;
        bottom: 6px;
        color: white;
    }
    audio{
        position: absolute;
        top: 6px;
        left: 6px;
    }
}
