.background {
  padding: 55px 15px 15px 15px;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: all 0.2s ease;
  background-image: linear-gradient(to bottom right, #7753eb, #449ad3);
}

.panel {
  z-index: 1;
  border-radius: 4px;
  position: relative;
  width: 400px;
  height: 500px;
  padding: 30px;
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.panel input {
  margin-bottom: 10px;
}

.panel button {
  justify-content: center;
}

.textDivider{
  position: relative;
  padding: 30px 0;
}

.textDivider:after, .textDivider:before{
  content: ' ';
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 45%;
  position: absolute;
}

.textDivider:before{
  left: 0;
}

.textDivider:after{
  right: 0;
}

.textDivider div{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}
