<div class="landingCommunityView">
   <div class="overflow-x-box">
        <div style="background-color: #2e4155; background-image: url('assets/images/landing/laptop-book-screen.png'); min-height: 650px;" class="bg-img-auto" layout="column" layout-align="center center">
           <div class="md-content-container md-no-padding text-center text-white">
                <h1 class="md-display-2">Great Engineering is Open.</h1>
                <h3 style="line-height: 1.6em;">Explore open-source projects or contribute your own.<br>Get off to a flying start.</h3>
                <md-button class="md-accent md-raised md-flat md-cornered md-lg m-t-30" ng-click="login($event)">Join the community</md-button>
                <div class="uppercase font-light m-t-40" style=" letter-spacing: 3px; font-size: 16px;">Signup now to join the beta.</div>
           </div>
        </div>
    </div>

    <div class="section-md">
        <div layout="row" layout-align="center">
            <div class="md-content-container" layout="column">
                <div class="text-center">
                    <h2 class="md-headline uppercase">Explore great Open-Source projects.</h2>
                    <h3 class="section-sub">Engineering & Science is not a solo affair - it is fundamentally collaborative.<br>Join the <a ui-sref="app.open" class="text-green underlined">open-source movement</a> and accelerate the pace of scientific development.</h3>
                </div>
                <div class="rel-box">
                    <div layout="row" layout-wrap style="margin: 0 -15px;">
                        <creation-card flex="33" flex-md="50" flex-sm="100" style="padding: 0 15px 30px;" ng-repeat="item in ['552d93f30a86e7e6480a7087', '56e06debf2fccd122d96cc54', '54ca29fda07984f8746ca132']" entity-id="{{item}}" entity-type="project"></creation-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="section-md">
        <div layout="row" layout-align="center">
            <div class="md-content-container">
                <div class="md-row" layout="column" layout-gt-sm="row" layout-align-gt-sm="start center">
                    <div flex class="md-col">
                         <div class="md-whiteframe-z3 m-v-30">
                            <img src="/assets/images/landing/chrome-flat-browser-top.png">
                            <md-content style="max-height: 400px;">
                                <img src="assets/images/landing/project-demo.jpg">
                            </md-content>
                        </div>
                    </div>
                    <div flex class="md-col">
                        <div class="md-headline uppercase">Find and Discuss Incredible Projects</div>
                        <p class="text-subtitle-thin">Follow projects in your field. Keep updated on changes and explore the raw data, code and modelling files.</p>
                        <p class="text-subtitle-thin">Use resources in Open-Source projects to get off to a flying start.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="section-md">
        <div layout="row" layout-align="center">
            <div class="md-content-container image-section">
                <div class="md-row" layout="column" layout-gt-sm="row" layout-align-gt-sm="start center">
                    <div flex class="md-col">
                        <div class="md-headline uppercase">Your Online Project Portfolio</div>
                        <p class="text-subtitle-thin">Better than a Linkedin profile. STEMN lets you create a project portfolio that accurately represents your skills and experience.</p>
                        <p class="text-subtitle-thin">Use your STEMN portfolio as your resume. Apply for positions directly through our job-board and find youre dream job.</p>
                        <md-button class="text-lightgrey md-border md-cornered md-md m-l-0 md-arrow-button" ui-sref="app.landing.jobs">
                            Learn more
                            <md-icon md-svg-icon="arrow-back"></md-icon>
                        </md-button>

                    </div>
                    <div flex class="md-col rel-box">
                        <div class="md-whiteframe-z3 m-v-30 image-abs">
                            <img src="/assets/images/landing/chrome-flat-browser-top.png">
                            <md-content style="max-height: 400px;">
                                <img src="assets/images/landing/profile-md.jpg">
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-md bg-lightgrey">
        <div layout="row" layout-align="center">
            <div class="md-content-container" layout="column">
                <div layout="row" layout-align="center">
                    <div class="md-content-container content-xs md-no-padding text-center">
                        <h2 class="md-headline uppercase m-t-0">Reserve your Username</h2>
                        <h3 class="section-sub" style="margin-bottom: 30px;">Sign up for a free account. No strings attached.</h3>
                        <md-button class="md-accent md-raised md-cornered md-flat md-lg" ng-click="login($event)">Pre-register now</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
