<div flex class="canvas-parent" layout="column" layout-align="center center"></div>
<loading-overlay ng-if="loading" class="light-grey"></loading-overlay>
<div class="pin-top-right">
    <div class="text-right" style="margin-top: 5px; margin-right: 10px;">
        <a class="st-icon-button" ng-click="flip()">
            <md-icon md-svg-icon="swap_horiz"></md-icon>
            <md-tooltip md-direction="bottom" md-autohide="true">Flip</md-tooltip>
        </a>
        <a class="st-icon-button" ng-click="center()">
            <md-icon md-svg-icon="home"></md-icon>
            <md-tooltip md-direction="bottom" md-autohide="true">Reset</md-tooltip>
        </a>
    </div>
<!--
    <md-checkbox ng-repeat="layer in layers" ng-model="layer.enabled" ng-click="toggleLayer(layer)" ng-show="layers.length > 1">
        {{layer.layerType}}
    </md-checkbox>
-->
</div>
