.st-icon-button{
    opacity: 0.8;
    padding: 4px;
    transition: opacity 0.2s ease;
    &:hover{
        opacity: 1;
    }
    &.active{
        md-icon{
            color: #222222;
        }
        opacity: 1;
    }
}
