@value primary, border1, bg1 from "app/renderer/assets/css/themes/standard.css";

.row{
  border-bottom: 1px solid border1;
  padding: 7px;
}
.row:hover{
  background: bg1;
}
.active{
  color: white !important;
  background: primary !important;
}
