<div class="sync-list-widget rel-box" style="min-height: 60px;">
    <a class="m-v-5" ng-repeat="item in items | limitTo: 5" layout="row" ng-click="openFileFolder(item)">
        <file-thumbnail ending-url="item.endingUrl" file-type="item.fileType" thumb-link="item.thumbLink"></file-thumbnail>
        <div class="m-l-10" flex layout="column">
            <div>{{item.name}}</div>
            <div class="text-lightgrey" style="font-size: 10px;">{{(item.client_modified | amTimeAgo) || 'Folder'}}</div>
        </div>
    </a>
    <div class="text-lightgrey" ng-show="!loading && items.length < 1">No files.</div>
    <loading-overlay ng-if="loading"></loading-overlay>
</div>
