<div class="user-input" ng-class="status.active ? 'active' : 'inactive'" ng-click="status.active = true">
    <div class="header" layout="row" layout-align="start center" authenticate style="outline: none;">
        <!--   ng-click="inputFn($event, inputFnData); inputFnParent()"-->
        <user-image class="m-r-15" src="user.picture"></user-image>
        <div class="text-switch" flex>
            <div ng-class="{'active':status.active}">
                <p class="m-v-0 text-lightgrey">{{::placeholder || typeInfo.inputPlaceholder || 'Ask a Question...'}}</p>
                <p class="m-v-0 text-green">{{user.name}}<span class="text-lightgrey">&nbsp;{{titleText}}</span></p>
            </div>
        </div>
    </div>
    <div ng-if="status.active" class="collapse-details">
        <modular-editor class="editor-compact minimal" editor-sections="sectionData" editor-options="editorOptions" edit="true" focus="status.active"></modular-editor>
        <div ng-show="status.active" class="anim-fade-quick" layout="column" layout-gt-sm="row" layout-align-gt-sm="start center">
            <div flex>
                <md-radio-group ng-if="radioDetails.options.length>1" layout="row" layout-align="start center" ng-model="radioDetails.selected">
                    <md-radio-button ng-repeat="option in radioDetails.options" value="{{option.val}}">{{option.title}}</md-radio-button>
                </md-radio-group>
            </div>
            <md-button class="md-raised md-accent md-flat md-cornered m-0" ng-click="submit()">{{::saveText || 'Submit'}}</md-button>
        </div>
    </div>
</div>
