@value border1, bg1 from "theme";

.root {
  padding: 20px;
  background: white;
  border: 1px solid border1;
  margin-bottom: 15px;
  position: relative;
}
.root h3 {
  margin-top: 0px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.root p {
  font-size: 13px;
  color: #939393;
  margin-bottom: 15px;
  line-height: 1.6em;
}
