<div layout="row" layout-align="center" class="m-b-60">
    <div class="md-content-container">
        <div class="rel-box">
            <form unsaved-warning-form novalidate name="forms.ThreadForm">
                <div layout="row" layout-align="start center">
                    <div class="md-subhead" flex>
                        <a ui-sref="app.thread" class="text-green">{{thread.name | letters : 30}}</a>
                        <span> / Edit Thread</span>
                    </div>
                </div>

                <md-divider class="m-v-30"></md-divider>

                <!-- Title -->
                <h1 id="nameEdit" class="md-display-1">
                    <textarea msd-elastic rows="1" class="editable" ng-model="thread.name" name="ThreadTitle" type="text" placeholder="Thread title"></textarea>
                </h1>

                <md-divider class="m-v-30"></md-divider>

                <div ng-if="thread.banner" class="border-box m-b-30">
                    <upload-image ng-show="thread.banner" class="block" name="FeaturedImage" image="thread.banner" ng-model="thread.banner" direct="true" icon="thread.banner">
                        <div class="featured-image bg-img-cover" style="background-image: url('{{thread.banner}}?size=featured-md')"></div>
                    </upload-image>
                </div>

                <div layout="column" layout-gt-sm="row" class="md-row">
                    <div flex class="md-col">
                        <modular-editor class="p-b-10" editor-sections="thread.sectionData" editor-options="editorOptions" edit="true" placeholder="Flesh out your thread here. Be sure to add images and code where you can."></modular-editor>
                    </div>

                    <div class="sidebar md-col">
                        <div class="m-b-15" layout="column" ng-if="!thread.banner">
                            <md-button class="md-raised md-flat md-accent md-cornered md-md m-0" click-upload-image image="thread.banner" ng-model="thread.banner" name="FeaturedImage">Add Featured Image</md-button>
                        </div>
                        <div class="border-box-white m-b-30">
                            <div class="md-subhead p-15" style="padding-bottom: 5px;">Thread Labels</div>
                            <st-select-option ng-model="thread.labels" active="item.active" value="{{item.model}}" ng-repeat="item in labels" ng-style="item.active && {'background-color' : item.bgColor}" ng-class="{'active': item.active}">
                                <span class="swatch" style="background-color: {{item.color}}"></span>
                                {{item.label}}
                            </st-select-option>
                        </div>
                        <div id="fieldTags" class="border-box-white p-15 m-b-30">
                            <div class="md-subhead">Related Tags</div>
                            <project-search data="thread.projects" focus="focusProject" ng-mouseenter="focusProject=true" ng-mouseleave="focusProject=false"></project-search>
                            <tags edit="true" size="xs" tags="thread.projects" type="organisaion"></tags>
<!--                            <div class="md-subhead m-t-15">Related Fields</div>-->
                            <field-search data="thread.fields" focus="focusField" ng-mouseenter="focusField=true" ng-mouseleave="focusField=false"></field-search>
                            <tags edit="true" size="xs" tags="thread.fields" type="field"></tags>
<!--                            <div class="md-subhead m-t-15">Related Organisations</div>-->
                            <organisation-search data="thread.organisations" focus="focusOrg" ng-mouseenter="focusOrg=true" ng-mouseleave="focusOrg=false"></organisation-search>
                            <tags edit="true" size="xs" tags="thread.organisations" type="organisaion"></tags>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<dynamic-footer>
    <div layout="row" layout-align="center">
        <div class="md-content-container md-no-padding" layout="row" layout-align="start center">
            <md-button class="{{thread.closed ? 'md-warn md-border' : 'md-warn md-raised'}} md-flat md-cornered m-0" ng-click="thread.closed = !thread.closed">{{thread.closed ? 'Re-open Thread' : 'Close Thread'}}</md-button>
            <div flex></div>
            <md-button ui-sref="app.thread" class="md-grey md-border md-cornered m-r-0">Back</md-button>
            <save-button button-class="m-r-0" save-fn="saveThread()" entity="thread">Save</save-button>
            <md-button class="m-r-0 md-accent md-cornered md-raised md-flat md-border-green" style="min-width: 100px" ng-click="saveAndExit($event)">Save & Exit</md-button>
        </div>
    </div>
</dynamic-footer>
