.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.main {
  font-size: 14px;
}
.sub {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.4);
}

.notes {
  white-space: pre-wrap;
}

.summary {
  white-space: pre-wrap;
}
