<!--
<md-container>
    <div class="row">
        <div class="col-md-3">
            <br>{{resultsNum}} Results
        </div>

        <div class="col-md-9">

            <div class="filter-labels">
                <div class="filter-label" ng-repeat="(filter, value) in query.check">
                    {{filter | capitaliseFirst}} : <span ng-repeat="(filterName, status) in value" ng-show="status">{{filterName}} </span>
                    <a class="label-close" ng-click="deleteFilterLabel(filter)">×</a>
                </div>
                <div class="filter-label" ng-repeat="(filter, value) in query.radio">
                    {{filter | capitaliseFirst}} : {{value}}
                    <a class="label-close" ng-click="deleteFilterLabel(filter)">×</a>
                </div>
                   <div class="filter-label" ng-repeat="(filter, value) in query.range">
                    {{filter | capitaliseFirst}} : {{value.min}} to {{value.max}}
                    <a class="label-close" ng-click="deleteFilterLabel(filter)">×</a>
                </div>
                <button type="button" class="btn" ng-click="clearQuery()">clear</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel search-panel">
                <input type="search" ng-model="query.filter.name" class="form-control input-lg" placeholder="Refine your search">
                <div class="search-icon vertical-center-parent">
                    <icon class="vertical-center-child fa-search"></icon>
                </div>
            </div>
            <accordion close-others="false">
                <accordion-group ng-repeat="filter in filtersOrder" heading="{{filters[filter].title}}" is-open="filters[filter].open">
                    <div ng-if="filters[filter].type == 'radio'">
                        <div ng-repeat="item in filters[filter].items">
                            <label>
                                <input type="radio" name="{{filter}}" ng-model="query.radio[filter]" class="cbr" value="{{item.label}}">{{item.label}} ({{item.number}})
                            </label>
                        </div>
                    </div>
                    <div ng-if="filters[filter].type == 'checkbox'">
                        <div ng-repeat="item in filters[filter].items">
                            <label>
                                <input type="checkbox" ng-model="query.check[filter][item.label]" class="cbr">{{item.label}} ({{item.number}})
                            </label>
                        </div>
                    </div>
                    <div ng-if="filters[filter].type == 'slider'">
                        {{filters[filter].slider.max}}
                        <div range-slider min="filters[filter].slider.min" max="filters[filter].slider.max" model-min="query.range[filter].min" model-max="query.range[filter].max" prefix="{{filters[filter].slider.prefix}}" postfix="{{filters[filter].slider.postfix}}" attach-handle-values="true"></div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-9">

            <table class="table">
                <thead>
                    <tr>
                        <th ng-click="query.orderBy.name = 'name'; query.orderBy.down = !query.orderBy.down">Details</th>
                        <th ng-click="">Interests</th>
                        <th ng-click="">Projects</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in results">
                        <td>
                            {{result.profile.firstname}}
                            {{result.profile.lastname}}
                            <br>
                            {{result.numProjects}}
                            {{result.followers}}
                        </td>
                        <td>
                            <div ng-repeat="interest in result.profile.profileDetails.interests">
                                {{interest.text}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="project in result.projects">
                                {{project}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</md-container>
-->
