.table{
  width: 100%;
  border-collapse: collapse;
}
.table tr{
  vertical-align: top;
}
.table thead td{
  font-weight: bold;
}
.table td{
  padding: 10px;
  border: 1px solid rgb(227, 227, 227);
}
