@value primary, border1, bg1, grey-3 from "theme";

.comment{
  position: relative;
}
.commentAvatar{
  margin-right: 10px
}
.commentBody {
  background: white;
  border: 1px solid border1;
  line-height: 1.5em;
  position: relative;
}
.commentHeader{
  background: white;
  padding: 15px 20px;
}
.date{
  color: grey-3;
}
.commentContent{
  margin: 20px;
  margin-top: 0px;
  overflow: hidden;
}
.commentFooter{
  padding: 6px 20px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}
.reactions {
  padding: 0 20px 15px;
}
.comment:first-child{
  margin-top: 15px;
}
.comment:last-child{
  margin-bottom: 15px;
}
.comment + .comment:before{
  content: ' ';
  height: 15px;
  border-left: 1px solid rgb(232, 232, 232);
  margin-left: 30px;
}
