<md-dialog class="md-full-screen">
    <md-toolbar style="background: white;">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="TagForm">
        <md-dialog-content layout="row" layout-align="center center">
            <div class="md-content-container">
                <h1 class="md-headline">Tag it, tag it good!</h1>
                <field-search        data="data.fields"></field-search>
                <tags tags="data.fields"        type="field"        edit="true" image="true" size="sm"></tags>
                <organisation-search data="data.organisations"></organisation-search>
                <tags tags="data.organisations" type="organisation" edit="true" image="true" size="sm"></tags>
                <project-search      data="data.projects"></project-search>
                <tags tags="data.projects"      type="project"      edit="true" image="true" size="sm"></tags>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <div flex></div>
            <div>
                <md-button ng-click="cancel()">Cancel</md-button>
                <md-button class="md-accent md-raised" ng-disabled="TagForm.$invalid" ng-click="save()">Save</md-button>
            </div>
        </div>
    </form>
</md-dialog>
