.divider-v{
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    margin: 5px 15px;
}
.divider-v-dark{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.line-divider-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 0 10px;
    .md-subhead {
        color: #5f5f5f;
    }
}
