.stat-button{
    $md-height: 30px;
    $lg-height: 38px;
    .rect{
        min-width: 80px;
        height: $md-height;
    }
    &.active{
        .rect{
            background: rgba(221, 236, 203, 0.4) !important;
        }
    }
    .anim-button-text-block{
        transition: transform 0.3s ease;
        transform: translateY(0px);
        >div{
            height: $md-height;
        }
        &.active{
            transform: translateY(-$md-height);
        }
    }

    &.lg{
        .rect{
            height: $lg-height;
            padding: 0 10px;
            border-radius: 0px;
            font-size: 13px;
        }
        .anim-button-text-block{
            >div{
                height: $lg-height;
                line-height: $lg-height - 2;
            }
            &.active{
                transform: translateY(-$lg-height);
            }
        }
    }
    &.green{
        md-icon{
            color: rgb(139, 195, 74);
        }
    }
}
