.notification {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  margin-bottom: 15px;
  padding: 15px;
}

.avatar1 {
  margin-right: 15px;
}
.avatar2 {
  margin-left: 15px;
}

.text {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.4em;
}

.meta {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-top: 3px;
}

.mark {
  line-height: 33px;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s ease all;
}

.markRead {
  opacity: 0;
  cursor: default;
}
