.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  margin-top: 30px;
}

.inner {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
}

.footer a {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.4);
}

.footer a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.footer a:global(.active) {
  color: rgba(0, 0, 0, 0.8);
}

.logo {
  width: 60px;
  opacity: 0.2;
}
