@value border1 from "app/renderer/assets/css/themes/standard.css";

.fileSelectInput{
  height: 36px;
  border: 1px solid border1;
}
.fileSelectInput:hover{
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.text{
  padding: 0px 10px;
}
