<md-dialog aria-label="dialog">
    <form style="width:330px">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Select Options</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" aria-label="Close dialog" style="fill: white"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="max-height:810px; padding: 20px 50px;">
            <div ng-repeat="selector in data">
                <div ng-if="selector.type=='date'">
                    <h4 class="m-b-5">{{selector.title}}</h4>
                    <md-datepicker class="md-hide-icon" ng-model="selector.current" md-placeholder="{{selector.placeholder}}"></md-datepicker>

                </div>
                <div ng-if="selector.type=='select'">
                    <h4 class="m-b-5">{{selector.title}}</h4>
                    <md-input-container class="m-0 p-t-0">
                        <md-select ng-model="selector.current" ng-placeholder="selector.placeholder" style="font-size: 14px; min-width:120px">
                            <md-option ng-value="item.model" ng-repeat="item in selector.options">{{item.title}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" ng-click="save()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
