@value primary, primary-2, secondary, secondary-2, grey-3, bg1, linkedin, linkedin-dark, facebook, facebook-dark from "app/renderer/assets/css/themes/standard.css";

.button {
  border: none;
  outline: none;
  background: none;
  padding: 10px;

  transition: all 0.2s ease;
}

.button:focus{
  outline: none;
}

.button:hover{
  background: rgba(0, 0, 0, 0.1);
}

.button:global(.primary){
  background: primary;
  color: white;
}
.button:global(.primary):hover{
  background: primary-2;
}

.button:global(.secondary){
  background: secondary;
  color: white;
}
.button:global(.secondary):hover{
  background: secondary-2;
}

.button:global(.linkedin){
  background: linkedin;
  color: white;
}
.button:global(.linkedin):hover{
  background: linkedin-dark;
}

.button:global(.facebook){
  background: facebook;
  color: white;
}
.button:global(.facebook):hover{
  background: facebook-dark;
}
