html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  background: rgba(0, 0, 0, 0.02);
  min-height: 100vh;
  max-width: 100vw;
  font-family: Open Sans;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0px;
  line-height: 1.2;
}

