<div class="sync-file-select">
    <div class="md-subhead bg-lightgrey p-15" style="border-bottom: 1px solid #EEEEEE;"><file-bread-crumbs bread-crumbs="breadCrumbs" project="project" select-fn="select"></file-bread-crumbs></div>
    <div class="rel-box" style="min-height: 160px;">
        <table class="md-table">
            <tbody>
                <tr ng-repeat="item in files" ng-class="{'selected' : item.name == selected.name}">
                    <td style="width: 50px;">
                        <file-thumbnail ending-url="item.endingUrl" file-type="item.fileType" thumb-link="item.thumbLink"></file-thumbnail>
                    </td>
                    <td>
                        <a class="text-green" ng-click="select(item)">{{item.name}}&nbsp;<span class="label label-green label-md float-right" style="margin-right: 15px;" ng-show="item['.tag'] == 'virtual'">Assembly File</span></a>
                    </td>
                    <td style="width: 100px;">{{item.client_modified | amTimeAgo}}</td>
                    <td style="width: 70px; padding-right: 10px;">{{item.size | bytes}}</td>
                </tr>
                <tr ng-hide="files.length > 0">
                    <td colspan="4">
                        <div class="text-grey">Empty Folder.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <loading-overlay ng-if="loading"></loading-overlay>
    </div>
</div>
