@value primary, border1, bg1 from "theme";

.modal{
  width: 600px;
  height: 450px;
}

.ribbon{
  border-bottom: 1px solid border1;
  background: bg1;
  padding: 10px 15px;
}

.row{
  border-bottom: 1px solid border1;
  padding: 0 15px;
  min-height: 40px;
  position: relative;
}
