.input {
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.container{
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}
.containerShow{
  height: 142px;
}

.textarea {
  margin-top: 15px;
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  resize: none;
  min-height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

