<md-dialog aria-label="dialog">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 flex>{{modalTitle}}</h2>
				<md-button class="md-icon-button" ng-click="cancel()">
					<ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:800px;max-height:810px; ">
			<div class="md-dialog-content" layout="column">
			    <md-input-container>
			        <label>Channel</label>
			        <input name="stemn-campaign-channel" ng-model="campaign.channel" type="text">
			    </md-input-container>
			    <md-input-container>
			        <label>Page</label>
			        <input name="stemn-campaign-page" ng-model="campaign.page" type="text">
			    </md-input-container>
			    <md-input-container>
			        <label>Content</label>
			        <textarea ng-model="campaign.content" row="5"></textarea>
			    </md-input-container>
			    <md-input-container>
			        <label>Url</label>
			        <input name="stemn-campaign-url" ng-model="campaign.url" type="url">
			    </md-input-container>
               <div layout="row">
                    <md-input-container flex>
                        <label>Potential Reach</label>
                        <input ng-model="campaign.potentialReach" type="number">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Estimated CTR (%)</label>
                        <input ng-model="campaign.estCtr" type="number">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Estimated Conversion (%)</label>
                        <input ng-model="campaign.estConversion" type="number">
                    </md-input-container>
               </div>
            </div>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button class="md-primary" ng-click="confirm()" style="margin-right:20px;">
				{{confirmTitle}}
			</md-button>
		</div>
	</form>
</md-dialog>
