.main-footer{
    background-color: #28292A;
    padding-bottom: 40px;
    padding-top: 15px;
    .inner{
	    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    .md-subhead{
        color: #87898C;
    }
    .column{
        padding: 0px 30px;
    }
    md-divider{
        border-color: rgba(255, 255, 255, 0.2) !important;
    }
	a{
        padding: 5px 0;
		color: rgba(255, 255, 255, 0.7);
        transition: color 0.3s ease;
		&:hover{
            color: rgba(255, 255, 255, 0.5);
		}
	}
    md-icon{
        color: rgba(255, 255, 255, 0.3);
    }
    .dark-grey{
        color: #87898C;
    }
}
