.outer {
  background-color: #222;
  color: white;
  margin-bottom: 30px;
  cursor: default;

  .header {
    background-color: #444;
    padding-right: 5px;
  }

  .body {
    padding: 10px 0;
  }
  
  code {
    padding: 2px 10px;
    display: block;
    white-space: pre-line;
    transition: 0.2s ease all;
    &:hover {
      background-color: #444;
    }
  }
}