.background{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 1;
}
.backgroundBlurred{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center center;
  background-size: cover;
}
.mask{
  overflow: hidden;
  width: 800px;
  height: 600px;
  filter: blur(10px);
}
.content{
  width: 800px;
  height: 600px;
  position: absolute;
}
.brandPanel{
  width: 300px;
  background: rgba(255, 255, 255, 0.8);
}
.formPanel{
  padding: 30px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.container{
  height: 600px;
}
/*
.imageSection{
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-size: cover;
  width: 600px;
  position: relative;
  z-index: 1;
}
.textSection{
  background: white;
  width: 400px;
  position: relative;
  transition: all 0.3s ease;
  position: relative;
}
.textSectionInner{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  padding: 40px;
  transition: all 0.3s ease;
}

.container.hideForm .textSection{
  width: 0px;
}
.container.hideForm .textSectionInner{
  transform: translateX(-100%);
}
*/

.input{
  margin-top: 5px;
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.input:focus{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.textDivider{
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center
}
.textDivider div{
  background-color: white;
  padding: 12px 10px 0;
  display: inline-block;
  font-weight: 300;
}
