<div>
    <div flex class="creation-card rel-box" layout="column">
        <a md-ink-ripple ng-href="{{url}}" class="picture bounding-box" ng-style="(entity.picture || picture) && {'background-image':'url('+(entity.picture || picture) +'?size=project-card&crop=true)'}"></a>
        <div flex class="content ellipsis-container" layout="column">
            <a ng-href="{{url}}" class="title">{{entity.name | letters: 50}}</a>
            <div flex class="sub">{{entity.blurb | letters: 150}}</div>
            <div class="card-bottom">
                <div class="m-v-15">
                    <tags edit="false" size="sm" tags="entity.fields" type="field" limit="3" one-line="true"></tags>
                </div>
                <div layout="row">
                    <organisation-images organisations="entity.organisations" limit="2"></organisation-images>
                    <div ng-if="entity.organisations.length>0" class="divider-v"></div>
                    <team-images team="team" limit="2" class="stacked"></team-images>
                    <div flex></div>
                    <div layout="row" layout-align="start center" class="text-lightgrey">
                        <stat-button type="like" parent-type="{{entity.type}}" parent-id="{{entity._id}}" count="entity.likes" display-style="circle" style="margin-right: -3px;"></stat-button>
                        <a class="count" stat-display-modal parent-id="{{entity._id}}" parent-type="{{entity.type}}" type="like">
                            {{entity.likes || 0}}
                        </a>
                        <md-button class="md-icon-button md-sm" aria-label="comments" style="margin-right: -3px;" ng-href="{{url}}#reply">
                            <md-icon md-svg-icon="response"></md-icon>
                        </md-button>
                        <a class="count" ng-href="{{url}}#responses">{{entity.numPosts || entity.numComments || 0}}</a>
                    </div>
                </div>
            </div>
        </div>
        <loading-overlay ng-if="loading" ng-class="{'translucent' : items.length > 0}"></loading-overlay>
    </div>
</div>
