.creation-card{
	height: 460px;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .more{
        text-transform: uppercase;
        font-size: 12px;
    }
	.picture{
		height: 180px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		background-color: rgba(0, 0, 0, 0.1);
	}
	.content{
		padding: 15px;
	}
	.title{
		font-weight: 700;
		font-size: 15px;
		margin-bottom: 10px;
	}
	.sub{
		font-size: 13px;
		color: rgba(0, 0, 0, 0.7);
	}
    .avatar-circle{
        width: 30px;
        height: 30px;
    }
    .avatar-square-contain{
        width: 30px;
        height: 30px;
    }
    .divider-v{
        margin: 5px;
    }
    md-icon{
        color: rgba(169, 169, 169, 0.54);
    }
    .md-button.md-icon-button.md-sm{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .tags{
        max-height: 32px;
        overflow: hidden;
    }
    .card-bottom{
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        background: white;
    }
}

.card-feed{
    min-height: 100px;
}

.organisation-card {
    max-width: 250px;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
    .square{
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        &:before {
            content:'';
            float:left;
            padding-top:100%;
        }
    }
    .title{
		font-weight: 700;
		font-size: 16px;
	}
}

