<compare-header ng-if="compareType != 'onion' && compareType != 'slider'" file-meta="fileMeta" previewer="previewer"></compare-header>
<md-content layout="column" flex>
    <preview-files ng-if="previewer.enabled" layout="column" flex project="project" file-meta="fileMeta" previewer="previewer"></preview-files>
    <div ng-if="!previewer.enabled" flex layout="column" layout-align="center center" class="bg-lightgrey text-center">
        <a class="st-icon-button" ng-click="selectFile($event, '2')"><md-icon class="s-80 m-b-15" md-svg-icon="content:add_circle"></md-icon></a>
        <a ng-click="selectFile($event, '2')" class="text-subtitle-thin text-black">Add another file to compare.</a>
        <div class="text-lightgrey">You may compare with other <br>files or previous versions.</div>
    </div>
</md-content>
<div ng-if="compareType == 'sideBySide' || compareType == 'aboveAndBelow'" class="footer-toolbar p-h-15" layout="row" layout-align="start center" ng-hide="!previewer.enabled">
    <compare-revision-timeline layout="row" flex file-meta="fileMeta" previewer="previewer"></compare-revision-timeline>
</div>
