<div class="rel-box">

    <!--No Projects-->
    <div ng-hide="query.results.length > 0" class="border-box-white p-30 text-center" layout="row" layout-align="center">
        <div class="md-content-container content-sm">
           <img src="/assets/images/explanation-modals/droid.svg" alt="" style="width: 200px;">

            <div class="md-title m-b-15">Create your first project</div>
            <div class="text-subtitle-thin m-v-30">Create an open-source or private project. Connect your project with STEMN Sync to get access to revision history and collaboration tools.</div>

            <md-button class="md-accent md-border md-cornered md-flat md-md" click-create-project>Create Project</md-button>
        </div>
    </div>


    <!--Some Projects-->
    <div ng-show="query.results.length > 0">
<!--
        <div layout="row" class="m-b-30">
            <div flex></div>
            <md-button class="md-accent md-cornered md-raised md-flat m-0" click-create-project>New Project</md-button>
        </div>
-->
        <div layout="row" layout-wrap layout-align="center start" class="md-row">
            <div class="md-col m-b-30" ng-repeat="item in query.results" flex="25" flex-sm="50" flex-md="33">
                <a class="folder-icon m-b-10" ui-sref="app.project.overview({stub: item.stub})">
                    <div class="folder-top">
                        <div class="tab"></div><div class="tab"></div><div class="tab"></div>
                    </div>
                    <div class="folder-bottom" layout="column" layout-align="center center">
                        <div style="background: white; border-radius: 50%; padding: 2px;">
                            <md-icon ng-hide="item.permissions.projectType == 'public'" class="s30" md-svg-icon="lock-outline" style="color: #f5dbab"></md-icon>
                            <md-icon ng-show="item.permissions.projectType == 'public'" class="s30" md-svg-icon="public" style="color: #bbe8bb;"></md-icon>
                        </div>
                    </div>
                </a>
                <div class="text-center">
                    <div>{{item.name}}</div>
                    <div class="text-lightgrey">{{item.updated | amTimeAgo}}</div>
                </div>
            </div>
        </div>
    </div>
    <loading-overlay ng-if="query.loading" class="light-grey"></loading-overlay>
</div>
