<div layout="row" layout-align="center">
    <div class="rel-box md-content-container md-no-padding">
        <div layout="column" layout-gt-md="row" class="md-row">
            <div flex layout="column" class="md-col">
                <feed type="blogs" parent-type="project" parent-id="{{project._id}}" parent="project" show-edit="showEdit" contained="false"></feed>
            </div>
            <div class="md-col sidebar" layout="column">
<!--
                <div class="md-subhead m-b-10">Updates</div>
                <feed-widget-timeline type="blogs" parent-type="project" parent-id="{{project._id}}" parent="project" show-edit="showEdit"></feed-widget-timeline>
-->
            </div>
        </div>
    </div>
</div>
