<md-dialog class="upload-image-modal">
    <form>
        <md-dialog-content layout="row" layout-align="center center">
            <div class="md-content-container content-sm">
                <md-button ng-if="currentImage" class="remove-button md-warn md-cornered" ng-click="remove()">Remove Existing image</md-button>
                <div nv-file-drop="" uploader="uploader" layout="row" layout-align="center center">
                    <div nv-file-over="" uploader="uploader" over-class="drag-over" class="drop text-center">
                        <label class="btn-upload">
                            <input type="file" accept=".png, .jpg, .jpeg, .gif" class="upload" nv-file-select="" uploader="uploader" />
                            <span>Upload image</span>
                        </label>
                        <strong style="padding-left: 5px;">OR</strong>
                        Drag and Drop an image here to upload
                    </div>
                </div>


<!--
                <div ng-repeat="item in uploader.queue" class="upload-progress">
                    <md-progress-linear class="md-accent" md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
                </div>
-->
                <loading-overlay ng-if="uploader.progress > 0 && uploader.progress < 100" determinate="uploader.progress">
                    Image uploading
                </loading-overlay>
                <loading-overlay ng-if="uploader.progress == 100">
                    Processing
                </loading-overlay>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
