@value primary, secondary from "app/renderer/assets/css/themes/standard.css";

.sidebar{
  width: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease all;
  background: rgba(0, 0, 0, 0.03);
}
.sidebar.open{
  width: 300px;
}


.sidebarToolbar{
/*  margin-top: 31px;*/
  height: 55px;
  padding: 10px 20px;
}

.sidebarSearch{
  position: relative;
  margin: 0 20px 10px;
}
.sidebarSearch input{
  padding: 14px;
  height: auto;
}
.sidebarSearchIcon{
  position: absolute;
  right: 8px;
  top: 10px;
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}
