@value primary, height-header, sidebar-bg, sidebar-text-1, sidebar-text-2, sidebar-footer, secondary, sidebar-search-border, sidebar-search-bg, sidebar-search-border, sidebar-search-text from "theme";

.sidebar{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease all;
  background: sidebar-bg;
  color: sidebar-text-2;
  width: 100%;
}

.sidebarToolbar{
  height: height-header;
  padding: 10px 20px;
}

.sidebarSearch{
  overflow: hidden;
  position: relative;
  margin: 0 20px 10px;
}

.sidebarSearch input{
  padding: 14px;
  height: auto;
  padding-right: 40px;
  border: 1px solid sidebar-search-border;
  background: sidebar-search-bg;
  color: sidebar-search-text !important;
}

.sidebarSearch input:focus{
  border: 1px solid sidebar-search-border;
}

.sidebarSearchIcon{
  position: absolute;
  right: 8px;
  top: 10px;
  bottom: 0;
  color: sidebar-search-text;
}

.sideBarIcon{
  color: sidebar-text-2 !important;
  padding: 0 !important;
}

.sideBarIcon:hover{
  color: sidebar-text-1 !important;
}

.footer{
  border: 1px solid black;
}
