@value primary-bg, secondary from "theme";

.sidebarButton{
  display: block;
  width: 100%;
  background: none;
  outline: none;
  position: relative;
  padding: 8px 12px;
  line-height: 1.4em;
}
.sidebarButton:hover{
  background: rgba(0, 0, 0, 0.3);
}
.sidebarButton:global(.active){
  background: rgba(0, 0, 0, 0.6);
  position: relative;
}
.sidebarButton:global(.active):after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  bottom: 0;
  top: 0;
  width: 4px;
  background: primary-bg;
}
.sidebarButton .text{
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
