.nvtooltip{
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

charts-time-bar{
    display: block;
}
