<div ng-if="imageSearch.items.length>0" class="rel-box">
    <div layout="row" layout-wrap style="margin:-10px">
        <div class="image-search" flex="33" style="padding:10px" ng-repeat="item in imageSearch.items">
            <div class="label">
                {{item.image.width}} x {{item.image.height}}
            </div>
            <div ng-class="{'active' : currentImage == item.link}" class="image" ng-style="{'background-image':'url('+(item.link)}" ng-click="selectedImage(item.link)"></div>
        </div>
    </div>
    <loading-overlay ng-if="loading"></loading-overlay>
</div>
