md-toast.md-warn-theme .md-toast-content {
    background-color: #F44336;
}
.md-row{
    margin: 0px -10px;
}
.md-col{
    padding: 0px 10px;
}

.md-button{
    &.active{
        opacity: 1;
    }
    &.inactive{
        opacity: 0.6;
    }

    &.md-button-md{
        min-width: 0px;
    }
}

.md-icon-button{
    line-height: 40px !important;
    padding: 0px !important;
    &.md-sm{
        width: 30px;
        height: 30px;
        line-height: 30px !important;
        min-height: 0px;
        margin: 0px;
        ng-md-icon svg{
            width: 20px;
            height: 20px;
        }
    }
}

md-datepicker{
    padding-right: 0px;
    margin-right: 0px;
    &.md-hide-icon{
        .md-datepicker-button{
            display: none;
        }
        .md-datepicker-input-container{
            margin-left: 0px;
        }
    }
}

md-toolbar{
    // Md-select/Input inside a toolbar
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
        opacity: 0.8;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 0.8;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 0.8;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
        opacity: 0.8;
    }
    .md-input{
        color: white;
        border-color: white;
    }
    .md-select-value {
        color: white;
        border-color: white;
        opacity: 0.8;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 0px;
        background-color: rgba(47, 60, 136, 1);
        padding: 0px 2px 5px 10px;
        min-width: 30px;


        &.md-select-placeholder {
        color: rgba(255, 255, 255, 0.8);
        padding: 0px 2px 5px 10px;
        }
    }

    md-select {
        margin: 0px;
        &:not([disabled]){
            &:focus {
                .md-select-value{
                    color: white ;
                    border-bottom: 0px;
                    padding-bottom: 5px;
                }
                .md-select-value.md-select-placeholder {
                    color: rgba(255, 255, 255, 0.8) !important;
                }
            }
        }
        .md-select-icon{
            margin-left: 0px !important;
        }

    }

    // Text inpiut
    md-input-container{
        &.md-input-focused{
            .md-input{
                padding: 10px !important;
                border-width: 0px;

            }
        }
        .md-input{
            background-color: #2f3c88;
            border: none;
            font-size: 14px;
            padding: 10px;
            height: 31px;
            text-transform: uppercase;
        }
        .md-errors-spacer{
            display: none;
        }
    }
}
// Sidebar
md-sidenav {
    @media screen and (min-width: 600px){
        max-width: 205px;
    }
}

// Icon
md-toolbar{
    ng-md-icon{
        fill: white;
    }
}
//Material Icons
ng-md-icon svg {
  transform: translate3d(0, 30%, 0);
}


md-checkbox{
    .md-label{
        margin-left: 20px;
        > span{
            padding-left: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
        }
    }
}
