#loading-bar .bar {
    background: rgba(255,64,129,0.87) !important;
    z-index: 10001;
}
#loading-bar-spinner{
    display: none;
}
#loading-bar .peg{
    box-shadow: rgba(255,64,129,0.87) 1px 0 6px 1px;
}
