<md-dialog aria-label="Recruit Modal">
    <md-dialog-content class="overflow-x-box p-0">
        <!-- Is Logged In -->
        <div class="md-content-container content-md p-0" layout="column" layout-gt-sm="row" ng-hide="currentUser.isLoggedIn()">
            <div class="p-30" flex>
                <div class="md-headline m-b-60">
                    Get Early Access
                </div>
                <div style="font-size: 15px;">
                    You'll love STEMN Recruiting:
                    <div layout="row" layout-align="start center" class="m-t-10" ng-repeat="item in points">
                        <md-icon md-svg-icon="done" class="s-20 md-icon-green m-r-15"></md-icon>
                        <div flex>{{item}}</div>
                    </div>
                    <div class="m-t-30">Access the world's best aerospace talent. Find scientists and engineers with the technical skills you need. Browse their portfolios.<br><br>
                    STEMN jobs in currently in beta. Request early access now!</div>

                </div>
            </div>
            <div class="bg-lightgrey p-30" flex>
                <form class="rel-box" novalidate name="SignupForm" ng-submit="submitSignup()">
                    <div class="md-subhead" style="color: rgba(0, 0, 0, 0.7);">Request Access</div>
                    <div layout="row">
                        <md-input-container class="md-accent" flex>
                            <label>First Name*</label>
                            <input ng-model="signup.firstname"
                            name="firstname" type="text" required>
                            <div ng-messages="SignupForm.firstname.$error" ng-if="SignupForm.firstname.$dirty">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-accent" flex>
                            <label>Last Name*</label>
                            <input ng-model="signup.lastname"
                            name="lastname" type="text" required>
                            <div ng-messages="SignupForm.lastname.$error" ng-if="SignupForm.lastname.$dirty">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-accent">
                        <label>Email*</label>
                        <input ng-model="signup.email"
                        name="email" type="email" required>
                        <div ng-messages="SignupForm.email.$error" ng-if="SignupForm.email.$dirty">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="email">That is not a valid email.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-accent">
                        <label>Phone*</label>
                        <input ng-model="signup.phone"
                        name="phone" type="text" required>
                        <div ng-messages="SignupForm.phone.$error" ng-if="SignupForm.phone.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-accent">
                        <label>Company*</label>
                        <input ng-model="signup.company"
                        name="company" type="text" required>
                        <div ng-messages="SignupForm.company.$error" ng-if="SignupForm.company.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-accent">
                        <label>Location*</label>
                        <input ng-model="signup.location"
                        name="location" type="text" required>
                        <div ng-messages="SignupForm.location.$error" ng-if="SignupForm.location.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <div layout="row">
                        <div flex></div>
                        <md-button type="submit" class="md-raised md-accent md-cornered m-0 md-md md-flat">Request Access</md-button>
                    </div>
                </form>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
