@value primary, border2, primaryLight1, primaryLight2, border1, bg1 from "theme";

.tag{
  border: 1px solid border1;
  padding: 5px 10px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.2s ease;
  
  margin-right: 8px;
  margin-bottom: 8px;
}
.tag:hover{
  border: 1px solid border2;
}

.tag:global(.primary){
  background: primaryLight1;
  color: primary;
  border: none;
}

.tag:hover:global(.primary){
  background: primaryLight2;
  border: none;
}