.placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.input {
  padding-left: 0 !important;
}

.text {
  margin-left: 10px;
}

.newFolderIcon {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
