<div class="landingRecruitingView overflow-x-box">
    <carousel class="text-white" slide="'/assets/images/satellite/remote-sensing-5.jpg'" style="min-height: 650px;">
        <div class="md-content-container md-no-padding text-center">
            <h1 class="md-display-2">Access the World's Best Aerospace Talent</h1>
            <h3>Find scientists and engineers with the technical skills you need. Browse their portfolios.</h3>
            <md-button class="md-border md-cornered md-lg wow flipInX m-t-30" ng-click="loginRecruit($event)">Get Early Access</md-button>
        </div>
    </carousel>

    <div class="section-md">
        <div layout="row" layout-align="center">
            <div class="md-content-container content-lg" layout="column">
                <div class="md-title text-grey light-font text-center m-b-30">How It Works</div>
                <div ng-include="'app/views/landing/landing-recruiting/tpls/recruiting-steps.html'"></div>
            </div>
        </div>
    </div>
    <div class="section-md" style="background: rgba(0, 0, 0, 0.03);">
        <div layout="row" layout-align="center">
            <div class="md-content-container content-lg">
                <div class="md-title text-grey light-font text-center m-b-30">Improve your hiring process with customised reports and recruiting software that your entire team will love</div>
                <div class="md-whiteframe-z4">
                    <img src="/assets/images/landing/chrome-flat-browser-top.png" alt="">
                    <div class="hover-parent rel-box">
                        <img src="assets/images/landing/ats/New-Applicants.png" alt="">
                        <img style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;" class="hover-show" src="assets/images/landing/ats/Profile.png" alt="">
                    </div>
                </div>
                <!-- <div class="stat-section md-row" layout="row" layout-wrap>
                    <div flex="100" flex-gt-sm="33" class="md-col" layout="column" layout-align="center">
                        <div class="title">Match</div>
                        <div class="stat">77%</div>
                        <div class="description">average match rating for job requirements</div>
                    </div>
                    <div flex="100" flex-gt-sm="33" class="md-col" layout="column" layout-align="center">
                        <div class="title">Quality</div>
                        <div class="stat">5%</div>
                        <div class="description">of candidate applications approved</div>
                    </div>
                    <div flex="100" flex-gt-sm="33" class="md-col" layout="column" layout-align="center">
                        <div class="title">Intent</div>
                        <div class="stat">67%</div>
                        <div class="description">of candidates agree to an interview</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section-md">
        <div layout="row" layout-align="center">
            <div class="md-content-container text-center" layout="column" layout-align="center">
                <div class="md-title text-grey light-font">Every week, over 300 rocket scientists from the world's best universities join STEMN.</div>
            </div>
        </div>
        <div layout="row" layout-align="center">
            <md-button class="md-accent md-raised md-flat md-cornered md-lg wow flipInX m-t-30" ng-click="loginRecruit($event)">Get Early Access</md-button>
        </div>
    </div>

    <div class="section-md" style="background: rgba(0, 0, 0, 0.03);">
        <div layout="row" layout-align="center">
            <div class="md-content-container">
                <div class="faq-section md-row" layout="row">
                    <div flex="100" flex-gt-sm="33" class="md-col">
                        <div class="md-title m-b-15">Who are your candidates?</div>
                        <p>We have a rapidly growing community of aerospace engineers and scientists from the world's best universities. Our mission is the connect you to the top 1% of aerospace talent from across the U.S. and Europe</p>
                    </div>
                    <div flex="100" flex-gt-sm="33" class="md-col">
                        <div class="md-title m-b-15">Why is STEMN different?</div>
                        <p>STEMN is also a project publishing platform. We match candidates to jobs based on the skills demonstrated in their project portfolio. This means you spend less time on sourcing and more time interviewing & hiring.</p>
                    </div>
                    <div flex="100" flex-gt-sm="33" class="md-col">
                        <div class="md-title m-b-15">How do you make money?</div>
                        <p>STEMN has 2 payment options. Traditionally we charge 15% of the hire's first year base salary (with a 100% money back guarantee for 90 days). Alternatively, you can choose to pay 1.5% of the hire's annual salary per month for their first 12 months of employment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
