.timeline{
    &.hide-last{
       .timeline-item{
            &:last-child{
                border-left: none;
            }
        }
    }
    $marker-size: 40px;
    $marker-size-sm: 30px;

    .timeline-item{
        margin-left: $marker-size / 2;
        border-left: 1px solid #c8c8c8;
        min-height: 80px;
    }
    .timeline-marker{
        width: $marker-size;
        height: $marker-size;
        background: white;
        border-radius: 50%;
        border-radius: 50%;
        margin-left: - $marker-size / 2;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border: 1px solid #c8c8c8;
        md-icon{
            color: rgba(0, 0, 0, 0.3);
        }
        &.marker-sm{
            width: $marker-size-sm;
            height: $marker-size-sm;
            margin-left: - $marker-size-sm / 2;
            md-icon{
                width: $marker-size-sm - 10;
                height: $marker-size-sm - 10;
            }
        }
        &.marker-colored{
            border: none;
        }
    }
    .timeline-content{
        font-size: 13px;
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.7);
    }
}
