.vertical-nav{
    position: fixed;
    left: 40px;

    @media (max-width: 959px) {
        left: 20px;
    }

    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    a{
        position: relative;
        display: block;
        padding-right: 20px;
    }
    .dot{
        display: block;
        top: 8px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: white;
        transition: transform 0.2s ease, background-color 0.5s ease;
        transform-origin: 50% 50%;
        transform: scale(0.6);
    }
    .tooltip{
        $height: 28px;
        position: absolute;
        top: 50%;
        left: 20px;
        margin-top: -$height/2;
        height: $height;
        padding: 5px 10px;
        white-space: nowrap;
        opacity: 0;
        transition: all 0.2s ease;
        transform: scale(0.6) translateX(-40px);
        border-radius: $height/2;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 12px;

        color: #575757;
        background-color: white;

        @media (max-width: 959px) {
            display: none;
        }

    }
    > div{
        margin: 20px 0;
        &:hover{
            .dot{
                transform: scale(1);
            }
            .tooltip{
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .active{
        .dot{
            transform: scale(1);
        }
    }
    &.dark{
        .dot{
            background-color: #575757;
        }
        .tooltip{
            background-color: #F0F0F0;
        }
    }
}
