<div layout="row" class="md-row" style="margin-bottom: 20px;">
    <div flex-sm="100" flex="33" class="md-col" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>User Info</h2>
            </div>
        </md-toolbar>
        <div class="md-whiteframe-z1 md-padding bg-white" layout="column" flex>
            <table class="table" style="margin-bottom: 15px;">
                <tr>
                    <td colspan="2"><b>Email:</b> {{entity.profile.email}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Verified:</b> {{entity.accounts.verified}}</td>
                </tr>
                <tr>
                    <td colspan="2" ng-show="entity.accounts.linkedin">
                        Linkedin Linked
                    </td>
                </tr>
                <tr>
                    <td colspan="2" ng-show="entity.accounts.facebook">
                        Facebook Linked
                    </td>
                </tr>
                <tr>
                    <td><b>Rating:</b></td>
                    <td>
                        <user-rating entity="entity"></user-rating>
                    </td>
                </tr>
                <tr>
                    <td><b>Potential Rating:</b></td>
                    <td>
                        <user-rating entity="entity" rating-type="potentialRating"></user-rating>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div flex-sm="100" flex="33" class="md-col" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Acquisition</h2>
            </div>
        </md-toolbar>
        <div class="md-whiteframe-z1 md-padding bg-white" layout="column" flex>
            <table class="table" style="margin-bottom: 15px;">
                <tr>
                    <td><b>Channel:</b> {{campaign.channel}}</td>
                </tr>
                <tr>
                    <td><b>Page:</b> {{campaign.page}}</td>
                </tr>
                <tr>
                    <td><b>Date:</b> {{campaign.date | amTimeAgo}}</td>
                </tr>
                <tr>
                    <td><b>Ref:</b> {{campaign.ref}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div flex-sm="100" flex="33" class="md-col" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Recent Devices</h2>
            </div>
        </md-toolbar>
        <div class="md-whiteframe-z1 bg-white">
            <div ng-repeat="device in devices" style="padding: 15px;">
                <table class="table">
                    <tr>
                        <td class="bold">Resolution</td>
                        <td>{{device.resolution.width}} x {{device.resolution.height}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Browser</td>
                        <td>{{device.device.browser}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Engine</td>
                        <td>{{device.device.engine}}</td>
                    </tr>
                    <tr>
                        <td class="bold">OS</td>
                        <td>{{device.device.os}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Last Seen</td>
                        <td>{{device.date | amTimeAgo}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
