<div layout="row" layout-sm="column" class="md-row">
    <div flex-sm="100" flex="50" class="md-col" style="margin-bottom: 20px;">
        <charts-time-bar chart-type="timeOnSite" user-id="{{entity._id}}"></charts-time-bar>
    </div>
    <div flex-sm="100" flex="50" class="md-col" style="margin-bottom: 20px;">
        <charts-time-bar chart-type="statesVisted" user-id="{{entity._id}}"></charts-time-bar>
    </div>
</div>

<div layout="row" layout-sm="column" class="md-row">
    <div flex-sm="100" flex="50" class="md-col">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Recent States</h2>
            </div>
        </md-toolbar>
        <div class="md-whiteframe-z1">
            <display-state-history entity-id="{{entity._id}}"></display-state-history>
        </div>
    </div>
    <div flex-sm="100" flex="50" class="md-col">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Recent Logs</h2>
            </div>
        </md-toolbar>
        <div class="md-whiteframe-z1">
            <display-logs entity-id="{{entity._id}}"></display-logs>
        </div>
    </div>
</div>
