<div class="tag tag-hover anim-repeat-fade" ng-class="{'tag-active': tag.active}" ng-repeat="tag in tags | limitTo:limit">
    <md-tooltip ng-if="status && tag.active" md-direction="top" md-autohide="true">This is one of your skills.</md-tooltip>
    <div class="tag-inner" layout="row" layout-align="start center" >
        <a class="tag-content" ui-sref="app.field.top({'stub': tag.stub})" popup-field field-id="{{::tag._id}}">
            {{tag.name}}
        </a>
        <a class="tag-count" ng-if="evidence && tag.evidence" click-show-evidence="tag.evidence" entity="tag">
            {{tag.evidence.length}}
        </a>
    </div>
</div>
