/* Tip Modal */
.tipModal{
    img{
        padding: 30px 0;
    }
}

/* Tip Banner */
.tip-banner{
	color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.03);
	border: 1px solid #EEEEEE;
	font-family: 'Open Sans'; // This is required so it can be used in editor sections
    font-size: 13px; // This is required so it can be used in editor sections
	margin-top: -1px; // So it is above divider lines
	z-index: 1; // So it is above divider lines
	>div{
		padding: 20px;
		padding-right: 30px;
		position: relative;
		line-height: 1.6em;
	}
	a{
		color: #8BC34A;
		text-decoration: underline;
	}

	transition: all 0.3s linear;
    max-height: 250px;
    overflow: hidden;
    &.ng-hide{
        max-height: 0px;
        transition: all 0.6s cubic-bezier(0, 1.05, 0, 1);
		margin: 0px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border: 1px solid transparent;
    }

	.close{
		position: absolute;
		top: -10px;
		right: -15px;
		md-icon{
			transition: opacity 0.1s ease;
			opacity: 0.3;
			color: rgba(0, 0, 0, 0.3);
			width: 15px;
		}
	}
	&:hover{
		.md-button{
			md-icon{
				opacity: 1;
			}
		}
	}

    &.tip-dark{
        color: white;
        border: none !important;
        background-color: #1A1819;
        md-icon{
			color: rgb(255, 255, 255);
		}
    }
}

/* Onboarding steps */
.onboarding-steps{
    .md-subhead{
        transition: color 0.3s ease;
        &.active, &:hover{
            color: black;
        }
        &.disabled:not(.active){
            cursor: not-allowed;
            pointer-events: none;
            color: rgba(0,0,0,.3) !important;
            md-icon{
                margin: 0px 15px;
                color: rgba(0,0,0,.2);
            }
        }
    }
    md-icon{
        margin: 0px 15px;
        color: rgba(0,0,0,.3);
    }
}

/* Tip Throbber directive */
[tip-throbber]{
    position: relative;
}
tip-throbber {
    position: absolute;
    z-index: 30;
    cursor: help !important;
    background: transparent url(/assets/images/animations/tip_throbber.png) no-repeat center center;
    width: 58px;
    height: 58px;
    -webkit-animation: throb .5s steps(12) alternate infinite;
    -moz-animation: throb .5s steps(12) alternate infinite;
    animation: throb .5s steps(12) alternate infinite;
    &.explode {
        -webkit-animation: explode .5s;
        -moz-animation: explode .5s;
        animation: explode .5s;
        opacity: 0
    }
}


@-webkit-keyframes throb {
    from {
        background-position: 0px 0px
    }
    to {
        background-position: -696px 0px
    }
}

@-moz-keyframes throb {
    from {
        background-position: 0px 0px
    }
    to {
        background-position: -696px 0px
    }
}

@keyframes throb {
    from {
        background-position: 0px 0px
    }
    to {
        background-position: -696px 0px
    }
}

@-webkit-keyframes explode {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(2, 2);
        display: none
    }
}

@-moz-keyframes explode {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(2, 2);
    }
}

@keyframes explode {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(2, 2);
    }
}
