.cards{
  overflow-y: auto;
}
.empty{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 400px;
}
.placeholder{
  height: 60px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  background: white;
  margin-bottom: 15px;
}
