.cards{
  overflow-y: auto;
}
.empty{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 400px;
}
.placeholder{
  height: 60px;
  border: 1px dotted rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
