<bannerheader colour="['#7332cb', '#00ff80']">
    <h1>STEMN SGC Scholarship</h1>
</bannerheader>
<md-container class="static-page">
    <div class="section-title">
        <h3>Applications for Aerospace Futures delegates are now open.</h3>
    </div>
    <h3><strong>Attend Aerospace Futures 2015 for free</strong></h3>
    <p>Aerospace Futures is an invaluable career experience for every budding aerospace engineer. STEMN wants to help one deserving delegate get there. </p>
    <h3>What is the STEMN Futures Scholarship?</h3>

    <h3>What is STEMN?</h3>
    <p>STEMN is a project-based network for knowledge sharing and collaboration in the aerospace community. STEMN saves you valuable research time by centralising projects and teams on one platform. On STEMN you can:</p>
    <ul>
        <li>Find ideas and inspiration as you browse projects by subsystem, field or location.</li>
        <li>Create your own beautiful project page in minutes.</li>
        <li>Blog your progress and gain followers for your marketing or crowdfunding campaign.</li>
        <li>Get your questions answered by experts in the community.</li>
        <li>Build connections to launch your career in the space industry.</li>
    </ul>
    <p>Learn from the experience of the community. Don’t reinvent the wheel.</p>
    <h3>The Must Haves:</h3>

    <h3>The Nice to Haves:</h3>
    <ul>
        <li>Experience with Node.JS and&nbsp;AngularJS</li>
        <li>Knowledge of storage systems such as MongoDB</li>
        <li>History of full life cycle management of software projects, from inception to roll out</li>
    </ul>
    <p>Our development cycle is extremely fast; if you think you have what it takes, email your Github profile or previous project experience and resume to <strong>careers@stemn.com</strong>.</p>
</md-container>
