<md-dialog aria-label="checklist">
    <md-dialog-content style="width: 500px;">
        <h1 class="md-headline" style="margin-top: 0px;">Improve your profile</h1>
        <div>
            <md-progress-linear style="margin-bottom:10px;" class="md-accent" md-mode="determinate" value="{{completionPecentage}}"></md-progress-linear>
            <div class="md-subhead">{{completionPecentage}}% complete</div>
        	<div style="margin: 20px 0;">After reaching 100%, you should continue to add projects and blogs to improve the strength of your portfolio. </div>

            <div class="well" style="margin-bottom: 20px;" ng-hide="(completionStatus | filter:{status:!true}).length == 0">
                <div class="md-subhead">To Do:</div>
                <checklist-item ng-repeat="item in completionStatus | filter:{status:!true}"
                item-complete="item.status"
                item-href="item.href"
                item-click="item.click">
                    {{item.message}}
                </checklist-item>
            </div>

        	<div class="well">
                <div class="md-subhead">Done:</div>
                <checklist-item ng-repeat="item in completionStatus | filter:{status:true}"
                item-complete="item.status"
                item-href="item.href"
                item-click="item.click">
                    {{item.message}}
                </checklist-item>
            </div>

        </div>
        <div layout="row">
        	<div flex></div>
			<md-button class="no-margin-h" ng-click="cancel()">Close</md-button>
        </div>
    </md-dialog-content>
</md-dialog>
