<div>
    <a ng-hide="displayType == 'banner'" ng-click="checklistModal($event)" class="md-subhead">Improve your profile</a>
    <md-progress-linear ng-click="checklistModal($event)" class="md-accent m-v-10" md-mode="determinate" value="{{completionPercentage}}"></md-progress-linear>
    <div ng-hide="displayType == 'banner'" layout="row">
        <a ng-click="checklistModal($event)" class="text-lightgrey" flex>Your profile is {{completionPercentage}}% complete</a>
        <a ng-click="checklistModal($event)" class="text-green underlined">See How</a>
    </div>
    <div ng-show="displayType == 'banner'" layout="row">
        <div flex>Your profile is {{completionPercentage}}% complete.</div>
        <a ng-click="checklistModal($event)">See how to improve</a>
    </div>
</div>
