.title {
  margin: 0 0 10px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;

  > div:first-child {
    margin-right: 10px;
  }
}


.number {
  color: rgba(0, 0, 0, 0.3);
}

.meta {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

.avatar {
  margin-right: 10px;
}

.buttonRow {
  @media (max-width: 599px) {
    margin-top: 15px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}