<div ng-repeat="user in users" layout="row" layout-align="start center" class="p-v-10">
    <div class="avatar-circle m-r-15" style="background-image: url('{{user.picture || '/assets/images/default/user-1.png'}}?size=thumb&crop=true'); border: none;"></div>
    <div flex>
        <div class="bold">{{user.name}}</div>
        <div class="text-lightgrey">{{user.owner ? 'Owner: Can do everything' : permissions[user.permissions.role].description}}</div>
    </div>
    <md-button class="md-circle md-xs md-grey" aria-label="Settings">
        <md-icon md-svg-src="more-h"></md-icon>
        <popup class="tooltip-menu" popup-side="right" popup-position="center" popup-padding="0 0 0 8px" layout="column">
            <a class="md-subhead" ng-click="editUser($event, $index)">Edit</a>
            <a ng-if="!user.owner" class="md-subhead" ng-click="deleteUser($index)">Delete</a>
        </popup>
    </md-button>
</div>
<div style="margin-left: 53px">
    <user-search data="users" placeholder="Search for more members (or add by email)" parent="parent" pre-process-fn="userAddPreProcessFn"></user-search>
    <md-button class="md-accent md-raised md-flat md-md m-0 md-cornered" show-invite-link-modal parent="parent">Get Invite Link</md-button>
</div>
