preview-autodesk{
    // Hide ugly UI
    .homeViewWrapper{
        top: 10px !important;
        right: 10px !important;
    }
    .infoButton{
        display: none;
    }

    // Button Group
    .adsk-control-group{
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.18);
        border-radius: 0px;
    }
    .adsk-button{
        border-radius: 0px;
    }

    // Stop no-touch fade
    .notouch .adsk-toolbar {
        opacity: 1;
    }
}
#close{
    opacity: 1 !important;
}
