<div ng-show="$state.is('app.users')">
    <charts-time-bar chart-type="cumulativeUsers" style="margin-bottom: 15px;"></charts-time-bar>

    <div flex class="md-whiteframe-z1 ">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Users - Total: <analytics-count type="user"></analytics-count></h2>
                <search-filter filter="searchFilter"></search-filter>
                <md-button aria-label="refresh" class="md-icon-button" ng-click="usersQuery.refresh()">
                    <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
                </md-button>
                <md-button aria-label="refresh" class="md-icon-button" display-table-column-select columns="usersQuery.columns">
                    <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <modular-table query="usersQuery" select="true"></modular-table>
        </md-content>
    </div>
    <div layout="row" layout-align="center" class="md-padding">
        <md-button class="md-icon-button md-raised md-accent" ng-click="usersQuery.more(); usersQuery.updateQueryParams();" aria-label="add more">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
    </div>
</div>
<ui-view ng-show="$state.includes('app.users.user')"></ui-view>
