@value primary, border1, bg1 from "theme";

.wrapperList{
  margin-bottom: 20px;
}
.wrapperBoard{
  margin: 0 10px;
  width: 350px;
  min-width: 350px;
  background: bg1;
  border: 1px solid border1;
}
.header{
  height: 44px;
  min-height: 44px;
  padding: 0 10px;
  border-bottom: 1px solid border1;
}
/*
.header:hover .options{
  opacity: 1;
}
*/
.options{
/*  opacity: 0;*/
}

.headerBoard{

}
.headerList{
}

.contentList{
  
}
.contentBoard{
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}
