<md-dialog>
    <md-dialog-content>
        <div name="form" class="md-content-container content-xs">
            <h1 class="md-headline" style="margin: 0px 0 30px;">Application received</h1>
            <div class="md-subhead"></div>
            <p>Sit tight! Our Talent team will review your application and will be in touch shortly.</p>
            <p>In the mean time, you can continue to polish up your applications and portfolio on your <a class="text-green" ui-sref="app.applications">my applications</a> page.</p>
            <div layout="row" class="m-t-15">
                <div flex></div>
                <div>
                    <md-button class="" ng-click="cancel()">Cancel</md-button>
                    <md-button class="md-accent md-raised m-r-0" ng-click="confirm()">View Applications</md-button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
