<div class="job-rows rel-box" style="min-height: 100px;">
    <table class="md-table" ng-show="query.results.length > 0">
        <thead>
            <tr>
                <td ng-if="parentType != 'organisation'" style="width: 40px;"></td>
                <td>Name</td>
                <td class="text-center">Location</td>
                <td style="width: 100px;" class="text-center">Pay</td>
                <td hide-sm style="width: 100px;" class="text-center">Level</td>
                <td hide-sm style="width: 100px;" class="text-center">Type</td>
                <td hide-sm style="width: 95px;"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in query.results" ng-hide="currentJobId == item._id">
                <td ng-if="parentType != 'organisation'" style="padding: 15px 20px 15px 5px;">
                    <a set-entity-href="'organisation'" entity-stub="item.organisations[0].stub">
                        <div class="avatar avatar-square-contain" ng-style="item.organisations[0].picture && { 'background-image':'url('+item.organisations[0].picture+'?size=thumb)'}"></div>
                    </a>
                </td>
                <td>
                    <a set-entity-href="'job'" entity-stub="item.stub">
                        <div ng-if="parentType != 'organisation'" class="bold">{{item.organisations[0].name}}</div>
                        <div>{{item.name}}</div>
                    </a>
                </td>
                <td class="text-center">{{item.location[0].name}}</td>
                <td class="text-center">
                    <div ng-if="item.pay.from && item.pay.to">{{item.pay.from | money : item.pay.currency}} to {{item.pay.to | money : item.pay.currency}}</div>
                </td>
                <td hide-sm class="text-center">{{item.level}}</td>
                <td hide-sm class="text-center">{{item.jobType}}</td>
                <td hide-sm class="text-right"><apply-button job="item" job-id="{{item._id}}" job-stub="{{item.stub}}" class="md-sm no-margin" style="min-width: 70px;" change-state="true"></apply-button></td>
            </tr>
        </tbody>
    </table>
    <div ng-if="query.notEnoughResults" class="text-no-results m-t-15">
       {{query.results.length > 0 ? 'No more jobs' : 'No jobs'}}
    </div>
    <div ng-hide="query.notEnoughResults || query.noMoreResults || hideMore" class="m-t-30">
        <a class="well-button" layout="row" layout-align="center center" ng-click="query.more()" ng-disabled="query.noMoreResults">
            <div>{{noMoreResults ? 'No more results' : 'See more jobs'}}</div>
        </a>
    </div>
    <loading-overlay ng-if="query.loading" ng-class="{'translucent' : query.results.length > 0}"></loading-overlay>
</div>
