<div class="md-whiteframe-z1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex class="ellipsis">{{title}}</h2>
            <div layout="row" layout-align="start center" class="anim-fade" ng-show="showDetails">
                <md-input-container>
                    <md-select ng-show="divisor" ng-model="divisorOptions.current" ng-change="divisorChange()" placeholder="Divisor">
                        <md-option ng-value="item.model" ng-repeat="item in divisorOptions.options">{{item.title}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-select placeholder="Time Resolution" ng-model="query.params.timeResolution" ng-change="getFromTime(); getData()" style="font-size: 14px; text-transform: capitalize">
                        <md-option ng-repeat="item in resolutionObject" ng-value="{{item.value}}" style="text-transform: capitalize">{{item.name}}</md-option>
                    </md-select>
                </md-input-container>
                <div hide-sm hide-md download-chart-data data="data" class="md-icon-button m-0"></div>
                <md-button aria-label="add" class="md-icon-button m-0" ng-click="showChartsSelectModal($event)">
                    <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
                </md-button>
                <md-button aria-label="refresh" class="md-icon-button m-0" ng-click="getData()">
                    <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
                </md-button>
            </div>
            <md-button aria-label="refresh" class="md-icon-button m-0" ng-click="showDetails = !showDetails;">
                <ng-md-icon icon="{{showDetails ? 'close' : 'more_horiz'}}" style="fill: white" options='{"duration": 300}'></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding" style="height: 355px;">
        <loading-overlay ng-if="loading"></loading-overlay>
        <nvd3 ng-if="data" options="options" data="data"></nvd3>
    </md-content>
</div>
