editor-append-buttons{
	display: block;
	margin: 60px 0;
	&.minimal{
		margin: 0px;

		position: absolute;
		bottom: 0;
		.md-button{
			margin-left: 0;
			width: 30px !important;
			height: 30px !important;
			line-height: 30px !important;
		}
		md-icon{
			height: 20px !important;
			width: 20px !important;
		}
	}
}
