/* Dragable Sortable lists */
.dragable ul{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.my-handle {
    cursor: move;
}
.my-handle-bg{
    background: white;
    opacity: 0.7;
    padding: 3px 7px;
}
.my-handle-zone{
    padding: 10px 7px;
    display: inline-block;
}
