.mobileLinks {
  background: rgb(15, 16, 18);
  overflow: hidden;
  height: 0;
  transition: 0.3s ease all;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.inner {
  padding: 10px 0;
}

.mobileLink {
  padding: 0 20px;
}

.mobileLink:global(.active) {
  font-weight: bold;
}
