/* TA Reply Editor */
.reply-editor{
    position: fixed;
    z-index: 104;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-height: 100vh;
    transition: max-height 0.6s linear;
//    user-image{
//        float: left;
//        .md-button{
//            width: 38px !important;
//            height: 38px !important;
//            margin-top: -5px;
//            margin-left: -5px;
//            margin-right: 5px;
//        }
//    }
    > div > .md-content-container{
        background-color: white;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
        position: relative;
        .top-right{
            position: absolute;
            top: -5px;
            right: -5px;
        }
    }
    &.minimised{
        max-height: 60px;
        transition: max-height 0.6s cubic-bezier(0, 1.05, 0, 1);
        .ta-toolbar{
            visibility: hidden;
        }
    }
    &.ng-enter{
        -webkit-animation: slideInUp 0.8s;
        animation: slideInUp 0.8s;
    }
    &.ng-leave{
        -webkit-animation: slideOutDown 0.8s;
        animation: slideOutDown 0.8s;
    }
}
