$height: 80px;
.top-banner{
	background-color: #8BC34A;
	color: white;
	font-size: 16px;

	height: $height;
	transition: height 0.3s ease;
	overflow: hidden;
	&.ng-hide{
		height: 0px;
	}

	>div{
		height: 100%;
	}

	.close-btn{
		position: absolute;
		top: -5px;
		right: -5px;
		margin: 0px;
		opacity: 0.3;
		transition: opacity 0.3s ease;
		md-icon{
			color: white;
		}
	}
	&:hover{
		.close-btn{
			opacity: 1;
		}
	}
	.md-button[disabled]{
		color: inherit;
		background: rgba(255, 255, 255, 0.3);

	}
}

[layout-offset-top-banner="true"]{
	transition: padding-top 0.3s ease;
	padding-top: 0px;
}
body.top-banner-open [layout-offset-top-banner="true"]{
	@media (min-width: 960px) {
		padding-top: $height;
	}
}

