.title {
  margin: 0 0 10px;
  font-size: 22px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}

.blurb {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

.number {
  color: rgba(0, 0, 0, 0.3);
}

.meta {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

.avatar {
  margin-right: 5px;
}

.tag {
  margin-bottom: 0;
}

.miniButton {
  position: absolute;
  top: 8px;
  right: 8px;
}

.panel {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  position: relative;
}
.panel > div:first-child {
  margin-bottom: 15px;
}
.panel:last-child {
  margin-bottom: 0px;
}
.timeline {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.empty {
  min-height: 350px;
}

.settingsButton {
  position: absolute;
  right: 0;
  top: 0;
}

.buttonRow {
  @media (max-width: 599px) {
    margin-top: 15px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}