<div layout="row" layout-align="center">
    <div class="rel-box md-content-container md-no-padding">
        <div layout="column" layout-gt-md="row" class="md-row">
            <!-- TABLE OF CONTENTS NAV -->
            <toc-nav sections="toc.content"></toc-nav>

            <div flex layout="column" class="md-col">

                <div ng-if="project.banner" class="border-box m-b-30">
                    <a class="featured-image bg-img-cover"
                    blur-load-bg bg-src="{{project.banner}}?size=featured-md"
                    lightbox="true" lightbox-image="project.banner"></a>
                </div>

                <div ng-show="project.fields.length > 0" class="m-b-30">
                    <div class="md-subhead m-v-10">Fields</div>
                    <tags tags="project.fields" type="field" edit="false" size="sm"></tags>
                </div>

                <div class="line-divider-bottom m-b-15" layout="row">
                    <div class="md-subhead" flex>Summary</div>
                    <a ng-show="showEdit" ui-sref="app.project.settings.options({'#':'summary'})"><md-icon class="s-20 text-lightgrey" md-svg-icon="edit"></md-icon></a>
                </div>
                <div class="angular-medium-editor rel-box m-b-30" style="min-height: 50px" ng-show="project.summary.length > 5">
                    <div ng-bind-html="project.summary"></div>
                </div>
                <div ng-show="project.summary.length <= 5 && showEdit" class="text-subtitle-thin m-b-30">
                    You have no project summary.
                </div>
<!--
                <div ng-show="readme">
                    <div class="line-divider-bottom m-b-15 m-t-30" layout="row">
                        <div class="md-subhead" flex>Readme.md</div>
                        <a class="text-green"  ui-sref="app.preview({projectStub: project.stub, path: 'readme.md', edit: true})">Edit</a>
                    </div>
                    <div class="angular-medium-editor rel-box" style="min-height: 112px">
                        <file-readme project="project" path="readme.md" readme="readme"></file-readme>
                    </div>
                </div>
-->
                <div ng-if="isSectionContent()">
                    <div class="line-divider-bottom m-b-20 " layout="row">
                        <div flex class="md-subhead">Project Details</div>
                        <a ng-show="showEdit" ui-sref="app.project.settings.sections"><md-icon class="s-20 text-lightgrey" md-svg-icon="edit"></md-icon></a>
                    </div>
                    <div toc-content="toc.content" toc-refresh="true" toc-prepend="toc.prepend" toc-append="toc.append">
                        <modular-editor editor-sections="project.sectionData" editor-options="editorOptions" edit="false"></modular-editor>
                    </div>
                </div>
            </div>


            <div class="md-col sidebar">
                <div layout="column">
                    <div class="border-box-white p-15 m-b-30" ng-if="project.remote.connected"><sync-list-widget project="project" path=""></sync-list-widget></div>
                    <div class="border-box-white p-15 m-b-30">
                        <table class="st-meta-table">
                            <tr>
                                <td>Updated</td>
                                <td>{{project.updated | amTimeAgo}}</td>
                            </tr>
                            <tr>
                                <td>Created</td>
                                <td>{{project.created | amTimeAgo}}</td>
                            </tr>
                            <tr ng-show="project.location[0].name">
                                <td>Location</td>
                                <td>
                                    <a go-to-map location="project.location[0].geo">
                                        {{project.location[0].name}}
                                    </a>
                               </td>
                            </tr>
                            <tr ng-hide="project.permissions.projectType == 'private'">
                                <td>License</td>
                                <td>
                                    <a ng-if="license.url" ng-href="{{license.url}}" target="_blank">{{license.name}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="md-subhead m-b-10">Threads</div>
                    <feed-widget-timeline type="all" parent-type="project" parent-id="{{project._id}}" parent="project" show-edit="showEdit" style="margin-bottom: 60px;"></feed-widget-timeline>
                </div>
            </div>
        </div>
    </div>
</div>
