.table {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	td, th {
		padding: 10px;
		border: 1px solid #ddd;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
	}
}
