<div class="user-row-detailed rel-box" layout="column" layout-gt-sm="row">
    <div class="avatar-circle avatar-lg m-r-30" style="background-image: url('{{user.picture || '/assets/images/default/user-1.png'}}?size=thumb-lg&crop=true'); border: none;"></div>
    <div flex class="item-col">
        <div class="md-title bold">{{user.name}}</div>
        <div>{{user.blurb}}</div>
        <md-button class="md-accent md-raised md-flat md-cornered md-md m-l-0 m-t-15" href="{{ buttonHref || 'users/'+user.stub }}">{{buttonText || 'See Profile'}}</md-button>
    </div>
    <div flex class="item-col">
<!--        <user-skills ng-if="user" user="user" active-fields="job.fields"></user-skills>-->
        <div class="md-subhead">Education</div>
        <div class="item" ng-repeat="item in user.profile.profileDetails.education | limitTo: itemLimit">
            <div>{{item.degree}} {{item.fieldOfStudy}}</div>
            <div class="text-grey">{{item.school}} ({{item.isCurrent ? 'Current' : item.endDate.year}})</div>
        </div>
        <a class="text-green" ng-click="raiseLimit()" ng-show="user.profile.profileDetails.education.length > itemLimit">See More</a>
    </div>
    <div flex class="item-col">
        <div class="md-subhead">Experience</div>
        <div class="item" ng-repeat="item in user.profile.profileDetails.experience | limitTo: itemLimit">
            <div>{{item.position}}</div>
            <div class="text-grey">{{item.company}} ({{item.isCurrent ? 'Current' : item.endDate.year}})</div>
        </div>
        <a class="text-green" ng-click="raiseLimit()" ng-show="user.profile.profileDetails.experience.length > itemLimit">See More</a>
    </div>

    <loading-row ng-if="loading" class="translucent"></loading-row>
</div>
