<div class="rel-box">
    <table class="md-table">
        <thead>
            <tr>
                <td style="width: 40px;"></td>
                <td>Name</td>
                <td filter-column-order filter-object="orderFilter" filter-model="followers" filter-query="query" style="width: 100px;" class="text-center">Followers</td>
                <td filter-column-order filter-object="orderFilter" filter-model="numProjects" filter-query="query" style="width: 100px;" class="text-center">Projects</td>
                <td hide-sm style="width: 75px;"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in query.results">
                <td style="padding: 15px 20px 15px 5px;">
                    <a ui-sref="app.user.profile({stub:item.stub})">
                        <div class="avatar-circle" ng-style="{ 'background-image':'url('+(item.picture || '/assets/images/default/user-1.png')+'?size=thumb&crop=true)'}"></div>
                        <popup class="card-popup" popup-side="bottom" popup-position="center">
                            <card card-type="user" card-id="{{item._id}}"></card>
                        </popup>
                    </a>
                </td>
                <td>
                    <a ui-sref="app.user.profile({stub:item.stub})">
                        <div class="bold">{{item.name}}</div>
                        <div>{{item.blurb | letters: 70}}</div>
                    </a>
                </td>
                <td class="text-center">
                    <a class="" stat-display-modal type="follow" parent-type="user" parent-id="{{item._id}}">{{item.followers}}</a>
                </td>
                <td class="text-center">
                    <a class="" ui-sref="app.user.projects({stub:item.stub})">{{item.numProjects}}</a>
                </td>
                <td hide-sm>
                    <hide-if-owner owner="{{item._id}}">
                        <stat-button hide-stat="true" size="sm" type="follow" parent-type="user" parent-id="{{item._id}}" count="item.followers"></stat-button>
                    </hide-if-owner>
                </td>
            </tr>
        </tbody>
    </table>
    <loading-overlay ng-if="query.loading" ng-class="{'translucent' : query.results.length > 0}"></loading-overlay>
    <div ng-hide="query.notEnoughResults">
        <a class="well-button m-v-40 " layout="row" layout-align="center center" ng-click="query.more()" ng-disabled="query.noMoreResults">
            <div>{{query.noMoreResults ? 'No more users' : 'See more users'}}</div>
        </a>
    </div>
</div>
