<form name="PeopleGroupsForm" class="edit-box">
    <div class="rel-box">
       <edit-button ng-show="showEdit" inline="true" form="PeopleGroupsForm" save-fn="save()"></edit-button>

        <!-- If Empty -->
        <div ng-if="!usersGroups.length > 0">
            <h3 class="md-subhead">Team Members</h3>
        </div>

        <!-- If Editing  -->
        <div ng-if="PeopleGroupsForm.$visible || edit" ng-sortable="userGroupSortConfig">
            <div ng-repeat="group in usersGroups" class="my-handle">
                <h3 class="md-subhead"><input class="editable" type="text" ng-model="group.name" placeholder="Group Name" name="role"></h3>
                <div class="user-sort" ng-sortable="userSortConfig" ng-class="{'empty':group.members.length == 0}">
                    <user-row class="my-handle block disable-href" ng-repeat="user in group.members track by $index" data="user" type="user" show-edit="true" delete-fn="delete(group.members, $index)"></user-row>
                    <empty-group ng-if="group.members.length == 0" delete-fn="delete(usersGroups, $index)"></empty-group>
                </div>
                <div class="rel-box">
                    <md-button ng-show="parent" class="invite-button md-accent md-border-green md-sm" show-invite-link-modal parent="parent" group="{{group.name}}" modal-callback="modalCallback()">Get Invite Link</md-button>
                    <user-search data="group.members" placeholder="Search for more members (or add by email)" ng-style="group.members.length != 0 && {'margin-left' : '67px'}" focus="PeopleGroupsForm.$visible || edit" parent="parent" group="{{group.name}}" modal-callback="modalCallback()"></user-search>
                </div>
            </div>
            <add-row add-fn="newGroup()"></add-row>
        </div>

        <!-- If Not Editing  -->
        <div ng-if="!(PeopleGroupsForm.$visible || edit)">
            <div ng-repeat="group in usersGroups" ng-show="group.members.length > 0">
                <h3 class="md-subhead">{{group.name || 'Core team'}}</h3>
                <div class="user-sort md-row" layout="row" layout-wrap>
                    <user-row class="md-col" flex="100" flex-sm="100" ng-repeat="user in group.members track by $index" data="user" type="user"></user-row>
                </div>
                <md-divider style="margin: 20px 0 10px;"></md-divider>
            </div>
        </div>
    </div>
</form>
