.modalTitle {
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.titleSection {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bodySection {
  min-height: 200px;
  padding: 20px;
}
