@value border1, placholder from "theme";

.box{
  height: 36px;
  border: 1px solid border1;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  position: relative;

  padding: 0px 10px;
  color: #333;
}
.box:hover{
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.disabled{
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.disabled:hover{
  border: 1px solid border1;
}

.disabled button{
  cursor: not-allowed;
  pointer-events: none;
}

.disabled button:hover {
  color: rgba(0, 0, 0, 0.2);
}
