<div layout="row" layout-align="center" class="m-b-30">
    <div class="md-content-container" layout="column" layout-align="center center">
        <h1 class="md-display-1 text-center m-t-50">People</h1>
        <div class="md-title text-grey light-font text-center">Browse top users - explore their projects and profile.</div>
<!--        <a class="text-green text-center m-t-15" ng-click="newOrganisation($event)">Go to your profile</a>-->
    </div>
</div>


<!--
<div class="infobar m-b-30 p-v-15 overflow-x-box" layout="row" layout-align="center">
    <div class="md-content-container md-row text-center" layout="column" layout-gt-sm="row">
        <div flex="100" flex-gt-sm="33" class="md-col" layout="column">
            <h2 class="md-title bold">Start a discussion</h2>
            <p>Got news or an event coming up?<br>Post about something interesting.</p>
        </div>
        <div flex="100" flex-gt-sm="33" class="md-col" layout="column">
            <h2 class="md-title bold">Ask anything</h2>
            <p>Link your project and ask a question. <br>Ask for help, feedback or collaborators.</p>
        </div>
        <div flex="100" flex-gt-sm="33" class="md-col" layout="column">
            <h2 class="md-title bold">Get your answer.</h2>
            <p>Expect a response in less than 24 hrs. <br>Get your results faster.</p>
        </div>
    </div>
</div>
-->

<div layout="row" layout-align="center" class="m-t-15 overflow-x-box">
    <div class="md-content-container md-no-padding m-b-60 rel-box" layout="column">
        <div class="md-row" layout="row">
            <div hide-sm class="md-col" style="width: 300px">
               <div class="m-b-30">
                    <div class="md-subhead m-b-10">Search People</div>
                    <div class="well-input">
                        <input type="text" ng-model="searchFilter.model" ng-change="searchFilter.onChange()" placeholder="Query users">
                        <md-icon md-svg-icon="search"></md-icon>
                    </div>
                </div>

                <div class="md-subhead m-b-10">Looking for someone?</div>
                <div class="well m-b-30" layout="column">
                    <div class="text-lightgrey m-b-15">
                        Invite people to STEMN and you'll earn awesome prizes.
                    </div>
                    <md-button authenticate class="md-accent md-raised md-flat md-cornered md-md m-0" ui-sref="app.referrals">Send referral</md-button>
                </div>


                <div class="md-subhead m-b-10">Filter by University</div>
                <div class="well m-b-30" layout="column">
                    <md-radio-group class="md-compact" ng-model="educationFilter.current" ng-change="educationFilter.change(educationFilter.current)">
                        <md-radio-button value="" class="md-accent">All</md-radio-button>
                        <md-radio-button ng-repeat="field in educationFilter.options" value="{{field._id}}" class="md-accent">{{field.name | letters: 23}} ({{field.numEducations}})</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div flex class="md-col rel-box" layout="column">
                <div class="rel-box" style="min-height: 100px;">
                    <div class="md-subhead m-b-10">Top users</div>
                    <user-rows query="query" sort="sort"></user-rows>
                    <div ng-show="query.notEnoughResults" class="text-lightgrey m-v-40">
                        No more results. <a class="underlined text-green" ng-click="clearFilter()">Clear filters</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
