.well {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  line-height: 1.4em;
  max-height: 400px;
  overflow-y: auto;

  margin-bottom: 10px;
}
