
<div nv-file-drop="" uploader="uploader">
	<div layout="row" layout-wrap ng-sortable="sortableConfig" style="margin: -15px; min-height: 50px;">
		<uploaded-file class="draggable" flex="20" flex-md="25" flex-sm="50" ng-repeat="file in files track by $index"></uploaded-file>
		<uploaded-file ng-if="edit && item.progress > 0 && item.progress < 100" flex="20" flex-md="25" flex-sm="50" ng-repeat="item in uploader.queue"></uploaded-file>
		<div flex="20" flex-md="25" flex-sm="50" class="" style="padding: 15px" layout="column" ng-if="edit">
			<label flex class="btn-upload drop" nv-file-over uploader="uploader" over-class="drag-over" layout="column" layout-align="center center">
				<input type="file" class="upload" nv-file-select="" uploader="uploader" multiple/>
				<span class="text-lightgrey">Upload files</span>
			</label>
		</div>
	</div>
</div>
