@value primary from "theme";

.badge {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover {
    div {
      width: 30px;
    }
    span {
      opacity: 1;
    }
  }

  div {
    top: 0;
    left: 35px;
    position: absolute;
    width: 14px;
    height: 14px;
    background: primary;
    color: white;
    border-radius: 7px;
    transition: 0.2s ease all;
    font-size: 9px;
    padding: 2px 4px;
    font-weight: bold;
    overflow: hidden;
    span {
      transition: 0.1s ease all;
      opacity: 0;
    }
  }
}
