@value border1 from "theme";


.overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  animation: fade-in .3s ease;
}

.modal {
  transform-origin: bottom center;
  animation: fade-in .3s ease;
  outline: none;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 2px 15px rgba(0,0,0,0.1);
}
.modal :global(.modal-title){
  padding: 15px;
  border-bottom: 1px solid border1;
  font-weight: 300;
  font-size: 14px;
}
.modal :global(.modal-body){
  padding: 15px;
}
.modal :global(.modal-footer){
  border-top: 1px solid border1;
  margin-top: -1px;
  padding: 10px;
}
.modal :global(.modal-footer-no-line){
  border-top: none;
  margin-top: -1px;
  padding: 10px;
}

@keyframes fade-in-pulse-08 {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  50% {
    opacity: 1;
  }
  100%, 70% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
