<loading-row ng-if="data.loading"></loading-row>
<div class="row-view" layout="row" layout-align="start center">
    <a ng-href="{{data.href}}"
    class="avatar {{avatarType}}" ng-style="{ 'background-image':'url('+(data.picture || '/assets/images/default/user-1.png')+'?size=thumb)'}"></a>
    <div flex class="ellipsis-container">
        <a class="text-green ellipsis" ng-href="{{data.href}}">{{data.name || 'Untitled ' + data.entityType}}</a>
        <div class="text-lightgrey ellipsis">{{data.blurb}}</div>
    </div>
    <div>
        <stat-button  ng-if="data.entityType != 'job'" hide-stat="true" size="sm" hide-icon="true" type="follow" parent-type="{{data.entityType}}" parent-id="{{data._id}}" count="data.followers"></stat-button>
        <apply-button ng-if="data.entityType == 'job'" job="data" job-id="{{data._id}}" job-stub="{{data.stub}}" class="md-sm no-margin" style="min-width: 70px;" change-state="true"></apply-button>
    </div>
</div>
