// Z-INDEX - 10,000
page-loading-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/images/vectors/stars.svg'), linear-gradient(to bottom, #0A3A6B, #0A1824);
    z-index: 10000;
    transition: all 0.2s ease;
    transform: translateY(0);
    opacity: 1;
    &.animate {
        opacity: 0;
//        transform: translateY(100%);
    }
    .messages {
        @media (max-width: 600px) {
            margin-top: 80px;
            width: 90vw;
            margin-left: -45vw;
            h3{
                font-size: 16px;
                padding: 0px;
            }
            h4{
                font-size: 12px;
            }
        }
        position: fixed;
        left: 50%;
        top: 50%;
        width: 350px;
        margin-top: 120px;
        margin-left: -175px;
        text-align: center;
        color: white;
        .message1 {
            animation-delay: 10s;
            -webkit-animation-delay: 10s;
        }
        .message2 {
            animation-delay: 15s;
            -webkit-animation-delay: 15s;
        }
    }
    // Spinner
    article.preloader .earth {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -75px;
        margin-top: -75px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url(/assets/images/vectors/globe.svg);
        background-size: cover;
    }
    article.preloader .satelite {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -100px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(/assets/images/spinner/satelite.png);
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-animation: sat 2s linear infinite;
        animation: sat 2s linear infinite;
    }
    @keyframes sat {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes sat {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
