.dropzone {
  padding: 40px 30px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  transition: 0.1s ease all;
  cursor: pointer;
  &.active, &:hover {
    background: rgba(0, 0, 0, 0.03);
  }
}