<md-dialog aria-label="error">
    <md-dialog-content style="width: 500px;">
        <h1 class="md-headline" style="margin-top: 0px;">{{data.title}}</h1>
        <p ng-bind-html="data.body"></p>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <div flex></div>
        <div>
            <md-button class="" ng-click="cancel()" ng-show="data.cancelText">{{data.cancelText}}</md-button>
            <md-button class="md-accent md-raised" ng-click="confirm()">{{data.confirmText || 'Ok'}}</md-button>
        </div>
    </div>
</md-dialog>
