<md-dialog aria-label="dialog">
	<md-dialog-content style="width:300px; padding: 20px;">
        <h2 flex>{{ data.confirmTitle || 'Are you sure?'}}</h2>
        <p ng-bind-html="data.confirmBody || 'There will be no turning back.'"></p>

        <div layout="row" style="padding-top: 15px;">
            <div flex></div>
            <div>
                <md-button ng-click="cancel()">{{data.confirmNo || 'No'}}</md-button>
                <md-button class="md-accent md-raised" ng-click="confirm()">{{data.confirmYes || 'Yes'}}</md-button>
            </div>
        </div>
	</md-dialog-content>
</md-dialog>
