.related{

}

.list-item{
    > div {
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    }
    .md-button{
        background: white;
        margin-left: 0;
        margin-right: 15px;
        font-size: 12px;

        line-height: 42px;
        width: 42px;
        height: 42px;
        padding: 0px;
        border-radius: 50%;

    }
    h4{
        margin-bottom: 3px;
        font-size: 14px;
    }
}
