<md-dialog aria-label="dialog">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 flex>User Logs: {{user.name}}</h2>
				<md-button class="md-icon-button" ng-click="cancel()">
					<ng-md-icon icon="close" aria-label="Close dialog" style="fill: white"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content class="scroll-container" style="width:600px; max-height:810px; padding: 0px;">
		    <div infinite-scroll="getLogs()" infinite-scroll-distance="1" infinite-scroll-container="'.scroll-container'" infinite-scroll-disabled="loading">
                <div class="log-row" ng-repeat="event in logs | orderBy: '-date'" layout="row" layout-align="start center">
                    <core-entity-picture entity-id="{{event.parentId || event.entityId}}" entity-type="{{event.parentType || event.entityType}}"></core-entity-picture>
                    <div flex layout="column">
                        <div class="ellipsis bold">
                            <core-entity-row entity-id="{{event.parentId || event.entityId}}" entity-type="{{event.parentType || event.entityType}}"></core-entity-row>
                        </div>
                        <div layout="row">
                            <div class="text-lightgrey">{{event.date | amTimeAgo}}</div>
                        </div>
                    </div>
                    <div>[{{event.event}}]</div>
                </div>
			</div>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex>
			    Total: {{logs.length}}
			</span>
			<md-button ng-click="cancel()">
				Close
			</md-button>
		</div>
	</form>
</md-dialog>
