<md-dialog aria-label="dialog">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 flex>User CRM</h2>
				<md-button class="md-icon-button" ng-click="cancel()">
					<ng-md-icon icon="close" aria-label="Close dialog" style="fill: white"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:600px; max-height:810px;" class="md-padding" layout="column">
            <md-datepicker ng-model="item.date" md-placeholder="Enter date"></md-datepicker>
            <md-input-container>
                <label>Contacted By</label>
                <input type="text" ng-model="item.contactedBy">
            </md-input-container>
            <md-input-container>
                <label>Notes</label>
                <textarea ng-model="item.notes" row="5"></textarea>
            </md-input-container>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="save()">
				Save
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
