.siteSearchView{
    .searchBox{
        font-size: 35px;
        color: rgba(0, 0, 0, 0.80);
        outline: none;
        border: none;
        padding: 30px;
        font-weight: bold;
		@media (max-width: 600px){
			padding: 15px;
		}

        background: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
//        box-shadow: 0 2px 4px rgba(0,0,0,.08);
        transition: all 0.1s ease;


        &:hover{
//            box-shadow: 0 4px 8px rgba(0,0,0,.12);
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
}
