.onboarding-footer{
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 10;
}
.onboarding-header{
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 10;
    md-icon{
        color: black;
    }
}
