.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.animateOverlay{
  transition: 0.3s ease opacity;
  opacity: 0;
}
.animateOverlayShow{
  opacity: 1;
}

.sidebar{
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 250px;
  background: white;

  transition: 0.3s ease all;
  transform: translateX(-100%);
}
.sidebarShow{
  transform: translateX(0);
}

.sidebarSearch{
  position: relative;
  margin: 10px;
}
.sidebarSearch input{
  padding: 14px;
  height: auto;
  padding-right: 40px;
}
.sidebarSearchIcon{
  position: absolute;
  right: 8px;
  top: 10px;
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}

