<div layout="row" layout-align="center" class="ProjectFilesView m-b-15">
    <div class="rel-box md-content-container md-no-padding">

        <!-- If Project is linked but user is not -->
        <div ng-show="showEdit && ((project.remote.provider == 'dropbox' && !currentUser.accounts.dropbox.id) || (project.remote.provider == 'drive' && !currentUser.accounts.google.refreshToken))" class="border-box-white p-30 m-b-30 text-center">
            <div class="md-title m-b-15">Connect your {{project.remote.provider == 'dropbox' ? 'Dropbox' : 'Drive'}}</div>
            <div class="text-subtitle-thin m-v-30">In order to access these files you must connect your dropbox to STEMN.</div>
            <md-button ng-show="project.remote.provider == 'dropbox'" class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : currentUser.accounts.dropbox.id }" layout="row" layout-align="start center" ng-click="syncAuthorize('dropbox')">
                <md-icon md-svg-icon="dropbox"></md-icon>
                {{currentUser.accounts.dropbox.id ? 'Connected to Dropbox' : 'Connect to Dropbox'}}
            </md-button>
            <md-button ng-show="project.remote.provider == 'drive'" class="md-accent md-border md-cornered m-l-0 md-sm md-flat" ng-class="{'md-raised' : currentUser.accounts.google.refreshToken }" layout="row" layout-align="start center" ng-click="syncAuthorize('google')">
                <md-icon md-svg-icon="drive"></md-icon>
                {{currentUser.accounts.google.refreshToken ? 'Connected to Drive' : 'Connect to Drive'}}
            </md-button>
        </div>

        <div ng-if="!project.remote.connected">
            <div ng-show="showEdit" class="border-box-white text-center p-30">
                <div layout="column" layout-gt-sm="row" class="md-row">
                    <div class="md-col-lg m-v-30" flex>
                        <div class="md-title m-b-15">Step 1: Connect Dropbox or Drive</div>
                        <div class="text-subtitle-thin m-v-30">Connect this project to your Dropbox or Google Drive. This will be used to sync your files so you can use STEMN's collaborative tools.</div>
                        <md-button class="md-accent md-border md-cornered m-l-0 md-flat md-sm" ng-class="{'md-raised' : project.remote.provider == 'dropbox'}" layout="row" layout-align="start center" ng-click="remoteLink($event, 'dropbox')">
                            <md-icon md-svg-icon="dropbox"></md-icon>
                            {{project.remote.provider == 'dropbox' ? 'Connected to Dropbox' : 'Connect to Dropbox'}}
                        </md-button>
                        <md-button class="md-accent md-border md-cornered m-l-0 md-flat md-sm" ng-class="{'md-raised' : project.remote.provider == 'drive'}" layout="row" layout-align="start center" ng-click="remoteLink($event, 'drive')">
                            <md-icon md-svg-icon="drive"></md-icon>
                            {{project.remote.provider == 'drive' ? 'Connected to Drive' : 'Connect to Drive'}}
                        </md-button>
                    </div>
                    <div class="md-col-lg m-v-30" flex>
                        <div class="md-title m-b-15">Step 2: Upload files</div>
                        <div class="text-subtitle-thin m-v-30">A folder for this project will automatically appear in your dropbox or drive. Add files to that folder and they'll show up here.</div>
                        <div layout="row" layout-align="center center" layout-wrap class="fileTypeDemo">
                            <img src="/assets/images/vectors/filetype/dxf.svg">
                            <img src="/assets/images/vectors/filetype/dwg.svg">
                            <img src="/assets/images/vectors/filetype/pdf.svg">
                            <img src="/assets/images/vectors/filetype/tex.svg">
                            <img src="/assets/images/vectors/filetype/xlsx.svg">
                            <img src="/assets/images/vectors/filetype/js.svg">
                            <img src="/assets/images/vectors/filetype/cpp.svg">
                            <img src="/assets/images/vectors/filetype/csv.svg">
                            <img src="/assets/images/vectors/filetype/more.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Empty Message -->
        <div ng-if="project.remote.connected && (showEdit && files.length < 2 && path == '')" class="border-box-white text-center p-30 m-b-30 rel-box">
            <div class="md-title m-b-30">Upload your files</div>
            <div class="text-subtitle-thin">A folder has been created for this project in your {{project.remote.provider}}.</div>
            <div class="text-subtitle-thin m-b-30">Add files to this folder and they will appear below.</div>
            <div class="text-subtitle-thin m-b-30">
                <a ng-click="refreshList()" class="text-green">Refresh Folder</a>&nbsp;or&nbsp;<a ui-sref="app.project.settings.sync" class="text-green">Change Sync Settings</a>
            </div>
            <div layout="row" layout-align="center center" layout-wrap class="fileTypeDemo">
                <img src="/assets/images/vectors/filetype/dxf.svg">
                <img src="/assets/images/vectors/filetype/dwg.svg">
                <img src="/assets/images/vectors/filetype/pdf.svg">
                <img src="/assets/images/vectors/filetype/tex.svg">
                <img src="/assets/images/vectors/filetype/xlsx.svg">
                <img src="/assets/images/vectors/filetype/js.svg">
                <img src="/assets/images/vectors/filetype/cpp.svg">
                <img src="/assets/images/vectors/filetype/csv.svg">
                <img src="/assets/images/vectors/filetype/more.svg">
            </div>
            <loading-overlay ng-if="loading"></loading-overlay>
        </div>

        <div ng-if="project.remote.connected && !(showEdit && files.length < 1 && path == '')" class="file-explorer m-b-60">
            <div layout="row">
                <!-- Bread Crumbs -->
                <div class="md-subhead m-b-20" flex>
                    <file-bread-crumbs bread-crumbs="breadCrumbs" project="project"></file-bread-crumbs>
                    <span ng-show="searchActive">
                        <span class="interpunct"></span>
                        <input focus-me="{{searchActive}}" type="text" class="editable" style="width: 200px; text-transform: uppercase; display: inline;" placeholder="Search query" ng-model="searchString" ng-change="search(searchString)">
                    </span>
                </div>
                <div>
                    <a ng-click="toggleSearch()">
                        <md-icon ng-hide="searchActive" md-svg-icon="search"></md-icon>
                        <md-icon ng-show="searchActive" md-svg-icon="navigation:close"></md-icon>
                    </a>
                </div>
            </div>


            <!-- Table -->
            <div class="files-table border-box-white rel-box m-b-30 p-h-10">
                <table class="md-table" ng-if="searchActive">
                    <thead>
                        <tr>
                            <td style="width: 40px;"></td>
                            <td>Name</td>
                            <td style="width: 100px;">Modified</td>
                            <td style="width: 60px;">Size</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in matches">
                            <td>
                               <file-thumbnail ending-url="item.endingUrl" file-type="item.fileType" thumb-link="item.thumbLink"></file-thumbnail>
                            </td>
                            <td>
                                <a class="text-green" ng-click="openFileFolder(item)" ng-bind-html="item.name | typeaheadHighlightMatch : searchString"></a>
                            </td>
                            <td>{{item.client_modified | amTimeAgo}}</td>
                            <td>{{item.size | bytes}}</td>
                        </tr>
                        <tr ng-hide="matches.length > 0">
                            <td colspan="4">
                                <div class="text-grey" ng-show="searchString.length > 0">
                                    <span>No results. </span>
                                    <a ng-hide="path == ''" class="text-green" ui-sref="app.project.files({path: ''})">Search root folder.</a>
                                </div>
                                <div class="text-grey" ng-hide="searchString.length > 0">
                                    Search this folder by file name or file type.
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="md-table" ng-if="!searchActive">
                    <thead>
                        <tr>
                            <td style="width: 40px;"></td>
                            <td>Name</td>
                            <td></td>
                            <td style="width: 100px;"></td>
                            <td style="width: 60px;">Size</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in files">
                            <td>
                                <file-thumbnail ending-url="item.endingUrl" file-type="item.fileType" thumb-link="item.thumbLink"></file-thumbnail>
                            </td>
                            <td>
                                <a class="text-green" ng-click="openFileFolder(item)">{{item.name}}</a>
                            </td>
                            <td class="text-right" style="padding-right: 10px; padding-right: 10pxl">
                                <span class="label label-green label-md" style="margin-right: 10px;" ng-show="item['.tag'] == 'virtual'">Assembly File</span>
                                <dot ng-show="item.previewType != 'other'" class="green">
                                    <md-tooltip md-direction="bottom" md-autohide="true">Preview In Browser</md-tooltip>
                                </dot>
                            </td>
                            <td>{{item.client_modified | amTimeAgo}}</td>
                            <td>{{item.size | bytes}}</td>
                        </tr>
                        <tr ng-hide="files.length > 0">
                            <td colspan="4">
                                <div class="text-grey">Empty Folder.</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="anim-fade" ng-show="readme.body && !searchActive">
                <div class="m-b-15" layout="row">
                    <div class="md-subhead" flex>Readme.md</div>
                    <a ng-show="showEdit" ui-sref="app.preview({projectStub: project.stub, path: readme.path, edit: true})"><md-icon class="s-20 text-lightgrey" md-svg-icon="edit"></md-icon></a>
                </div>
                <div class="files-table border-box-white p-30 angular-medium-editor rel-box" style="min-height: 112px">
                    <file-readme project="project" files="files" readme="readme"></file-readme>
                </div>
            </div>

            <div ng-show="showEdit && !readme.body && !searchActive">
                <div class="text-lightgrey text-center">Add a readme.md file to this folder to help others understand what is inside.</div>
            </div>
        </div>

    </div>
</div>
