.newItem{
  width: 100%;
  border: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1; /* So the drop container can sit ontop */
}
.newItem:focus{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.placeholderCol{
  position: relative;
}
.placeholderCol::after{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  background: white;
}
