<div class="fields-filter" layout="row" layout-wrap>
    <a ng-click="select('')" flex="25" flex-md="33" flex-sm="50" layout="row" layout-align="start center" class="m-b-15" ng-class="{'active':filter.current == ''}">
        <div class="avatar-circle m-r-15" ng-style="{ 'background-image':'url('+'/assets/images/default/user-1.png'+'?size=thumb&crop=true)'}" ng-class="{'md-whiteframe-z2':filter.current == ''}"></div>
        <div flex class="ellipsis">All Fields</div>
    </a>
    <a ng-click="select(item._id)" flex="25" flex-md="33" flex-sm="50" layout="row" layout-align="start center" ng-repeat="item in filter.options" class="m-b-15" ng-class="{'active':filter.current == item._id}">
        <div class="avatar-circle m-r-15" ng-style="{ 'background-image':'url('+(item.picture || '/assets/images/default/user-1.png')+'?size=thumb&crop=true)'}" ng-class="{'md-whiteframe-z2':filter.current == item._id}"></div>
        <div flex class="ellipsis">{{item.name}}</div>
    </a>
<!--
    <a ng-click="more()" flex="25" layout="row" layout-align="start center" class="m-b-15">
        <div class="avatar-circle m-r-15" ng-style="{ 'background-image':'url('+'/assets/images/default/user-1.png'+'?size=thumb&crop=true)'}"></div>
        <div flex class="ellipsis">More</div>
    </a>
-->
</div>
