
<div class="line-divider-bottom m-v-30" layout="row" ng-if="showDivider">
    <div class="md-subhead" flex>{{typeInfo.typeTitle}}</div>
</div>
<row-view ng-repeat="item in query.results" data="item"></row-view>
<div ng-hide="query.notEnoughResults || hideMore">
    <a class="well-button m-t-30" layout="row" layout-align="center center" ng-click="query.more()" ng-disabled="query.noMoreResults">
        <div>{{query.noMoreResults ? 'No more results' : 'Load more'}}</div>
    </a>
</div>
<!--<div class="text-no-results" ng-show="noMoreResults">No more results</div>-->

<div ng-show="items.length==0" class="text-lightgrey">
    <div ng-show="showEdit">
        You are not following any {{typeInfo.typeTitle}} yet.
        <a ui-sref="{{typeInfo.followSome}}" class="text-green">Follow some!</a>
    </div>
    <div ng-show="!showEdit">
        Nothing here yet.
    </div>
</div>
