.navButton{
  border: 1px solid rgb(212, 212, 212);
  margin-left: -1px;
  padding: 7px 10px;
  min-width: 85px;
  text-align: center;


  background: transparent;
}
.navButton:focus{
  outline: none;
}
.navButton:hover{
  background: rgba(0, 0, 0, 0.03);
}
.navButton.active{
  background: rgb(42, 42, 42);
  color: white;
  border: 1px solid rgb(42, 42, 42);
}
.navButton.active:hover{
  background: rgb(42, 42, 42);
}
