@value primary, bg1 from "theme";


.tickOnly input:checked + div {
  background: none !important;
  color: inherit !important;
}


.radio input {
  display: none;
}
.radio input + div {
  padding: 10px;
  transition: all 0.1s ease
}

.radio label:hover input + div {
  background-color: bg1;
}
.radio label input:checked + div {
  background: primary;
  color: white;
}

.radio svg{
  transition: opacity 0.1s ease;
  opacity: 0;
}
.radio label:hover svg {
  opacity: 0.2;
}

.radio input:checked + div svg{
  opacity: 1;
}
