.header {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.headerInner {
  height: 60px;
}

.title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px;
}
