<div layout="row" layout-align="center">
    <!-- PUBLIC FOOTER -->
    <div ng-if="entity.published && !showEdit" class="md-content-container md-no-padding" layout="row" layout-align="start center">
        <stat-button display-style="circle" type="like"   parent-type="{{entity.type}}" parent-id="{{entity._id}}" count="entity.likes" class="green"></stat-button>
        <a stat-display-modal               type="like"   parent-type="{{entity.type}}" parent-id="{{entity._id}}" class="text-lightgrey count">{{entity.likes || 0}}</a>
        <md-button class="md-icon-button md-sm m-0" aria-label="comments" scroll-highlight="reply">
            <md-tooltip md-direction="top" md-autohide="true">Comment</md-tooltip>
            <md-icon md-svg-icon="response"></md-icon>
        </md-button>
        <a class="text-lightgrey count" scroll-highlight="responses">{{entity.posts.length || 0}}</a>
        <stat-button hide-sm entity-text="{{altType}}"  type="follow" parent-type="{{entity.type}}" parent-id="{{entity._id}}" count="entity.followers" class="lg m-l-15"></stat-button>
        <div flex></div>
        <social-share-buttons></social-share-buttons>
    </div>
    <!-- PRIVATE FOOTER -->
    <div ng-if="entity.published && showEdit" class="md-content-container md-no-padding" layout="row" layout-align="start center">
        <stat-button display-style="circle" type="like"   parent-type="{{entity.type}}" parent-id="{{entity._id}}" count="entity.likes" class="green"></stat-button>
        <a stat-display-modal               type="like"   parent-type="{{entity.type}}" parent-id="{{entity._id}}" class="text-lightgrey count">{{entity.likes || 0}}</a>
        <md-button class="md-icon-button md-sm m-0" aria-label="comments" scroll-highlight="reply">
            <md-tooltip md-direction="top" md-autohide="true">Comment</md-tooltip>
            <md-icon md-svg-icon="response"></md-icon>
        </md-button>
        <a class="text-lightgrey count" scroll-highlight="responses">{{entity.posts.length || 0}}</a>
        <stat-button hide-sm entity-text="{{altType}}"  type="follow" parent-type="{{entity.type}}" parent-id="{{entity._id}}" count="entity.followers" class="lg m-l-15"></stat-button>
        <div flex></div>
        <md-button hide-sm class="md-accent md-border md-cornered" ng-click="editFn()">Edit</md-button>
        <social-share-buttons></social-share-buttons>
    </div>
    <!-- PUBLISH FOOTER -->
    <div ng-if="!entity.published && showEdit" class="md-content-container md-no-padding" layout="row" layout-align="start center">
        <div flex class="ellipsis text-lightgrey"><b>Important:</b> This {{altType}} has not been published yet.</div>
        <md-button class="md-accent md-border md-cornered" ng-click="editFn()">Edit</md-button>
        <md-button hide-sm class="md-raised md-accent md-flat md-border-green md-cornered m-0" ng-click="publishFn($event)">Publish {{altType}}</md-button>
        <md-button publish-share-link="{{entity._id}}" class="md-icon-button m-0 md-grey md-sm" aria-label="share">
            <md-icon md-svg-icon="share"></md-icon>
            <md-tooltip md-direction="top" md-autohide="true">Share Private Link</md-tooltip>
        </md-button>
    </div>
    <!-- PUBLISH FOOTER PUBLIC -->
    <div ng-if="!entity.published && !showEdit" class="md-content-container md-no-padding" layout="column" layout-align="center">
        <div class="ellipsis text-lightgrey text-center">You have been given a private link to this page. Only people with the link can see it.</div>
    </div>
</div>
