@value primary-bg, border2, border1, bg1 from "theme";

.label{
  cursor: default;
  display: inline-block;
  padding: 6px;
  line-height: 1;
  color: white;
  background: primary-bg;
  border-radius: 3px;
  text-transform: capitalize;
}
