.apply-button{
    &.md-raised{
        &.active{
            background-color: rgba(139, 195, 74, 0.19) !important;
            color: rgb(139,195,74) !important;
        }
    }
}

.application-rows{
    .application-row{
        background-color: rgba(0, 0, 0, 0.03);
        padding: 30px;
        margin-bottom: 15px;
    }
}

.job-tiles{

}
.md-modal-header{
    padding: 0px 25px;
    height: 64px;
    min-height: 64px;
    border-bottom: 1px solid rgba(0,0,0,.07);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.03);
}
.md-modal-footer{
    padding: 0px 25px;
    height: 64px;
    min-height: 64px;
    border-top: 1px solid rgba(0,0,0,.07);
//    box-shadow: 0 -6px 20px 0 rgba(0,0,0,.03);
}
