@value primary, border1, bg1, grey-3 from "app/renderer/assets/css/themes/standard.css";

.comment{
}
.commentAvatar{
  margin-right: 10px
}
.commentBody{
  background: white;
  border: 1px solid border1;
  line-height: 1.5em;
}
.commentHeader{
  background: bg1;
  border-bottom: 1px solid border1;
  padding: 7px 10px;
}
.date{
  font-size: 11px;
  color: grey-3;
}


.commentContent{
  padding: 10px;

}
.commentFooter{
/*  border-top: 1px solid border1;*/
  padding: 6px 10px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}
.comment:first-child{
  margin-top: 15px;
}
.comment:last-child{
  margin-bottom: 15px;
}
.comment + .comment{
  margin-top: 15px;
}
