.sync-file-select{
    .file-icon{
        $size: 30px;
        width: $size;
        height: $size;
//        margin-left: 15px
        margin: 0 10px;
    }
    .selected{
        background: rgba(0, 0, 0, 0.03);
    }
}
