@value primary, border1 from "app/renderer/assets/css/themes/standard.css";

.toolbar{
  min-height: 36px;
  padding: 10px;
  background: primary;
  color: white;
}
.text{
  font-size: 14px;
  padding: 0 10px;
}
