<div layout="row" layout-align="center">
    <div class="editor-section container" layout="row" layout-align="center">
        <md-button type="button" ng-click="insertText($event)" class="md-accent md-flat md-circle md-raised md-sm">
            <md-tooltip md-direction="top" md-autohide="true">Insert Section</md-tooltip>
            <md-icon md-svg-icon="remove"></md-icon>
        </md-button>
        <md-button type="button" ng-click="insertImage($event)" class="md-accent md-flat md-circle md-raised md-sm">
            <md-tooltip md-direction="top" md-autohide="true">Insert Photo</md-tooltip>
            <md-icon md-svg-icon="insert-photo"></md-icon>
        </md-button>
        <md-button type="button" ng-click="insertVideo($event)" class="md-accent md-flat md-circle md-raised md-sm">
            <md-tooltip md-direction="top" md-autohide="true">Insert Video</md-tooltip>
            <md-icon md-svg-icon="video-collection"></md-icon>
        </md-button>
        <md-button type="button" ng-click="insertMath($event)" class="md-accent md-flat md-circle md-raised md-sm">
            <md-tooltip md-direction="top" md-autohide="true">Insert Math</md-tooltip>
            <md-icon md-svg-icon="functions"></md-icon>
        </md-button>
        <md-button type="button" ng-click="insertCode($event)" class="md-accent md-flat md-circle md-raised md-sm">
            <md-tooltip md-direction="top" md-autohide="true">Insert Code</md-tooltip>
            <md-icon md-svg-icon="memory"></md-icon>
        </md-button>
        <md-button type="button" ng-click="insertFiles($event)" class="md-accent md-flat md-circle md-raised md-sm">
            <md-tooltip md-direction="top" md-autohide="true">Insert Files</md-tooltip>
            <md-icon md-svg-icon="upload"></md-icon>
        </md-button>
	</div>
</div>
