@value primary, border1, bg1 from "theme";

.modal{
  width: 600px;
  height: 450px;
}

.header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.03);
  padding: 8px;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.search{
  width: 200px;
}
