@value primary, border1, bg1 from "theme";

.isDragging{
  opacity: 0.5;
}

.listItem{
  height: 45px;
  background: none;
  transition: 0.2s ease background;
  padding-left: 10px;
  position: relative;
}
.listItem:hover{
  background: bg1;
}
.listItem > div{
  padding: 0px 10px;
}
.listUser{
  color: rgba(0, 0, 0, 0.6);
  width: 105px;
}
.listItem:hover .listDate{
  opacity: 0;
}
.listDate{
  opacity: 1;
  width: 100px;
}
.listItem:hover .listActions{
  opacity: 1;
}
.listActions{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}


/* Card */
.card{
  border: 1px solid border1;
  margin-bottom: 15px;
  background: white;
  cursor: default;
}
.cardBody{
  padding: 15px;
  min-height: 57px;
}
.cardFooter{
  padding: 1px 0px 1px 15px;
  border-top: 1px dashed border1;
  cursor: move;
  height: 32px;
  line-height: 1.4em;
}
.cardText{
  margin-left: 4px;
  padding: 0px 10px;
  line-height: 1.4em;
  margin-top: -4px;
}
