.newItemBox{
  width: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
.newItemBox:focus{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.newItem{
  width: 100%;
  border: none;
  padding: 10px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.newItem:focus{
  outline: none;
}
