<md-dialog>
    <form novalidate name="LinkForm" ng-submit="save()">
        <md-dialog-content layout="column">
            <div style="width: 500px;">
                <h1 class="md-headline" style="margin-top: 0px; margin-bottom: 40px;">Edit File Details</h1>
				<md-input-container class="md-accent">
					<label>File Name</label>
					<input md-autofocus="true" name="name" ng-model="data.name" type="text" focus-me="true">
				</md-input-container>
<!--
			   <label class="btn-upload">
					<input type="file" class="upload" nv-file-select="" uploader="uploader"/>
					<span>Upload files</span>
				</label>
-->
            </div>
			<div layout="row" style="margin: 25px 0 -10px 0">
				<div flex>
					<md-button type="button" class="md-raised md-warn no-margin" ng-click="delete()">Delete File</md-button>
				</div>
				<div>
					<md-button type="button" ng-click="cancel()">Cancel</md-button>
					<md-button type="submit" class="md-accent md-raised" ng-disabled="LinkForm.$invalid">Save</md-button>
				</div>
			</div>
        </md-dialog-content>
    </form>
</md-dialog>
