
<div class="md-whiteframe-z2 rel-box" layout="column" ng-if="edit">
	<md-button type="button" class="md-circle md-xs md-raised md-accent edit" ng-click="editFile($event)" aria-label="edit"><md-icon md-svg-icon="edit"></md-icon></md-button>
	<img ng-class="{'my-handle' : edit}" ng-src="/assets/images/vectors/filetype/{{file.type || 'other'}}.svg" err-src="/assets/images/vectors/filetype/other.svg">
	<div>
		<div class="ellipsis text-lightgrey name">{{file.name}}</div>
	</div>
	<loading-overlay ng-if="item.progress" determinate="{{item.progress}}"></loading-overlay>
</div>

<a class="md-whiteframe-z2 rel-box" layout="column" ng-if="!edit" ng-href="{{file.url}}" target="_self" download="{{file.name}}">
	<img  ng-src="/assets/images/vectors/filetype/{{file.type || 'other'}}.svg" err-src="/assets/images/vectors/filetype/other.svg">
	<div>
		<div class="ellipsis text-lightgrey name">{{file.name}}</div>
	</div>
	<loading-overlay ng-if="item.progress" determinate="{{item.progress}}"></loading-overlay>
</a>
