<form unsaved-warning-form novalidate name="UpdatePasswordForm">

    <div layout="column" layout-align="center center" style="min-height: 100vh">
        <div layout="column">
            <h1 class="md-display-1" style="margin-bottom: 40px;">Set your new password</h1>
            <md-input-container class="md-accent">
                <label>New Password</label>
                <input name="newpassword" ng-model="password.newPassword"
                required type="password" minlength="7">
                <div ng-messages="UpdatePasswordForm.newpassword.$error" ng-if="UpdatePasswordForm.newpassword.$dirty">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="pattern">Sorry, that field name is invalid. You can't use the characters: / \ [ ]</div>
                    <div ng-message="minlength">Bit short... 7 character minimum</div>
                    <div ng-message="maxlength">Wow! too long...</div>
                </div>
            </md-input-container>
            <md-input-container class="md-accent">
                <label>Confirm new Password</label>
                <input name="confirmPassword" ng-model="password.confirmPassword"
                required type="password" minlength="7">
                <div ng-messages="UpdatePasswordForm.confirmPassword.$error" ng-if="UpdatePasswordForm.confirmPassword.$dirty">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="pattern">Sorry, that field name is invalid. You can't use the characters: / \ [ ]</div>
                    <div ng-message="minlength">Bit short... 7 character minimum</div>
                    <div ng-message="maxlength">Wow! too long...</div>
                </div>
            </md-input-container>

            <md-button type="submit" class="md-raised md-accent no-margin" ng-disabled="UpdatePasswordForm.$invalid" ng-click="updatePassword()" style="margin-top: 40px !important;">
                Update password
            </md-button>
        </div>
    </div>
</form>
